{% block head %}
<title>Gradel</title>
<link rel="icon" type="image/x-icon" href="{{ asset('logo1.png') }}" />
{% endblock %}


{% block body %}

<body>
    {{ include('template/top-nav.html.twig') }}


    {# Left Nav #}
    <nav class="nav-left">
        <a id="insert" class="btn" href="{{path('problem_edit', {'sectionId': sectionId, 'assignmentId': assignmentId, 'problemId': 1})}}"><div class="btn btn-center">Save</div></a>
    </nav>

    {# Main section #}
	
    <div class="scrollbar-macosx">
        <section id="main">
			{{ include('template/path-nav.html.twig') }}
		
            {# Cards #}
                    <div class="card">
            <table>
                <tr>
                    <th colspan="3">
                        <label for="name">Name</label>
                        <input id="name" name="name" type="text" value="">
                    </th>
                </tr>
                <tr>
                    <th colspan="3">
                        <label for="description">Description</label>
                        <input id="description" name="description" type="text">
                    </th>
                </tr>
                <tr>
                        <th colspan="2">
                            <label for="weight">Weight</label>
                            <input id="weight" name="weight" type="text">
                        </th>
                        <th colspan="2">
                            <label for="extra-credit">Is Extra Credit</label>
                            <input type="checkbox" name="extra-credit" value="extra-credit">
                        </th>
                    </tr>
					
					<tr>
                        <th colspan="2">
                            <label for="time_limit">Time Limit</label>
							<input type="text" id="time_limit">
                        </th>
						
						<th colspan="2">
                            <button class="btn btn-center" id="add-test">Add Test Case Manually</button></br>
							<button class="btn btn-center" id="add-test-file">Add Test Case By File</button>
                        </th>
                    </tr>

            </table>
        </div>


        	</div>
        </section>
    </div>


</body>

{% endblock %}


{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles.css') }}" />
    <link rel="stylesheet" href="{{ asset('home.css') }}" />
{% endblock %}


{% block scripts %}
    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{{ asset('js/cards.js') }}"></script>
	<script>
		testCases = 0;
		$("#add-test").click(function () {
			testCases++;
			div_name ="test-cases-"+testCases;
			formalName="Test Case "+testCases;
			newTestCard = `<div class="card">
				<div class="btn-close" onclick="collapseCard(&quot;`+div_name+`&quot;)">
					<h2 style="margin: 0px">`+formalName+`<span style="float: right"><i class="fa fa-angle-down"></i></span></h2>
				</div>
				<div id=`+div_name+`" class="card-contents">
					<table>
						<tr>
							<th colspan="1">
								<label for="input">Input</label>  
								<textarea rows="2" id="input" class="problem_creation" type="text" value=""></textarea>
							<th colspan="1">
								<label for="output">Output</label>  
								<textarea rows="2" id="output" class="problem_creation" type="text" value=""></textarea>
							<th colspan="2">
								<label for="weight">Weight</label>
								<input id="weight" name="weight" type="text"></th>
						</tr>
						<tr>
							<th colspan="2">
								<label>Feedback</label>
								<textarea rows="2" class="problem_creation" id="feedback" type="text" value=""></textarea></th>
							<th colspan="2">
								<a id="insert" class="btn"" onclick="insertTestCase(&quot;`+div_name+`&quot;)">
									<div class="btn btn-center">Save</div>
								</a>
							</th>
						</tr>
					</table>
				</div>
			</div>`;
			newTestCard = newTestCard.replace(new RegExp('\r?\n','g'), "");
			$("#main").append(newTestCard);
		});
		
		$("#add-test-file").click(function () {
			testCases++;
			div_name ="testcases"+testCases;
			formalName="Test Case "+testCases;
			newTestCard = `<div class="card">
				<div class="btn-close" onclick="collapseCard(&quot;`+div_name+`&quot;,)">
					<h2 style="margin: 0px">`+formalName+`<span style="float: right"><i class="fa fa-angle-down"></i></span></h2>
				</div>
				<div id=`+div_name+`" class="card-contents">
					<table>
						<tr>
							<th colspan="1">
								<label for="input">Input</label>  
								<input id="input" type="file" value=""></th>
							<th colspan="1">
								<label for="output">Output</label>  
								<input id="output" type="file" value=""></th>
							<th colspan="2">
								<label for="weight">Weight</label>
								<input id="weight" name="weight" type="text"></th>
						</tr>
						<tr>
							<th colspan="1">
								<label>Feedback</label><textarea rows="2" id="feedback" class="problem_creation" type="text" value=""></textarea></th>
							<th colspan="2">
								<a id="insert" class="btn"" onclick="insertTestCase(&quot;`+div_name+`&quot;)">
									<div class="btn btn-center">Save</div>
								</a>
						</tr>
					</table>
				</div>
			</div>`;
			newTestCard = newTestCard.replace(new RegExp('\r?\n','g'), "");
			$("#main").append(newTestCard);
		});	
		
		
		function insertTestCase(divname) {
				alert(divname);
				const the_input = divname.getElementById("input").value;
				const the_output = divname.getElementById("output").value;
				const fb = divname.getElementById("feedback").value;
				const the_weight = divname.getElementById("weight").value;
				$problem_id, $feedback_id, $seq_num, $input, $correct_output, $weight
				var path = "{{path('testcase_insert', {'sectionId': 'section_id', 'assignmentId': 'assignment_id', 'problemId': 'problem_id', 'feedback_id': '1', 'seq_num': '1', 'input': 'the_input', 'correct_output': the_output, 'weight': the_weight })}}";
				path = path.replace("name", name);
				path = path.replace("description", description);
				path = path.replace("the_input", input);
				path = path.replace("the_output", output);
				path = path.replace("section_id", {{sectionId}});
				path = path.replace("assignment_id", {{assignmentId}});
				path = path.replace("problem_id", {{problemId}});
				window.location.replace(path);
				alert("doing well");
			}
	</script>
{% endblock %}
