{% block head %}
<title>Gradel | {{problem.assignment.name}}</title>
<link rel="icon" type="image/x-icon" href="{{ asset('logo1.png') }}" />
{% endblock %}

{% block body %}

<body>
    {{ include('template/top-nav.html.twig') }}

    <nav class="nav-left">
        <ol style="padding-bottom: 10px">
		  <li style="padding-top: 0px; padding-bottom: 30px"> {{problem.assignment.name}} 
			<div><small>Due on {{problem.assignment.end_time|date('F d')}} {{problem.assignment.end_time|date('\\a\\t  h:i:s A')}} </small></div>
			</li>
          {% for prob in problem.assignment.problems %}
				<a href="{{path("assignment", {'userId': app.user.id, 'sectionId': prob.assignment.section.id, 'assignmentId': prob.assignment.id, 'problemId': prob.id})}}">
					<li>
						{{ prob.name }}
						{#<div><small> {{(user_subs[prob.id]*100)|number_format('2', '.')}}% </small></div>#}
					</li>
				</a>
          {% endfor %}
        </ol>
    </nav>

    <section id="main">

		{{ include('template/path-nav.html.twig') }}
	
        <div class="card">
            <h2 style="margin: 0px">{{problem.name}}</h2>
            <div id="courseInfo" class="card-contents">
                    <p>{{problemDescription|nl2br}}</p>
{# Keep this here so that the default code is in the right place #}
<div id="editor">#include &#60;stdio.h&#62;

int main(){
	
	// You can't actually submit code in here yet
	// Please use the upload form below
		
	return 0;
}</div>
            
                
                    <br>
					{% if usersectionrole.role.role_name == 'Takes' %}
						<form action="{{path('upload', {'problem_id': problem.id}) }}" method="post" enctype="multipart/form-data">
							<input type="file" name="fileToUpload" id="fileToUpload" value="Upload File">
							<br><br>
							Language: 
							<select name="language">
								{% for lang in languages %}				
									{% if lang.name != "No Language Restriction" %}
										<option value={{lang.id}}>{{lang.name}}</option>
									{% endif %}
								{% endfor %}
							</select>
							<br>
							<label for="main_class">Main Class: </label><input type="text" name="main_class">
							<br>
							<label for="package_name">Package Name: </label><input type="text" name="package_name">
							
							<br><br>
							<input type="submit" value="Submit Solution" name="submit">			
						</form>
						
					{% else %}
						You are not "Taking" this class, so you currently cannot submit a problem. Please look at Timothy and complain.
					{% endif %}
            
                    <p>{{upload_message}}</p>
            </div>
        </div>
    </section>
</body>
{% endblock %}


{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles.css') }}" />
    <link rel="stylesheet" href="{{ asset('submit.css') }}" />
    <link rel="stylesheet" href="{{ asset('home.css') }}" />
{% endblock %}

{% block scripts %}
    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script src="{{ asset('src-noconflict/ace.js') }}" type="text/javascript" charset="utf-8"></script>

	<script>
		var editor = ace.edit("editor");
		editor.setTheme("ace/theme/xcode");
		editor.getSession().setMode("ace/mode/c_cpp");
	</script>

{% endblock %}
