{% block head %}
<title>Gradel</title>
<link rel="icon" type="image/x-icon" href="{{ asset('logo1.png') }}" />
{% endblock %}


{% block body %}

<body>
    {{ include('template/top-nav.html.twig') }}


    {# Left Nav #}
    <nav class="nav-left">
        <a id="insert" class="btn"><div class="btn btn-center">Save</div></a>
        <br/>
        <a href="{{path('assignment_new', {'sectionId': section.id})}}" class="btn"><div class="btn btn-center">+ Assignment</div></a>
        <ol>
          {% for assignment in section.assignments %}
            <a>
              <li>
              <div>{{assignment.name}}</div>
            </li>
            </a>
          {% endfor %}
        </ol>
    </nav>

    {# Main section #}
    <div class="scrollbar-macosx">

        <section id="main">
              {# Cards #}
			  
			{{ include('template/path-nav.html.twig') }}

            <div class="card">
                <div class="btn-close" onclick="collapseCard('courseInfo')" style="margin: 0px; padding: 0px"><h2 style="margin: 0px">Section Info<span style="float: right">&#9660;</span><h2></div>
                <div id="courseInfo" class="card-contents">
                <div class="dyLabel"> Section Name: </div><div class="dynamicVal">&nbsp;{{section.name}} </div> <br/>
				<div class="dyLabel"> Course Name: </div><div class="dynamicVal">&nbsp;{{section.course.name}} </div>
                </div>
            </div>


            <div class="card-table">
							<table>
								<tr>
									<th colspan="3">

                    <label for="section">Course</label>
										<select name="section" id="section">
											{% for sec in sections %}
												<option  value="{{section.id}}" {{ (sec.id == section.course.id) ? "selected" : "" }}>{{sec.name}}</option>
											{% endfor %}
										</select>
									</th>
								</tr>
								<tr>
									<th colspan="3">
                    <label for="name">Section Name</label>
										<input id="name" name="name" type="text" value="{{section.name}}">
									</th>
								</tr>
								<tr>
									<th colspan="3">
                    <label>Semester</label>
										<select id="semester">
											<option {{section.semester == "Fall" ? "selected" : ""}}>Fall</option>
											<option {{section.semester == "Spring" ? "selected" : ""}}>Spring</option>
										</select>
									</th>
								</tr>
								<tr>
									<th colspan="3">
                    <label>Year</label>
										<select id="year">
											<option {{section.year == "2017" ? "selected" : ""}}>2017</option>
											<option {{section.year == "2018" ? "selected" : ""}}>2018</option>
										</select>
								</tr>

								<tr>
									<th>
                    <label>Add Student</label>
										<select id="student-picker">
											<option value="-1"></option>
											{% for u in users %}
												<option	onchange="addStudent()" value="{{u.email}}">
													{{u.getLastName() ~ ", " ~ u.getFirstName()}}
												</option>
											{% endfor %}
										</select>
									</th>
									<th>
										<button>upload csv</button>
									</th>
								</tr>
								<tr>
									<th colspan="3">
										<textarea id="student-csv">{% for u in usr %}{{u.user.email ~ ", \n"}}{% endfor %}</textarea>
									</th>
								</tr>
                <tr>
                  <th colspan="3">
                    <button>save</button>
                  </th>
                </tr>

								<!-- <tr>
									<th colspan="3">
										<button id="insert">add</button>
									</th>
								</tr> -->
							</table>
            </div>
        </section>
    </div>


</body>

{% endblock %}


{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles.css') }}" />
{% endblock %}


{% block scripts %}
    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{{ asset('js/cards.js') }}"></script>
    <script>
			$(document).ready(function() {
				$('#insert').on('click', function(){insertSection();});
				$('#student-picker').on('change', function(){addStudent();});
			});

			var studentArray = [];

			function addStudent() {
				const studentPicker = document.getElementById('student-picker');
				const value = studentPicker.value;
				const studentInput = document.getElementById('student-csv');
				studentInput.value += value + ", \n"
				studentArray = studentInput.value.split(", \n");
				studentPicker.selectedIndex = 0;
			}

			function insertSection() {
				const test = document.getElementById("section");
				const name = document.getElementById("name").value;
				const semester = document.getElementById("semester").value;
				const year = document.getElementById("year").value;
				const id = test[test.selectedIndex].value;

        console.log({{sectionId}})

				var path = "{{path('section_edit_query', { 'sectionId': 'section_id', 'courseId': 'course_id', 'name': 'name', 'students': 'students', 'semester': 'semester', 'year': 'year', 'start_time': 'start_time', 'end_time': 'end_time', 'is_deleted': 'is_deleted', 'is_public': 'is_public'})}}";
        path = path.replace("section_id", {{sectionId}})
        path = path.replace("course_id", id);
				path = path.replace("name", name);
				path = path.replace("students", JSON.stringify(studentArray));
				path = path.replace("semester", semester);
				path = path.replace("year", year);
				path = path.replace("name", name);
				path = path.replace("name", name);
				path = path.replace("start_time", new Date());
				path = path.replace("end_time", new Date());
				path = path.replace("is_deleted", false);
				path = path.replace("is_public", false);
				window.location.replace(path);
			}

		</script>
{% endblock %}
