{% block head %}
<title>Gradel | Edit Section</title>
<link rel="icon" type="image/x-icon" href="{{ asset('images/logo.png') }}" />
{% endblock %}

{% block body %}



<style>
  #feedback { font-size: 1.4em; }
  #selectable-semester .ui-selecting { background: #9FD0FF; }
  #selectable-semester .ui-selected { background: #71BAFF;; color: white; }
  #selectable-semester { list-style-type: none; margin: 0; padding: 0; width: 60%; }
  #selectable-semester li { margin: 3px; padding: 0.4em; font-size: 14px; height: 18px; }

  #selectable-year .ui-selecting { background: #9FD0FF; }
  #selectable-year .ui-selected { background: #71BAFF;; color: white; }
  #selectable-year { list-style-type: none; margin: 0; padding: 0; width: 60%; }
  #selectable-year li { margin: 3px; padding: 0.4em; font-size: 14px; height: 18px; }
  </style>




<body>
	{{ include('template/top-nav.html.twig') }}
	{{ include('template/section-nav.html.twig') }}
	<div id="SitePosition"
             class="hidden"
             data-pos='{
                 "start": {
                     "id": "Section-{{section.id}}",
                     "next": null
                 }
             }'></div>

    {# Left Nav for Section Edit#}
    <nav class="floatingControls">
		<a id="save-btn" class="floatingLink">
			<div class="floatingButton">Save {% if section.is_master %} - Will update slaves {% endif %}</div>
		</a>
		<a id="cancel-btn" class="floatingLink">
			<div class="floatingButton">Cancel</div>
		</a>
		{% if section is not null %}
			<a id="delete-btn" class="floatingLink">
				<div class="floatingButton deleteButton deleteWarning">{% if section.is_deleted %} Reinstate {% else %} Delete {% if section.is_master %} - Will delete slaves {% endif %} {% endif %}</div>
			</a>
			<a id="clone-btn" class="floatingLink">
				<div class="floatingButton">Clone with slaves</div>
			</a>
		{% endif %}
    </nav>


    {# Main section with the necessary variable#}
	<section id="main">
		<div class="main_content">
			{# Cards #}
			<div class="card">
				<div class="btn-close">
					<h2 style="margin: 0px">
					{% if section is not null %}
						Edit {{section.name}}
					{% else %}
						New Section
					{% endif %}
					</h2>
				</div>

				<div id="requiredFields" class="card-contents">
					<div>
						<table>
							<tr>
								<th colspan>
									<label for="course">Course</label>
									<select name="course" id="course">
									{% for course in courses %}
										<option value="{{course.id}}" id="{{course.is_contest ? 'yes' : 'no'}}">{{course.name}}</option>
									{% endfor %}
									</select>
								</th>

								<th colspan>
									<label for="name">Section Name</label>
									<input id="name" name="name" type="text" value="">
								</th>
							</tr>
							<tr> 

								<th colspan>
									<label>Semester</label>
									{% if section.is_master or section.master == null %}
									<table>
										<tr id="selectable-semester">
											<th class="ui-widget-content">Fall</th>
											<th class="ui-widget-content">Spring</th>
											<th class="ui-widget-content">Summer</th>
										</tr>
									</table>
									{% elseif section.semester != null %}
									<span>- {{section.semester.term}}</span>
									{% endif %}
								</th>

								<th colspan>
									<label>Year</label>
									{% if section.is_master or section.master == null %}
									<table>
										<tr id="selectable-year">
										{% for yr in ("now"|date("Y"))-1..("now"|date("Y"))+3 %}
											<th class="ui-widget-content">{{yr}}</th>
										{% endfor %}
										</tr>
									</table>
									{% elseif section.semester != null%}
									<span>- {{section.semester.year}}</span>
									{% endif %}
								</th>
							</tr>

							<tr> 
								<th>
									<label for="startdatepicker">Starting Date </label><input type="text" id="startdatepicker" style="width: 100px; margin-right: 20px">
								</th>
								<th>	
									<label for="enddatepicker">Ending Date </label><input type="text" id="enddatepicker" style="width: 100px">
								</th>
							</tr>
						</table>
					</div>
				</div>
			</div>

			<div class="card">
				<div class="card-content">
					{% if section.id is null %}
					<table>
						<tr>
							<th>
								<label>Master-Slave</label>
								<form id="slaveForm">
									<div>
										<label for="isMasterInput">Is this a master section?</label>
										<input type="checkbox" name="isMaster" id="isMasterInput">
									</div>
									<div>
										<label for="numberOfSlavesInput">How many slaves should it have?</label>
										<input type="number" name="numberOfSlaves" id="numberOfSlavesInput" value="1" min="1" max="1000">
									</div>
								</form>
							</th>
						</tr>
					</table>
					{% endif %}
				</div>

				{% if section.is_master %}
				<table>
					<tr>
						<th>
							<label>This is a master section with {{section.slaves|length}} slaves</label>
						</th>
					</tr>
				</table>
				{% elseif master %}
				<table>
					<tr>
						<th>
							<div>
								<label>The master section is <a style="text-decoration: underline;" href="{{path('section', {'sectionId':master.id})}}">{{master.name}}</a>.</label>
							</div>
							<div>
								<form id="masterRemovalForm">
									<label for="removeFromMasterInput">Remove from the master section?</label>
									<input type="checkbox" name="removeFromMaster" id="removeFromMasterInput">
								</form>
							</div>
						</th>
					</tr>
				</table>
				{% endif %}
			</div>

			<div class="card">
				<div class="card-content">
					<table>
						<tr> <th>
							<label>Add Student</label>
							<select id="student-picker">
								<option value="-1"></option>
								{% for u in users %}
									<option value="{{u.email}}">
									{{u.getFirstName() ~ " " ~ u.getLastName()}}
									</option>
								{% endfor %}
							</select>

							{# file upload#}
							<form id="studentCSVForm" action="{{path('get_contents')}}" method="post">
								<input type="file" name="file" id="file" value="Upload File">
							</form>

							<textarea id="student-csv"></textarea>
						</th> </tr>
					</table>
				</div>
			</div>

			<div class="card">
				<div class="card-content">
					<table>
						<tr> <th>
						<label>Add Instructor</label>
						<select id="teacher-picker">
							<option value="-1"></option>
							{% for i in instructors %}
								<option value="{{i.email}}">
								{{i.getFirstName() ~ " " ~ i.getLastName()}}
								</option>
							{% endfor %}
						</select>

						{# file upload#}
						<form id="teacherCSVForm" action="{{path('get_contents')}}" method="post">
							<input type="file" name="file" id="file" value="Upload File">
						</form>

						<textarea id="teacher-csv"></textarea>
					</th> </tr>
					</table>
				</div>
			</div>
			<div id="FloatingControlsSpacer"></div>
		</div>
	</section>

	<div id="cloneDialog">
		<div id = "dialogHeader">
			<p>Section Clone </p>
		</div>
		<div id = "dialogBody">
			<div id = "row1">
				<div>
					<label for="name">Section Name </label>
					<input id="cloneName" name="name" type="text" value="" size = "20">
				</div>
				<div>
					<label for="numberOfSlaves">How many slaves?</label>
					<input type = "text" id = "numberOfSlaves" size = "3" maxlength = "2">
				</div>
			</div>
			<div id = "row2">
				<div id = "section1">
					<label>Semester</label>
					<table>
						<tbody>
							<tr id="selectableSemester" class="ui-selectable">
								<th class="ui-widget-content ui-selectee">Fall</th>
								<th class="ui-widget-content ui-selectee">Spring</th>
								<th class="ui-widget-content ui-selectee">Summer</th>
							</tr>
						</tbody>
					</table>
				</div>
				<div id = "section2">        
					<label>Year</label>
						<table>
							<tbody>
							<tr id="selectableYear" class="ui-selectable">
								{% for yr in ("now"|date("Y"))-1..("now"|date("Y"))+3 %}
									<th class="ui-widget-content">{{yr}}</th>
								{% endfor %}
							</tr>
						</tbody></table>
				</div>
			</div>
		</div>

		<div id="row4">
			<div id="cloneCancel"><a href="#">Cancel</a></div>
			<div id="cloneSave"><a>Save</a></div> 
		</div>
		<div id="sectionData" data-id="{{section.id}}"></div>
	</div>

</body>

{% endblock %}


{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/styles.css') }}" />
	<link rel="stylesheet" href="{{ asset('styles/toastr.css') }}" />
    <link rel="stylesheet" href="{{ asset('styles/card.css') }}" />
	<link rel="stylesheet" href="{{ asset('styles/clone.css') }}" />
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<link rel="stylesheet" href="{{ asset('font-awesome-4.7.0/css/font-awesome.min.css') }}">
	<style>
		select {
			height: 20px;
			width: 400px;
			padding: 0px;
		}

		input {
			padding: 0px;
			height: 20px;
		}



	</style>

{% endblock %}


{% block scripts %}
    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script src="{{ asset('js/cards.js') }}"></script>
	<script src="{{ asset('js/toastr/toastr.js') }}"></script>
	<script src="{{ asset('js/clone.js') }}"></script>
	<script src="{{ asset('js/validation.js') }}"></script>

	{# asynchronous file upload #}
	<script src="http://malsup.github.com/jquery.form.js"></script>

	<script>

		

		$(document).ready(function() {
			
			$(() => {$("#selectable-semester").selectable()});
			$(() => {$("#selectable-year").selectable()});

			var toContest = [];

			{% for course in courses %}
			toContest[{{course.id}}] = {% if course.is_contest %} true {% else %} false {% endif %};
			{% endfor %}
			
			$('#course').change( function() {		
				
				if(toContest[$(this).val()]){
					window.location = "{{ path('contest_edit', {'contestId': 0, 'courseId': ''} ) }}"+$(this).val();	
				}
				
			});
			
			$('#semester').change( function() {
				
				setDateStuff($('#year').val(), $(this).val());
				
			});
			

			$('#startdatepicker').datepicker({
				showAnim: "slideDown",
				selectOtherMonths: true,
				showOtherMonths: true,
				showButtonPanel: true
			});

			$('#enddatepicker').datepicker({
				showAnim: "slideDown",
				selectOtherMonths: true,
				showOtherMonths: true,
				showButtonPanel: true
			});

			{% if section is not null %}
			populateForm();
			{% else %}
			//collapseCard('additionalOptions');
			
			// guess the dates
			setDateStuff({{now|date('Y')}},{{now|date('m')}});
			
			{% endif %}

			{% if section is not null %}
			var warned = 0;
			$('#delete-btn').on('click', function(){

				if(warned == 2){
					window.location = "{{path('section_delete', {'sectionId': section.id})}}";

				} else if(warned == 1) {
					$('.deleteWarning').html("Are you REALLY sure? Click again to {% if section.is_deleted %} Reinstate {% else %} Delete {% endif %}");
				} else {
					$('.deleteWarning').html("Are you sure? Click again to {% if section.is_deleted %} Reinstate {% else %} Delete {% endif %}");
				}

				warned++;
			});
			{% endif %}

			
		});
		
		{# Student CSV Upload #}
		// submit the form if the file upload is changed
		$('#studentCSVForm #file').change( function(data) {
			$('#studentCSVForm').submit();
		});

		// overwrite the normal submit to call the ajaxsubmit
		// asynchronous script to handle the submission form upload
		$('#studentCSVForm').submit(function() {
			$(this).ajaxSubmit({

				beforeSubmit: 	function(formData, jqForm, options){
					/* CLIENT-SIDE VALIDATION */
					return true;

				},
				success:		function(responseText, statusText, xhr, $form) {

					var file = responseText['files'][0];

					$('#student-csv').val(atob(file["contents"]));
					$('#studentCSVForm').hide();
					
					addCommas('student-csv');

				},
				error:			function(xhr, textStatus, errorThrown) {
					alert(xhr['responseText']);
				}
			});

			return false;
		});

		{# Teacher CSV Upload #}
		// submit the form if the file upload is changed
		$('#teacherCSVForm #file').change( function(data) {
			$('#teacherCSVForm').submit();
		});

		// overwrite the normal submit to call the ajaxsubmit
		// asynchronous script to handle the submission form upload
		$('#teacherCSVForm').submit(function() {
			$(this).ajaxSubmit({

				beforeSubmit: 	function(formData, jqForm, options){

					/* CLIENT-SIDE VALIDATION */
					return true;

				},
				success:		function(responseText, statusText, xhr, $form) {

					var file = responseText['files'][0];

					$('#teacher-csv').val(atob(file["contents"]));
					$('#teacherCSVForm').hide();
					
					addCommas('teacher-csv');

				},
				error:			function(xhr, textStatus, errorThrown) {
					alert(xhr['responseText']);
				}
			});

			return false;
		});

		{# Save Button #}
		$('#save-btn').on('click', function(){
			/* Client-Side Validation */
			// section name
			if ($.trim($('#name').val())  === '') {
				setInvalid($('#name'));
				$('#name').on('input',function(e){
					setValid($('#name'));
				});
				return false;
			} else {
				setValid($('#name'));
			}

			// make sure that if one date is provided, the other one is too
			if ($('#enddatepicker').val() == '' && $('#startdatepicker').val() != '' || $('#enddatepicker').val() != '' && $('#startdatepicker').val() == ''){
				setInvalid($('#startdatepicker'));
				$('#startdatepicker').on('change',function(e){
					setValid($('#startdatepicker'));
				});
				setInvalid($('#enddatepicker'));
				$('#enddatepicker').on('change',function(e){
					setValid($('#enddatepicker'));
				});
				return false;
			} else {
				setValid($('#startdatepicker'));
				setValid($('#enddatepicker'));
			}

			// make sure that the dates make sense if they provided them
			if ($('#enddatepicker').datepicker('getDate') < $('#startdatepicker').datepicker('getDate')){
				setInvalid($('#enddatepicker'));
				$('#enddatepicker').on('change',function(e){
					setValid($('#enddatepicker'));
				});
				return false;
			} else {
				setValid($('#enddatepicker'));
			}

			let isMaster = false;
			{% if section.is_master %}
			isMaster = true;
			{% endif %}

			let numberOfSlaves = 0;
			let removeFromMaster = false;
			{% if section.id is null %}
			isMaster = $('#isMasterInput').is(":checked");
			if (isMaster) {
				numberOfSlaves = $('#numberOfSlavesInput').val();
				if (numberOfSlaves < 1) {
					setInvalid($('#numberOfSlavesInput'));
				} else {
					setValid($('#numberOfSlavesInput'));
				}
			}
			{% elseif not section.is_master %}
				removeFromMaster = $('#removeFromMasterInput').is(":checked");
			{% endif %}

			/* Array of Teachers */
			var teachers = document.getElementById('teacher-csv').value.split(",");
			for(var i=0; i<teachers.length; i++){
				teachers[i] = teachers[i].replace(/\n/g, '');
				teachers[i] = teachers[i].replace(/ /g, '');
			}
			teachers.pop(); // remove the blank last element

			/* Array of Students */
			var students = document.getElementById('student-csv').value.split(",");
			for(var i=0; i<students.length; i++){
				students[i] = students[i].replace(/\n/g, '');
				students[i] = students[i].replace(/ /g, '');
			}
			students.pop(); // remove the blank last element

			// check to see if this button is allowed to be pressed
			if($(this).prop('disabled')){
				return false;
			} else {
				$(this).prop('disabled', true);
			}
			console.log("somewhere");

			let semester = $('#selectable-semester').children(".ui-selected").html();
			let year = $('#selectable-year').children(".ui-selected").html();

			{% if not section.is_master and section.master != null %}
			semester = "{{section.semester.term}}";
			year = {{section.semester.year}};
			{% endif %}

			/* Post to the Symfony Route */
			$.post( "{{path('section_modify')}}", {
				name: $.trim($('#name').val()),
				course: $('#course').val(),
				semester: semester,
				year: year,
				numberOfSlaves: numberOfSlaves,
				isMaster: isMaster,
				teachers: JSON.stringify(teachers),
				removeFromMaster: removeFromMaster,
				students: JSON.stringify(students),
				start_time: $('#startdatepicker').val(),
				end_time: $('#enddatepicker').val(),
				section: {% if section is not null %} {{section.id}} {% else %} 0 {% endif %}
			}, function(data) {
				window.location = data["redirect_url"];
			}).fail(function(data) {
				alert(data["responseText"]);
				$(this).prop('disabled', false);
			});
		});

		$('#cancel-btn').on('click', () => {
			window.history.back();
		});

		$('#student-picker').on('change', function(){
			updateStudentCSV();
		});

		$('#teacher-picker').on('change', function(){
				updateTeacherCSV();
			});

		function updateStudentCSV() {

			// get the value of the new student
			var studentPicker = $('#student-picker');

			if(studentPicker.val() == -1){
				return;
			}

			// update the text area
			var studentCSV = $('#student-csv');
			studentCSV.val(studentCSV.val() + studentPicker.val() + ", \n");

			// reset the dropdown to black
			$('option:selected', studentPicker).remove();
			studentPicker.val(0);
		}

		function updateTeacherCSV() {

			// get the value of the new teacher
			var teacherPicker = $('#teacher-picker');

			if(teacherPicker.val() == -1){
				return;
			}

			// update the text area
			var teacherCSV = $('#teacher-csv');
			teacherCSV.val(teacherCSV.val() + teacherPicker.val() + ", \n");

			// reset the dropdown to black
			$('option:selected', teacherPicker).remove();
			teacherPicker.val(0);
		}
		
		function addCommas(csvID) {
			
			var csv = $('#' + csvID);
			
			csv.val(csv.val().replace(/,/g, '\n'));
			csv.val(csv.val().replace(/(\n)+/g, '\n'));
			csv.val(csv.val().replace(/\n/g, ',\n'));
			
			return;			
		}
		
		function setDateStuff(year, month){
			
			$('#year').val(year);
				
			if(month <= 5 || month == "Spring"){
				
				$('#startdatepicker').val('01/01/'+year);				
				$('#enddatepicker').val('05/10/'+year);
				$('#semester').val("Spring");
				
			} else if(month <= 7 || month == "Summer"){
				
				$('#startdatepicker').val('05/10/'+year);				
				$('#enddatepicker').val('08/01/'+year);
				
				$('#semester').val("Summer");
				
			} else {
				
				$('#startdatepicker').val('08/01/'+year);				
				$('#enddatepicker').val('12/31/'+year);
				
				$('#semester').val("Fall");			
				
			}
		}

	</script>


	{% if section is not null %}
	<script>
	function populateForm(){
		
		for (const c of $('#selectable-semester').children()) {
			if (c.innerHTML == "{{section.semester.term}}") {
				$(c).addClass("ui-selected");
			}
		}

		for (const c of $('#selectable-year').children()) {
			if (c.innerHTML == "{{section.semester.year}}") {
				$(c).addClass("ui-selected");
			}
		}

		// set the course
		$('#course').val("{{section.course.id}}");

		// set the name
		$('#name').val("{{section.name}}");

		// set the semester
		$('#semester').val("{{section.semester.term}}");

		// set the year
		$('#year').val("{{section.semester.year}}");

		// set the teachers csv
		{% for std in section_teacher_roles %}
		$('#teacher-csv').append("{{std.user.email}}"+",\n");		
		{% endfor %}

		// set the students csv
		{% for std in section_taker_roles %}
		$('#student-csv').append("{{std.user.email}}"+",\n");	
		{% endfor %}

		// set the starting date
		$('#startdatepicker').val("{{section.start_time|date('m/d/Y')}}");

		// set the ending date
		$('#enddatepicker').val("{{section.end_time|date('m/d/Y')}}");

	}

	</script>
	{% endif %}

{% endblock %}
