{% block head %}
<title>Gradel</title>
{% endblock %}


{% block body %}

<body>
	{{ include('template/top-nav.html.twig') }}

    <section id="course-container">

    </section>

    {# Left Nav #}
    <nav class="nav-left">
		<a id="save-btn" class="btn"><div class="btn btn-center">Save</div></a>
    </nav>
	

    {# Main section with the necessary variable#}
    <div class="scrollbar-macosx">
        <section id="main">
		
		
			{{ include('template/path-nav.html.twig') }}
		
            {# Cards #}
            <div class="card">
				<div class="btn-close">
					<h2 style="margin: 0px">
					{% if section is not null %}
						Edit Section
					{% else %}
						New Section
					{% endif %}					
					</h2>
				</div>
				
				<div id="requiredFields" class="card-contents">				
					<div>
						<table>
							<tr>
								<th colspan="3">
									<label for="course">Course</label>
									<select name="course" id="course">
										{% for course in courses %}
											<option value="{{course.id}}">{{course.name}}</option>
										{% endfor %}
									</select>
								</th>
							</tr>
							
							<tr>
								<th colspan="3">
									<label for="name">Section Name</label>
									<input id="name" name="name" type="text" value="">
								</th>
							</tr>
							
							<tr>
								<th colspan="3">
									<label>Semester</label>
									<select id="semester">
										<option>Fall</option>
										<option>Spring</option>
										<option>Summer</option>
									</select>
								</th>
							</tr>
							
							<tr>
								<th colspan="3">
									<label>Year</label>
									<select id="year">
										{% for yr in ("now"|date("Y"))-1..("now"|date("Y"))+3 %}
											<option>{{yr}}</option>
										{% endfor %}
									</select>
							</tr>

							<tr>
								<th>
									<label>Add Student</label>
									<select id="student-picker">
										<option value="-1"></option>
										{% for u in users %}
											<option value="{{u.email}}">
												{{u.getLastName() ~ ", " ~ u.getFirstName()}}
											</option>
										{% endfor %}
									</select>
								</th>
							</tr>
							
							<tr>
								<th colspan="3">
									<textarea id="student-csv"></textarea>
								</th>
							</tr>

						</table>
					</div>
				</div>
            </div>

			<div class=card>
				<div class="btn-close" onclick="collapseCard('additionalOptions')">
					<h2 style="margin: 0px">Additional Options
						<span style="float: right"><i class="fa fa-angle-down"></i></span>
					</h2>
				</div>
				
				<div id="additionalOptions" class="card-contents">				
					<div>						
						<label for="startdatepicker">Starting Date </label><input type="text" id="startdatepicker" style="width: 100px; margin-right: 20px">
						<label for="enddatepicker">Ending Date </label><input type="text" id="enddatepicker" style="width: 100px">
					</div>
				</div>
        	</div>
        </section>
    </div>

	
	

</body>

{% endblock %}


{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles.css') }}" />
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<link rel="stylesheet" href="{{ asset('font-awesome-4.7.0/css/font-awesome.min.css') }}">

{% endblock %}


{% block scripts %}
    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{{ asset('js/cards.js') }}"></script>
	
	<script>
	
		$(document).ready(function() {
		
			
			$('#year').val("{{'now'|date('Y')}}");
		
			$('#startdatepicker').datepicker({
				showAnim: "slideDown",
				selectOtherMonths: true,
				showOtherMonths: true,
				showButtonPanel: true
			});
			
			$('#enddatepicker').datepicker({
				showAnim: "slideDown",
				selectOtherMonths: true,
				showOtherMonths: true,
				showButtonPanel: true
			});
			
			{% if section is not null %}
			populateForm();
			{% else %}			
			collapseCard('additionalOptions');
			{% endif %}
			
			$('#save-btn').on('click', function(){
				
				/* Client-Side Field Validation */
				
				// section name
				if ($.trim($('#name').val())  === '') {						
					setInvalid($('#name'));
					return false;
				} else {
					setValid($('#name'));
				}
								
				/* Array of Students */
				var students = document.getElementById('student-csv').value.split(",");
				for(var i=0; i<students.length; i++){
					students[i] = students[i].replace(/\n/g, '');
					students[i] = students[i].replace(/ /g, '');
				}				
				students.pop(); // remove the blank last element

				/* Post to the Symfony Route */
				$.post( "{{path('section_modify')}}", {				
					name: $.trim($('#name').val()),
					course: $('#course').val(),
					semester: $('#semester').val(),
					year: $('#year').val(),
					students: JSON.stringify(students),
					start_time: $('#startdatepicker').val(),
					end_time: $('#enddatepicker').val(),
					section: {% if section is not null %} {{section.id}} {% else %} 0 {% endif %}
					
				}, function(data) {			
					console.log(data);
					
					window.location = data["redirect_url"];
				}).fail(function(data) {
				
					alert(data["responseText"]);
				
				});				
			});
			
			$('#student-picker').on('change', function(){
				updateStudentCSV();
			});
		});
		
		function setInvalid(div) {
			div.css('border', '3px solid red');
			div.css('background-color', '#FD8177');
		}
		
		function setValid(div) {
			div.css('border', '');
			div.css('background-color', '');
		}

		function updateStudentCSV() {
			
			// get the value of the new student
			var studentPicker = $('#student-picker');
			
			if(studentPicker.val() == -1){
				return;
			}
			
			// update the text area
			var studentCSV = $('#student-csv');
			studentCSV.val(studentCSV.val() + studentPicker.val() + ", \n");
			
			// reset the dropdown to black			
			$('option:selected', studentPicker).remove();
			studentPicker.val(0);
		}
		
	</script>
	
	
	{% if section is not null %}
	<script>
	function populateForm(){
		/*
		
		students: JSON.stringify(students),
		start_time: $('#startdatepicker').val(),
		end_time: $('#enddatepicker').val()
		*/
		
		// set the course
		$('#course').val({{section.course.id}});
		
		// set the name
		$('#name').val("{{section.name}}");
		
		// set the semester
		$('#semester').val("{{section.semester}}");
		
		// set the year
		$('#year').val("{{section.year}}");
		
		// set the students csv
		{% for std in section_taker_roles %}
		$('#student-picker').val("{{std.user.email}}");
		updateStudentCSV();
		{% endfor %}
		
		// set the starting date
		$('#startdatepicker').val("{{section.start_time|date('m/d/Y')}}");		
		
		// set the ending date
		$('#enddatepicker').val("{{section.end_time|date('m/d/Y')}}");
		
	}
	
	</script>
	{% endif %}
	
{% endblock %}
