{% block head %}

    <title>Gradel{% if section != null %}
            |
            {{section.name}}
        {% endif %}
    </title>
    <link rel="icon" type="image/x-icon" href="{{ asset('images/logo.png') }}"/>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"/>

    <link rel="stylesheet" href="{{ asset('styles/styles.css') }}"/>
    <link rel="stylesheet" href="{{ asset('styles/card.css') }}"/>

    <link rel="stylesheet" href="{{ asset('font-awesome-4.7.0/css/font-awesome.min.css') }}">
{% endblock %}

{% block body %}

    <body>
        {{ include('template/top-nav.html.twig') }}
        {{ include('template/section-nav.html.twig') }}

        {% if is_granted("ROLE_SUPER") %}
            {# edit button #}
            <div class="floatingControls">
                <a class="floatingLink" href="{{path('section_edit', {'sectionId': section.id})}}">
                    <div class="floatingButton">Edit Section</div>
                </a>
            </div>
        {% endif %}

        {# Main section #}
        <section id="main">
            <div class="main_content">
                <div class="card">
                    <div class="sectionHeaderContainer">
                        <div class="sectionHeader">{{section.name}}</div>
                        <div class="sectionSubHeader">
                        {% if section_teachers | length > 0 %}
                            Prof: {{section_teachers[0]}}
                        {% endif %}
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="btn-close" onclick="collapseCard('Assignment')">
                        <h2 style="margin: 0px">Assignment<span style="float: right">
                                <i class="fa fa-angle-down"></i></span></h2>
                    </div>
                    <div id="Assignment">
                        {% for assignment in section.assignments %}
                            <div class="assignmentContainer">
                                <div>
                                    <div class="assignmentHeader">
                                        <a href="{{path('assignment', {'sectionId': section.id, 'assignmentId': assignment.id})}}" class="assignmentLink">{{assignment.name}}</a>
                                    </div>
                                    <div class="assignmentInfo">
                                        <div>Due:
                                            {{assignment.end_time|date('m/d/Y')}}</div>
                                        <div>Weight:
                                            {{assignment.weight}}</div>
                                        {% for problem in assignment.problems %}
                                            <div>
                                                {# <div id="TestData" data-display-testcaseresults="{{problem.display_testcaseresults}}"
                                                data-testcase-output-level="{{problem.testcase_output_level}}"
                                                data-extra-testcases-display="{{problem.extra_testcases_display}}"
                                                data-testcase-counts="{{problem.testcase_counts|json_encode}}"></div> #}
                                                <a href="{{path('assignment', {'sectionId': section.id, 'assignmentId': assignment.id, 'problemId': problem.id})}}" class="assignmentLink">{{problem.name}}</a>
                                                | 4/4</div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

{% endblock %}

{% block scripts %}
<!-- JQuery -->
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="{{ asset('js/cards.js') }}"></script>

{% if is_granted("ROLE_SUPER") %}
    <script src="{{ asset('js/floating-control.js') }}"></script>
{% endif %}

{% endblock %}