{% block head %}

    <title>Gradel{% if section != null %}
            |
            {{section.name}}
        {% endif %}
    </title>
    <link rel="icon" type="image/x-icon" href="{{ asset('images/logo.png') }}"/>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"/>

    <link rel="stylesheet" href="{{ asset('styles/styles.css') }}"/>
    <link rel="stylesheet" href="{{ asset('styles/card.css') }}"/>

    <link rel="stylesheet" href="{{ asset('font-awesome-4.7.0/css/font-awesome.min.css') }}">
{% endblock %}

{% block body %}

    <body>
        {{ include('template/top-nav.html.twig') }}
        {{ include('template/section-nav.html.twig') }}
        <div id="SitePosition"
             class="hidden"
             data-pos='{
                 "start": {
                     "id": "Section-{{section.id}}",
                     "next": null
                 }
             }'></div>

        {% if is_granted("ROLE_SUPER")or is_granted("ROLE_ADMIN")or grader.isTeaching(user, section) %}
            {# edit button #}
            <div class="floatingControls">
                {% if is_granted("ROLE_SUPER")or is_granted("ROLE_ADMIN") %}
                    <a class="floatingLink" href="{{path('section_edit', {'sectionId': section.id})}}">
                        <div class="floatingButton">Edit Section</div>
                    </a>
                    <a class="floatingLink" href="{{path('assignment_edit', {'sectionId': section.id})}}">
                        <div class="floatingButton">Create Assignment</div>
                    </a>
                {% endif %}
                <a id="download" class="disabledFloatingLink" download="{{ section.name }} grades.csv">
                    <div class="floatingButton">Download Grades</div>
                </a>
            </div>
        {% endif %}

        {# Main section #}
        <section id="main">
            <div class="main_content">
                <div class="card">
                    <div class="sectionHeaderContainer">
                        <div class="sectionHeader">{{section.name}}</div>
                        <div class="sectionSubHeader">
                            {% if section_teachers | length > 0 %}
                                Prof:
                                {{section_teachers[0]}}
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="btn-close" onclick="collapseCard('Assignment')">
                        <h2 style="margin: 0px">Assignment<span style="float: right">
                                <i class="fa fa-angle-down"></i></span></h2>
                    </div>
                    <div id="Assignment">
                        {% for assignment in section.assignments %}
                            <div class="assignmentContainer">
                                <div>
                                    <div class="assignmentHeader">
                                        <a href="{{path('assignment', {'sectionId': section.id, 'assignmentId': assignment.id})}}" class="assignmentLink">{{assignment.name}}</a>
                                    </div>
                                    <div class="assignmentInfo">
                                        {% if "now"|date("m/d/Y") < assignment.start_time|date('m/d/Y') %}
                                            <div> Opens:
                                            {{assignment.start_time|date('m/d/Y')}}</div>
                                        
                                        {% elseif "now"|date("m/d/Y") < assignment.end_time|date('m/d/Y') %}
                                            <div> Due:
                                            {{assignment.end_time|date('m/d/Y')}}</div>
                                        
                                        {% elseif "now"|date("m/d/Y") < assignment.end_time|date('m/d/Y') %}
                                            <div> Closes:
                                            {{assignment.cutoff_time|date('m/d/Y')}}</div>
                                        {% else %}
                                            <div> Closed </div>                                        
                                        {% endif %}
                                        <div>Weight:
                                            {{assignment.weight}}</div>
                                        {% for problem in assignment.problems %}
                                            <div>
                                                <a href="{{path('assignment', {'sectionId': section.id, 'assignmentId': assignment.id, 'problemId': problem.id})}}" class="assignmentLink">{{problem.name}}</a>
                                                |
                                                {% if isTeaching %}
                                                    {{problem.numberOfCompletedStudents}}/{{section_takers | length}}
                                                    Students Completed
                                                {% else %}
                                                    {% if problem.userTestCaseInfo.numberOfCorrectTestCases == 0 %}
                                                        {% set colorClass = 'red' %}
                                                    {% elseif problem.userTestCaseInfo.numberOfCorrectTestCases < problem.userTestCaseInfo.numberOfTestCases %}
                                                        {% set colorClass = 'yellow' %}
                                                    {% else %}
                                                        {% set colorClass = 'green' %}
                                                    {% endif %}
                                                    <span class="{{ colorClass }}">{{problem.userTestCaseInfo.numberOfCorrectTestCases}}/{{problem.userTestCaseInfo.numberOfTestCases}}</span>
                                                {% endif %}
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

{% endblock %}

{% block scripts %}
<!-- JQuery -->
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="{{ asset('js/cards.js') }}"></script>

{% if is_granted("ROLE_SUPER") %}
    <script src="{{ asset('js/floating-control.js') }}"></script>
{% endif %}
{#
{% if is_granted("ROLE_SUPER")or is_granted("ROLE_ADMIN")or grader.isTeaching(user, section) %}
    <script>
        // Download CSV of Grades
        var textFile = null;
        // Create a text file from the given text
        function makeTextFile(text) {
            var data = new Blob([text], {type: 'text/plain'});

            // If we are replacing a previously generated file we need to
            // manually revoke the object URL to avoid memory leaks.
            if (textFile !== null) {
                window.URL.revokeObjectURL(textFile);
            }

            textFile = window.URL.createObjectURL(data);

            return textFile;
        };
        // Generate a CSV list of the grades
        function generateGradeCSVSection() {
            var gradesCSV = "Name, User, ";
            {% for asgn in section.assignments %}
                gradesCSV += "{{asgn.name}}";
                gradesCSV += ", ";
            {% endfor %}
            gradesCSV += "Total";
            gradesCSV += "\n";

            {% for user in section_takers %}
                var sumTotal = 0;
                gradesCSV += '{{user.getFirstName()}} {{user.getLastName()}}, ';
                gradesCSV += '{{user }}, ';
                var i = 0;
                {% for asgn in section.assignments %}
                    i += 1;
                    const percent = {{this.getAssignmentGrade(user, asgn)}};

                    gradesCSV += percent + ', ';

                {% endfor %}
                gradesCSV += sumTotal / i;
                gradesCSV += "\n";

            {% endfor %}
            return gradesCSV;
        }
        // Generate a CSV list of the grades
        function generateGradeCSVAssignment(index) {
            var gradesCSV = [];
            var i = 0;

            {% for asgn in section.assignments %}
                gradesCSV[i] = " , ";
                {% for problem in asgn.problems %}
                    gradesCSV[i] += "{{ problem.name }}" + ", , , ";
                {% endfor %}
                gradesCSV[i] += "\nUser, ";
                {% for problem in asgn.problems %}
                    gradesCSV[i] += "Testcases Right, Total Testcases, Grade, ";
                {% endfor %}
                gradesCSV[i] += "\n";
                {% for user in section_takers %}
                    gradesCSV[i] += '{{user.getFirstName()}} {{user.getLastName()}}, ';
                    {% for problem in asgn.problems %}
                        var right = parseFloat("{{ grades[user.id][asgn.id]['problem_grades'][problem.id]['passed_testcases'] }}");
                        var total = parseFloat("{{ grades[user.id][asgn.id]['problem_grades'][problem.id]['total_testcases'] }}");

                        gradesCSV[i] += right + ", " + total + ", " + {{grader.getProblemGrade(user, problem)}} + ", ";
                    {% endfor %}
                    gradesCSV[i] += "\n";
                {% endfor %}
                i += 1;
            {% endfor %}
            return gradesCSV[index];
        }
        // Download the CSV of grades when the download button is clicked
        var download = document.getElementById('download');
        if (download != null) {
            download.addEventListener('click', function () {
                var link = document.getElementById('download');
                link.href = makeTextFile(generateGradeCSVSection());
                link.style.display = 'block';
            }, false);
        }
        function downloadAssgnGrades(index, id) {
            var link = document.getElementById(id);
            if (link != null) {
                link.href = makeTextFile(generateGradeCSVAssignment(index));
                link.style.display = 'block';
            }
        }
    </script>
{% endif %}
#}
{% endblock %}