{% block head %}
<title>Gradel</title>
<link rel="icon" type="image/x-icon" href="{{ asset('logo1.png') }}" />
<title>{{section.course.name}}</title>
{% endblock %}


{% block body %}

<body>        
    {{ include('template/top-nav.html.twig') }}
    
	{# Left Nav #}
    <nav class="nav-left">
		{% if is_granted("ROLE_ADMIN") or is_granted("ROLE_SUPER") %}
			<a href="{{path('assignment_new', {"sectionId": section.id})}}" class="btn"><div class="btn btn-center">+ Assignment</div></a>
		{% endif %}
		
		{% if assignments|length == 0 %}
			<ol>
				<li> No Assignments Found </li>
			</ol>			
		
		{% else %}
			<ol style="padding-bottom: 10px">
				{% for assig in assignments %}
			
					<a href={{path('assignment', {'sectionId': assig.section.id, "assignmentId": assig.id})}}>
					<li>
						<span class="preview">
							{{ assig.name }}
							<br>
							<small>
								{{assig.end_time|date('F d, Y')}}
							</small>
						</span>
		
					{% if app.user in section_teachers or is_granted("ROLE_SUPER") %}
						<object><a title="Edit assignment" id="edit-icon" href="{{path('assignment_edit', {'sectionId': assig.section.id, 'assignmentId': assig.id})}}">
						<svg xmlns="http://www.w3.org/2000/svg" fill="#ffffff" height="15" viewBox="0 0 24 24" width="15">
						<path d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.39-.39-1.02-.39-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z"/>
						<path d="M0 0h24v24H0z"  fill="none"/>
						</svg>
						</a></object>
					{% endif %}	
					
					</li>
					</a>
					
				{% endfor %}
			</ol>	
		{% endif %}
    </nav>

    {# Main section #}
    <div class="scrollbar-macosx">
        <section id="main">
            {# Cards #}
			
            {{ include('template/path-nav.html.twig') }}
			
            <div class="card">
                <div class="btn-close" onclick="collapseCard('courseInfo')"><h2 style="margin: 0px">Due Soon<span style="float: right">&#9660;</span></h2></div>
                <div id="courseInfo" class="card-contents">
                
				{% if future_assigs|length == 0 %}
 				
					<li> No upcoming assignments </li>
 				
				{% else %}
 
					{% for assig in future_assigs %}
							
						{% set newDate = assig.end_time|date('m/d/Y') %}
								
						{% if newDate != oldDate %}
							<h4 style="background: grey; color: white; padding: 5px"> {{assig.end_time|date('l, F d')}} </h4>
						{% endif %}
								
						{% set oldDate = newDate %}
								
						<div style="margin-left: 20px"><small>{{asgn.section.name}}</small>
							<a href="{{path('assignment', {'sectionId':assig.section.id, 'assignmentId':assig.id})}}">
								<li>{{assig.name}} <small>(Due {{assig.end_time|date('\\a\\t  h:i:s A')}})</small></li>
							</a>
						</div>
							
					{% endfor %}
					
				{% endif %}
				
                </div>
            </div>


            <div class="card">
                <div class="btn-close" onclick="collapseCard('studentInfo')"><h2 style="margin: 0px">Student Info<span style="float: right">&#9660;</span></h2></div>
                <div id="studentInfo" class="card-contents">

					<div>
					{% if section_takers|length == 0 %}
					
						There are no students enrolled in this class
					
					{% else %}
					
					   <table>
                            <tr>
                                <th style="text-align: left; border-bottom: 1px solid black; border-right: 1px solid black;">Student</th>
                                {% for asgn in assignments %}
								
									<th style="border-bottom: 1px solid black">{{asgn.name}}</th>
								
								{% endfor %}
                            </tr>
							
							{% for user in section_takers %}
								
								<tr> <th>{{user.getFirstName()}} {{user.getLastName()}}</th>
								
								{% for asgn in assignments %}
									
									{% if student_subs[asgn.id][user.id] == "GOOD" %}
  										<td style="color:green; font-size: 25px"> &#x2713; </td>
									{% elseif student_subs[asgn.id][user.id] == "BAD" %}
										<td style="color:orange; font-size: 25px"> ~ </td>									
  									{% else %} 
  										<td style="color:red; font-size: 25px"> &#x2718 </td>
  									{% endif %}
									
								{% endfor %}
								
							{% endfor %}
                            
                        </table>
						
					{% endif %}
					
					</div>
                </div>
            </div>
			
			{% if app.user in section_teachers or is_granted("ROLE_SUPER") %}
			
				<div class="card">
					<div class="btn-close" onclick="collapseCard('recentSubs')"><h2 style="margin: 0px">Recent Submissions<span style="float: right">&#9660;</span></h2></div>
					<div id="recentSubs" class="card-contents">
						   
						<div>   
						   <ul>
							{% if recent_submissions|length == 0 %}
 								<li> No recent submissions </li>
							{% else %}
								
								{% for sub in recent_submissions %}
									{% if sub.percentage == 1 %}
										<div style="color: green">
									{% else %}
										<div style="color: red">
									{% endif %}
									
									<li><a href="{{path('problem_result', {'submission_id': sub.id})}}">[{{sub.problem.name}}] {{sub.user.getFirstName}} {{sub.user.getLastName}} - {{sub.timestamp|date('F d, Y  \\a\\t  h:i:s')}} ({{sub.filename}})</a> </li>
								
									</div>
								{% endfor %}
								
							{% endif %}
							
						   </ul>
						</div>
					</div>
				</div>
			
			{% endif %}
			
        </section>
    </div>


</body>

{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles.css') }}" />
    <link rel="stylesheet" href="{{ asset('home.css') }}" />
{% endblock %}


{% block scripts %}
    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{{ asset('js/cards.js') }}"></script>
{% endblock %}