{% block head %}
<title>Gradel</title>
{% endblock %}


{% block body %}

<body>
	{{ include('template/top-nav.html.twig') }}

    <section id="course-container">

    </section>

    {# Left Nav #}
    <nav class="nav-left">
        
		<a id="save-btn" class="btn"><div class="btn btn-center">Save</div></a>
		
        <ol>
			{% for assignment in assignments %}
				<li>{{assignment.name}}</li>
			{% endfor %}
        </ol>
		
    </nav>

    {# Main section with the necessary variable#}
    <div class="scrollbar-macosx">
        <section id="main">
            {# Cards #}
            <div class="card">
				<table>
					<tr>
						<th colspan="3">
							<label for="course">Course</label>
							<select name="course" id="course">
								{% for section in sections %}
									<option  value="{{section.id}}">{{section.name}}</option>
								{% endfor %}
							</select>
						</th>
					</tr>
					
					<tr>
						<th colspan="3">
							<label for="name">Section Name</label>
							<input id="name" name="name" type="text" value="">
						</th>
					</tr>
					<tr>
						<th colspan="3">
							<label>Semester</label>
							<select id="semester">
								<option>Fall</option>
								<option>Spring</option>
							</select>
						</th>
					</tr>
					<tr>
						<th colspan="3">
							<label>Year</label>
							<select id="year">
								<option>2017</option>
								<option>2018</option>
							</select>
					</tr>

					<tr>
						<th>
							<label>Add Student</label>
							<select id="student-picker">
								<option value="-1"></option>
								{% for u in users %}
									<option value="{{u.email}}">
										{{u.getLastName() ~ ", " ~ u.getFirstName()}}
									</option>
								{% endfor %}
							</select>
						</th>
						<th>
							<button>upload csv</button>
						</th>
					</tr>
					<tr>
						<th colspan="3">
							<textarea id="student-csv"></textarea>
						</th>
					</tr>

				</table>
            </div>

			<div class=card>
				<div class="btn-close" onclick="collapseCard('additionalOptions')">
					<h2 style="margin: 0px">Additional Options
						<span style="float: right"><i class="fa fa-angle-down"></i></span>
				</div>
				
				<div id="additionalOptions" class="card-contents">				
					<div>						
						<label for="startdatepicker">Starting Date </label><input type="text" id="startdatepicker" style="width: 100px; margin-right: 20px">
						<label for="enddatepicker">Ending Date </label><input type="text" id="enddatepicker" style="width: 100px">
					</div>
				</div>
        	</div>
        </section>
    </div>

	
	

</body>

{% endblock %}


{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles.css') }}" />
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<link rel="stylesheet" href="{{ asset('font-awesome-4.7.0/css/font-awesome.min.css') }}">

{% endblock %}


{% block scripts %}
    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{{ asset('js/cards.js') }}"></script>
	
	<script>
	
		$(document).ready(function() {
		
			collapseCard('additionalOptions');
		
			$('#startdatepicker').datepicker({
				showAnim: "slideDown",
				selectOtherMonths: true,
				showOtherMonths: true,
				showButtonPanel: true
			});
			
			$('#enddatepicker').datepicker({
				showAnim: "slideDown",
				selectOtherMonths: true,
				showOtherMonths: true,
				showButtonPanel: true
			});
			
			$('#save-btn').on('click', function(){
				
				/* Client-Side Field Validation */
				
				// section name
				if ($.trim($('#name').val())  === '') {						
					setInvalid($('#name'));
					return false;
				} else {
					setValid($('#name'));
				}
				
				// dates
				
				
				/* Array of Students */
				var students = document.getElementById('student-csv').value.split(", \n");
				students.pop(); // remove the blank last element
				
				
				
				/* Post to the Symfony Route */
				$.post( "{{path('section_new_post')}}", {				
					name: $.trim($('#name').val()),
					course: $('#course').val(),
					semester: $('#semester').val(),
					year: $('#year').val(),
					students: JSON.stringify(students),
					
				}, function(data) {			
					console.log(data);
					//window.location = data["redirect_url"];
				}).fail(function(data) {
				
					alert(data["responseText"]);
				
				});				
			});
			
			$('#student-picker').on('change', function(){
				updateStudentCSV();
			});
		});
		
		function setInvalid(div) {
			div.css('border', '3px solid red');
			div.css('background-color', '#FD8177');
		}
		
		function setValid(div) {
			div.css('border', '');
			div.css('background-color', '');
		}

		function updateStudentCSV() {
			
			// get the value of the new student
			var studentPicker = $('#student-picker');
			
			if(studentPicker.val() == -1){
				return;
			}
			
			// update the text area
			var studentCSV = $('#student-csv');
			studentCSV.val(studentCSV.val() + studentPicker.val() + ", \n");
			
			// reset the dropdown to black
			studentPicker.val(0);
		}
		
	</script>
{% endblock %}
