{% block head %}
<title>Gradel</title>
{% endblock %}


{% block body %}

<body>
	{{ include('template/top-nav.html.twig') }}

    <section id="course-container">

    </section>

    {# Left Nav #}
    <nav class="nav-left">
        <a id="insert" class="btn"><div class="btn btn-center">Save</div></a>
        <ol>
				{% for assignment in assignments %}
					<h1>{{assignment.name}}
				{% endfor %}
        </ol>
    </nav>

    {# Main section #}
    <div class="scrollbar-macosx">
        <section id="main">
            {# Cards #}
            <div class="card-table">
							<table>
								<tr>
									<th colspan="3">
                    <label for="section">Course</label>
										<select name="section" id="section">
											{% for section in sections %}
												<option  value="{{section.id}}">{{section.name}}</option>
											{% endfor %}
										</select>
									</th>
								</tr>
								<tr>
									<th colspan="3">
                    <label for="name">Section Name</label>
										<input id="name" name="name" type="text" value="">
									</th>
								</tr>
								<tr>
									<th colspan="3">
                    <label>Semester</label>
										<select id="semester">
											<option>Fall</option>
											<option>Spring</option>
										</select>
									</th>
								</tr>
								<tr>
									<th colspan="3">
                    <label>Year</label>
										<select id="year">
											<option>2017</option>
											<option>2018</option>
										</select>
								</tr>

								<tr>
									<th>
                    <label>Add Student</label>
										<select id="student-picker">
											<option value="-1"></option>
											{% for u in users %}
												<option	onchange="addStudent()" value="{{u.email}}">
													{{u.getLastName() ~ ", " ~ u.getFirstName()}}
												</option>
											{% endfor %}
										</select>
									</th>
									<th>
										<button>upload csv</button>
									</th>
								</tr>
								<tr>
									<th colspan="3">
										<textarea id="student-csv"></textarea>
									</th>
								</tr>
   
							</table>
            </div>


        	</div>
        </section>
    </div>


</body>

{% endblock %}


{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles.css') }}" />
{% endblock %}


{% block scripts %}
    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{{ asset('js/cards.js') }}"></script>
		<script src="{{ asset('js/newSection.js') }}"></script>
		<script>
			$(document).ready(function() {
				$('#insert').on('click', function(){
					// Make sure there is a course name
					// Get the course name value and trim it
					var name = $.trim($('#name').val());
					var students = $.trim($('#student-csv').val())
					// Check if empty of not
					if (name  === '') {
						$('#name').css('border', '3px solid red')
						$('#name').css('background-color', '#FD8177')
						return false;
					}
					
					insertSection();
				});
				$('#student-picker').on('change', function(){addStudent();});
			});

			var studentArray = [];

			function addStudent() {
				const studentPicker = document.getElementById('student-picker');
				const value = studentPicker.value;
				const studentInput = document.getElementById('student-csv');
				studentInput.value += value + ", \n"
				studentArray = studentInput.value.split(", \n");
				studentPicker.selectedIndex = 0;
			}

			function insertSection() {
				const test = document.getElementById("section");
				const name = document.getElementById("name").value;
				const semester = document.getElementById("semester").value;
				const year = document.getElementById("year").value;
				const id = test[test.selectedIndex].value;

				var path = "{{path('section_insert', { 'courseId': 'course_id',	'name': 'name', 'students': 'students', 'semester': 'semester', 'year': 'year', 'start_time': 'start_time', 'end_time': 'end_time', 'is_deleted': 'is_deleted', 'is_public': 'is_public'})}}";
				path = path.replace("course_id", id);
				path = path.replace("name", name);
				path = path.replace("students", JSON.stringify(studentArray));
				path = path.replace("semester", semester);
				path = path.replace("year", year);
				path = path.replace("name", name);
				path = path.replace("name", name);
				path = path.replace("start_time", new Date());
				path = path.replace("end_time", new Date());
				path = path.replace("is_deleted", false);
				path = path.replace("is_public", false);
				window.location.replace(path);
			}
		</script>
{% endblock %}
