{% block head %}
<link rel="icon" type="image/x-icon" href="{{ asset('logo1.png') }}" />
<title>Gradel | Courses</title>
{% endblock %}


{% block body %}

<body>        
    {{ include('template/top-nav.html.twig') }}
    
	{{ include('template/course-nav.html.twig') }}

    {# Main section #}
	<section id="main">
		{# Cards #}
		
		{{ include('template/path-nav.html.twig') }}
		
		<div class="card">
			<div class="btn-close"><h2 style="margin: 0px">All Courses</h2></div>
			<div id="courseInfo" class="card-contents">
			
				{% for course in courses %}
				<h4 style="background: grey; color: white; padding: 5px">
					{% if course.code != '' %}
						{{course.code}} - 
					{% endif %}
					{{course.name}} 
				</h4>
				
				<ul style="list-style-type: none">
					{% for section in course.sections %}
						<li><a style="text-decoration:none" href="{{path('section', {'sectionId': section.id})}}">{{section.name}} <small><i>{{section.start_time|date('m/d/Y')}} - {{section.end_time|date('m/d/Y')}}</i></small></a></li>
					{% else %}
						<li><small><i>No sections for this course </i></small></li>
					{% endfor %}
				</ul>
				
				{% endfor %}
			
			</div>
		</div>		
	</section>


</body>

{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles.css') }}" />
	<link rel="stylesheet" href="{{ asset('font-awesome-4.7.0/css/font-awesome.min.css') }}">
{% endblock %}


{% block scripts %}
    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script src="{{ asset('js/cards.js') }}"></script>
{% endblock %}