{% block head %}
<link rel="icon" type="image/x-icon" href="{{ asset('images/logo.png') }}" />
<title>Gradel | Courses</title>
{% endblock %}


{% block body %}

<body>        
    {{ include('template/top-nav.html.twig') }}
	{{ include('template/section-nav.html.twig') }}

	{% if is_granted("ROLE_ADMIN") or is_granted("ROLE_SUPER") %}
		<div class="floatingControls">
			<a class="floatingLink" href="{{ path('course_edit') }}">
				<div class="floatingButton">Create Course</div>
			</a>
		</div>
	{% endif %}

    {# Main section #}
	<section id="main">
		{# Cards #}
		<div class="parallel-cards">
			<div class="card card-parallel-main">
				<div class="btn-close"><h2 style="margin: 0px">Course Info</h2></div>
				<div id="courseInfo" class="card-contents">
				
					{% for course in courses %}
					<h4 style="background: grey; color: white; padding: 5px">
						{% if course.code != '' %}
							{{course.code}} - 
						{% endif %}
						{{course.name}} 
					</h4>
					
					<h5 style="margin: 0; padding: 5px; margin-left: 20px"> Active Sections </h5>
					<ul style="list-style-type: none">
						{# active sections #}
						{% for section in course.sections %}
							
							{% if not section.is_deleted and section.start_time|date('U') < now|date('U') and section.end_time|date('U') > now|date('U') %}
							
							<li><a style="text-decoration:none" href="{{path('section', {'sectionId': section.id})}}">{{section.name}} <small><i>{{section.start_time|date('m/d/Y')}} - {{section.end_time|date('m/d/Y')}}</i></small></a></li>
							
							{% endif %}
						{% endfor %}
					</ul>
					
					<h5 style="margin: 0; padding: 5px; margin-left: 20px"> Inactive Sections </h5>
					<ul style="list-style-type: none">
						{# old sections #}
						{% for section in course.sections %}
							
							{% if section.start_time|date('U') > now|date('U') or section.end_time|date('U') < now|date('U') %}
						
							<li><a style="text-decoration:none" href="{{path('section', {'sectionId': section.id})}}">{{section.name}} <small><i>{{section.start_time|date('m/d/Y')}} - {{section.end_time|date('m/d/Y')}}</i></small></a></li>
							
							{% endif %}
						{% endfor %}
					</ul>
					
					<h5 style="margin: 0; padding: 5px; margin-left: 20px"> Deleted Sections </h5>
					<ul style="list-style-type: none">
						{# old sections #}
						{% for section in course.sections %}
							
							{% if section.is_deleted %}
						
							<li><a style="text-decoration:none" href="{{path('section', {'sectionId': section.id})}}">{{section.name}} <small><i>{{section.start_time|date('m/d/Y')}} - {{section.end_time|date('m/d/Y')}}</i></small></a></li>

							{% endif %}
						{% endfor %}
					</ul>
								
					
					{% endfor %}
				
				</div>
			</div>
			{% if courses is defined and deleted_courses is defined%}
				{# Left Nav For the Course List (On the Courses Page) #}
				<div class="serial-cards">
					<div class="card">
						<div class="btn-close"><h2 style="margin: 0px">Courses</h2></div>
						<ol style="padding-top: 0px">
							{% for course in courses %}	
								<a href="{{path('course_edit', {'courseId':course.id})}}">
									<li class="sidebar list-item">
										<span class="preview">
											<div class="sidebar-text"> {{course.name}} </div>
										</span>	
										<!-- <object>
											<a title="Delete Course" href="{{path('course_delete', {'courseId': course.id})}}">
												<img class="small-icon" id="right-icon" src="{{ asset('images/whitetrash.png') }}">
											</a>
										</object> -->
									</li>
								</a>	
							{% endfor %}
						</ol>
						<div class="btn btn-center" id="past_courses_button">&#9660; Show Deleted </div>
						{# list of all the deleted courses #}
						<ol id="past_list" style="padding-bottom: 10px; display: none">
							{% for course in deleted_courses %}
								<a href="{{path('course_edit', {'courseId':course.id})}}">
									<li class="sidebar list-item">
										<span class="preview">{{course.name}}</span>	
										<object>
											<a title="Open Course" href="{{path('course_delete', {'courseId': course.id})}}">
												<img class="small-icon" style="right: -1" id="right-icon" src="{{ asset('images/whitetrash.png') }}">
											</a>
										</object>
									</li>
								</a>
							{% else %}
								<li class="sidebar list-item"> No deleted courses </li>
							{% endfor %}
						</ol>
					</div>
				</div>
			{% endif %}
		</div>
		<div id="FloatingControlsSpacer"></div>
	</section>


</body>

{% endblock %}

{% block stylesheets %}
    
	<link rel="stylesheet" href="{{ asset('styles/styles.css') }}" />
    <link rel="stylesheet" href="{{ asset('styles/card.css') }}" />
	
	<link rel="stylesheet" href="{{ asset('font-awesome-4.7.0/css/font-awesome.min.css') }}">
{% endblock %}


{% block scripts %}
    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script src="{{ asset('js/cards.js') }}"></script>
	
	{# this needs to be in the section-nav.html.twig #}
<script>

	var past_hidden = true;
	var past_courses_button = document.getElementById('past_courses_button');
	past_courses_button.addEventListener("click", togglePastCourses);
	var past_list = document.getElementById('past_list');		
	
	function togglePastCourses() {
		
		if(past_hidden){
		
			past_courses_button.innerHTML = "&#9650; Hide Deleted ";
			past_list.style.display = "block";		
		} else {		
		
			past_courses_button.innerHTML = "&#9660; Show Deleted ";
			past_list.style.display = "none";	
		}
		
		past_hidden = !past_hidden;
		
	}

</script>
{% endblock %}