{% block head %}
<title>Gradel</title>
<link rel="icon" type="image/x-icon" href="{{ asset('logo1.png') }}" />
{% endblock %}


{% block body %}

<body>
    {{ include('template/top-nav.html.twig') }}
	
    {# left panel with the problem links #}
	{#{{ include('template/problem-nav.html.twig') }}#}
	<nav class="nav-left">
		<a id="save-btn" class="btn"><div class="btn btn-center">Save</div></a>
    </nav>
    
    {# Main section #}
    <div class="scrollbar-macosx">
        <section id="main">
            {# Cards #}

			{{ include('template/path-nav.html.twig') }}
	
			<div class="card">
				
				<div class="btn-close">
					<h2 style="margin: 0px">
					{% if assignment is not null %}
						Edit Assignment
					{% else %}
						New Assignment
					{% endif %}					
					</h2>
				</div>
			
				<div id="requiredFields" class="card-contents">
					<div>
						<table>
							<tr> <th colspan="1">
									<label for="name">Name</label>
									<input id="name" name="name" type="text" value="{{assignment.name}}">
								</th>
							</tr>
							<tr>
								<th colspan="2">
									<label for="description">Description</label>
									<input id="description" name="description" type="text">
								</th>
							</tr>
							
							<tr>
								<th colspan="2">
									<label for="startdatepicker">Open Time</label>
									<input type="text" id="opendatepicker" style="width:150px; margin-right:20px">

									<label for="enddatepicker">Close Time</label>
									<input type="text" id="closedatepicker" style="width:150px">
								</th>
							</tr>
							
							 <tr>
								
								
							</tr>
						</table>
					</div>
				</div>
			</div>
			
			<div class="card">
				
				<div class="btn-close" onclick="collapseCard('additionalOptions')">
					<h2 style="margin: 0px">Additional Options
						<span style="float: right"><i class="fa fa-angle-down"></i></span>
					</h2>
				</div>
			
				<div id="additionalOptions" class="card-contents">
					<div>
						<label for="extracredit">Is Extra Credit</label> <input id="extracredit" type="checkbox" name="extracredit" value="extracredit">
					</div>
					<div style="margin-top:5px">
						<label for="weight">Weight </label> <input id="weight" name="weight" type="text" style="width: 50px">
						LIST OTHER ASSIGNMENT WEIGHTS HERE					
					</div>
					<div>
						<label for="cutoffdatepicker">Cutoff Time</label> <input type="text" id="cutoffdatepicker" style="width: 150px">
					</div>
				</div>
			</div>
			
        </section>
    </div>


</body>

{% endblock %}


{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles.css') }}" />
	<link rel="stylesheet" href="{{ asset('jquery/jquery-ui.css') }}" />
	<link rel="stylesheet" href="{{ asset('jquery/jquery-ui-timepicker-addon.css') }}" />
	<link rel="stylesheet" href="{{ asset('font-awesome-4.7.0/css/font-awesome.min.css') }}">
{% endblock %}


{% block scripts %}
    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{{ asset('js/cards.js') }}"></script>
	
	<script src="{{ asset('jquery/jquery-ui-sliderAccess.js') }}"></script>
	<script src="{{ asset('jquery/jquery-ui-timepicker-addon.js') }}"></script>
	
    <script>
		$(document).ready(function() {
			$('#insert').on('click', function(){insertSection();});
			$('#student-picker').on('change', function(){addStudent();});
							
			$( "#opendatepicker" ).datetimepicker();
			$( "#closedatepicker" ).datetimepicker();
			$( "#cutoffdatepicker" ).datetimepicker();
			
			{% if assignment is not null %}
			populateForm();
			{% else %}
			collapseCard('additionalOptions');
			{% endif %}
			
			
			$('#save-btn').on('click', function(){
			
				/* Client-Side Field Validation */
				
				/* Post to the Symfony Route */
				$.post( "{{path('assignment_modify')}}", {				
					
				}, function(data) {			
					console.log(data);
					
					//window.location = data["redirect_url"];
				}).fail(function(data) {
				
					alert(data["responseText"]);
				
				});				
			});
			
		});

		var studentArray = [];

		function addStudent() {
			const studentPicker = document.getElementById('student-picker');
			const value = studentPicker.value;
			const studentInput = document.getElementById('student-csv');
			studentInput.value += value + ", \n"
			studentArray = studentInput.value.split(", \n");
			studentPicker.selectedIndex = 0;
		}

		function insertSection() {
			const name = document.getElementById("name").value;
			const description = document.getElementById("description").value;

			// POST
		}
	</script>
		
		
	{% if assignment is not null %}
	<script>
	function populateForm(){

		// set the name
		$('#name').val("{{assignment.name}}");
		
		// set the description
		$('#description').val("{{assignment.deblobinateDescription()}}");
		
		// set the open date
		$('#opendatepicker').val("{{assignment.start_time|date('m/d/Y h:i')}}");		
		
		// set the close date
		$('#closedatepicker').val("{{assignment.end_time|date('m/d/Y h:i')}}");
		
		// set the cuttoff date
		$('#cutoffdatepicker').val("{{assignment.cutoff_time|date('m/d/Y h:i')}}");
		
		// set the weight
		$('#weight').val({{assignment.weight}});
		
		// set the checkbox
		$('#extracredit').attr('checked', {% if assignment.is_extra_credit %} true {% else %} false {% endif %});
		
	}
	
	</script>
	{% endif %}
{% endblock %}
