{% block head %}
	<title>Gradel {% if problem != null %} | {{problem.assignment.name}} {% endif %}</title>
	<link rel="icon" type="image/x-icon" href="{{ asset('logo1.png') }}" />
{% endblock %}

{% block body %}

<body>
    {{ include('template/top-nav.html.twig') }}

	{# left panel with the problem links #}
	{{ include('template/problem-nav.html.twig') }}

    <section id="main">
		{{ include('template/path-nav.html.twig') }}
	
		{% if problem.assignment.problems|length == 0 %}	
	
		{% else %}
	
			<div class="card">
				<h2 style="margin: 0px">{{problem.name}}</h2>
				<h3>
					{% if attempts_remaining < 0 %}
						Unlimited attempts allowed
					{% else %}
						Attempts left: {{attempts_remaining}}
					{% endif %}
					
					
					{% if best_submission != null %}
						<a href="{{path('problem_result', {'submission_id': best_submission.id})}}"> [Currently accepted submission] </a>
					{% else %}
						<a> [You have no submissions yet] </a>
					{% endif %}
				</h3>
				<div id="courseInfo" class="card-contents">
					<p>{{problemDescription|nl2br}}</p>

						{# the editor text area #}
						<div id="editor"></div>           
                
						<br/>
						{# display the form or not #}
						{% if usersectionrole.role.role_name == 'Takes' %}

							{# ACE editor and file upload#}
							<form action="{{path('assignment', {'sectionId' : section.id, 'assignmentId' : assignment.id, 'problemId' : problem.id}) }}" method="post" enctype="multipart/form-data">
								<input type="file" onchange="determineLanguage(); this.form.submit();" name="fileToUpload" id="fileToUpload" value="Upload File">
								<br><br>
							</form>
						
							{# Language selection and hidden field to submit ACE contents #}
							<form action="{{path('upload', {'problem_id': problem.id}) }}" method="post" enctype="multipart/form-data">

								Language: 
								<select id="languageSelect" name="language" onchange="languageChange()">
									{% for lang in languages %}				
										{% if lang.name != "No Language Restriction" %}
											<option value={{lang.id}}>{{lang.name}}</option>
										{% endif %}
									{% endfor %}
								</select>
								<br>
								<div id="mainClassInput" style="display:none"><label for="main_class">Main Class: </label><input type="text" name="main_class" id="main_class_input"></div>
								<div id="packgNameInput" style="display:none"><label for="package_name">Package Name: </label><input type="text" name="package_name" id="package_name_input"></div>
								
								<br><br>
								<input type="hidden" name="ACE" id="ACE">
								<input type="submit" value="Submit Solution" name="btn-submit" onclick="saveACE();">
							</form>
							
						{% elseif attempts_remaining == 0 %}
							You are out of attempts for this problem.
						{% else %}
							You are not "Taking" this class, so you cannot submit a problem.
						{% endif %}
				
						<p>{{upload_message}}</p>
				</div>
        </div>
		
		{% endif %}
		
    </section>
</body>
{% endblock %}


{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles.css') }}" />
    <link rel="stylesheet" href="{{ asset('submit.css') }}" />
{% endblock %}

{% block scripts %}
    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script src="{{ asset('src-noconflict/ace.js') }}" type="text/javascript" charset="utf-8"></script>

	<script>
		var editor = ace.edit("editor");
		editor.setTheme("ace/theme/xcode");
		editor.getSession().setMode("ace/mode/c_cpp");
	</script>
	
	<script>

		function saveACE() {
			$("#ACE").val(editor.getValue());
		}
		
	</script>
	
	<script>
		
		var default_code = JSON.parse('{{ default_code|json_encode|replace({'\\':'\\\\'})|raw }}');
		var ace_modes = JSON.parse('{{ ace_modes|json_encode|raw }}');
		
		languageChange();
	
		function languageChange(){
			
			var filename = document.getElementById('fileToUpload').value;
			var ext = filename.substr(filename.lastIndexOf('.') + 1);
			var cls = filename.substr(filename.lastIndexOf('\\') + 1).replace("."+ext,"");
			
			var sel = document.getElementById('languageSelect');
			var language = sel.options[sel.selectedIndex].text;
			
			var editor = ace.edit("editor");
			
			toggleJavaInputs(language == "Java", ext == "zip");
			
			editor.getSession().setMode("ace/mode/" + ace_modes[language]);	
			
			// This sets the default code for the selected language. add an if statement to put the code from the uploaded file here if it exists?
			editor.setValue(default_code[language], -1);
			if('{{fileContents}}' != "") {
				$("#ACE").val(editor.setValue(atob('{{fileContents}}')));
			}

		
		}	
	
		function toggleJavaInputs(state1, state2){
			
			if(!state1){
				document.getElementById('mainClassInput').style.display = 'none';
				document.getElementById('packgNameInput').style.display = 'none';
			} else if(state1 && !state2){
				document.getElementById('mainClassInput').style.display = 'block';
				document.getElementById('packgNameInput').style.display = 'none';
			} else{
				document.getElementById('mainClassInput').style.display = 'block';
				document.getElementById('packgNameInput').style.display = 'block';
			}				
		}
	</script>
	
	<script>
		function determineLanguage(){
		
			var filetypes = JSON.parse('{{ filetypes|json_encode|raw }}');
		
			var filename = document.getElementById('fileToUpload').value;
			
			console.log(filename);
		
			var ext = filename.substr(filename.lastIndexOf('.') + 1);
			var cls = filename.substr(filename.lastIndexOf('\\') + 1).replace("."+ext,"");
			
			//console.log(ext);
			//console.log(cls);

			var selectObject = document.getElementById('languageSelect');
				
			for(var i=0; i<selectObject.length; i++){
				//console.log(filetypes[ext]);
				if(selectObject.options[i].text == filetypes[ext]){
					selectObject.selectedIndex = i;
					break;
				}
			}
			
			document.getElementById('main_class_input').value = cls;
			
			languageChange();
		}
	
	</script>

{% endblock %}
