{% set teaching=grader.isTeaching(app.user, problem.assignment.section) or is_granted("ROLE_SUPER") or is_granted("ROLE_ADMIN") %}


{% block head %}
	<title>Gradel {% if problem != null %} | {{problem.assignment.name}} {% endif %}</title>
	<link rel="icon" type="image/x-icon" href="{{ asset('images/logo.png') }}" />
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
	
    <link rel="stylesheet" href="{{ asset('styles/styles.css') }}" />
    <link rel="stylesheet" href="{{ asset('styles/card.css') }}" />
	
    <link rel="stylesheet" href="{{ asset('styles/submit.css') }}" />
    <link rel="stylesheet" href="{{ asset('styles/sessions.css') }}" />
	
    {# <link rel="stylesheet" href="{{ asset('styles/markdown-styles/styles.css') }}" /> #}

	<style>
		#submissionButton:hover {
			cursor:pointer;
		}
	</style>
	
    <link rel="stylesheet" href="{{ asset('font-awesome-4.7.0/css/font-awesome.min.css') }}">
{% endblock %}


{% block body %}

{# markdown #}
<script src="http://cdn.rawgit.com/showdownjs/showdown/1.8.6/dist/showdown.min.js"></script>

<style>
		#submissionButton:hover {
			cursor:pointer;
		}
</style>

<body>
    {{ include('template/top-nav.html.twig') }}
	{{ include('template/section-nav.html.twig') }}
	<div id="SitePosition"
             class="hidden"
             data-pos='{
                 "start": {
                     "id": "Section-{{assignment.section.id}}",
                     "next": {
						"id": "Assignment-{{assignment.id}}",
						"next": null
					}
                 }
             }'></div>
	
	{% if grader.isTeaching(app.user, assignment.section) or is_granted("ROLE_SUPER") or is_granted("ROLE_ADMIN") %}
		<div class="floatingControls">
			{# add problem button #}
			<a class="floatingLink" href="{{path('problem_edit', {'sectionId': assignment.section.id, 'assignmentId': assignment.id, 'problemId': 0})}}">
				<div class="floatingButton">Create Problem</div>
			</a>
			{# edit assignment button #}
			<a class="floatingLink" href="{{path('assignment_edit', {'sectionId': assignment.section.id, 'assignmentId': assignment.id})}}">
				<div class="floatingButton">Edit Assignment</div>
			</a>
		</div>
	{% endif %}

    <section id="main">
		<div class="main_content">
			<div class="card">
				<div class="sectionHeaderContainer">
					<div class="sectionHeader">{{assignment.name}} | <a href="{{path('section', {'sectionId': assignment.section.id})}}" class="headerLink">{{assignment.section.name}}</a></div>
					<div class="sectionSubHeader">
						{% if "now"|date("m/d/Y") < assignment.start_time|date('m/d/Y') %}
							<div> Opens:
							{{assignment.start_time|date('m/d/Y')}}</div>
						
						{% elseif "now"|date("m/d/Y") < assignment.end_time|date('m/d/Y') %}
							<div> Due:
							{{assignment.end_time|date('m/d/Y')}}</div>
						
						{% elseif "now"|date("m/d/Y") < assignment.end_time|date('m/d/Y') %}
							<div> Closes:
							{{assignment.cutoff_time|date('m/d/Y')}}</div>
						{% else %}
							<div> Closed </div>                                        
						{% endif %}
					</div>
				</div>
			</div>
			<div class="card">
				<div class="btn-close" onclick="collapseCard('Problem')">
					<h2 style="margin: 0px">Problem {% if  not (grader.isTeaching(app.user, assignment.section) or is_granted("ROLE_SUPER") or is_granted("ROLE_ADMIN")) %}| {{user.numberOfCompletedProblems}}/{{assignment.problems | length}} Completed{% endif %}<span style="float: right">
							<i class="fa fa-angle-down"></i></span></h2>
				</div>
				<div id="Problem">
					{% for problem in assignment.problems %}
						<div class="assignmentContainer">
							<div>
								<div class="assignmentHeader">
									<a href="{{path('problem', {'sectionId': assignment.section.id, 'assignmentId': assignment.id, 'problemId': problem.id})}}" class="assignmentLink">{{problem.name}}</a>
								</div>
								<div class="assignmentInfo">
									<div class="assignmentProblemDescription"><span class="markdownToRender" data-markdown="{{problem.description}}"></span></div>
									{% if  not (grader.isTeaching(app.user, assignment.section) or is_granted("ROLE_SUPER") or is_granted("ROLE_ADMIN")) %}
										<div>Score:
											{% set colorClass = 'green' %}
											{% if problem.userTestCaseInfo.numberOfCorrectTestCases == 0 %}
												{% set colorClass = 'red' %}
											{% elseif problem.userTestCaseInfo.numberOfCorrectTestCases < problem.userTestCaseInfo.numberOfTestCases %}
												{% set colorClass = 'yellow' %}
											{% endif %}
											<span class="{{ colorClass }}">{{problem.userTestCaseInfo.numberOfCorrectTestCases}}/{{problem.userTestCaseInfo.numberOfTestCases}}</span>
										</div>
									{% endif %}
								</div>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
			{# Student Info Card #}
			{% if is_granted("ROLE_SUPER") or is_granted("ROLE_ADMIN") or grader.isTeaching(user, section) %}
				<div class="card">
					<div class="btn-close" onclick="collapseCard('studentInfo')"><h2 style="margin: 0px">Student Info<span style="float: right"><i class="fa fa-angle-down"></i></span></h2></div>
					<div id="studentInfo" class="card-contents">
						<div>
						{% if section_takers|length == 0 %}
							There are no students enrolled in this class
						{% else %}
						<div id="Test" data-grades="{{grades|json_encode}}"></div>
							<table>
								<tr>
									<th style="text-align: left; border-bottom: 1px solid black; border-right: 1px solid black;">Student</th>
									<th style="border-bottom: 1px solid black">{{assignment.name}}</th>
								</tr>
								{% for user in section_takers %}
									<tr> 
										<th>{{user.getFirstName()}} {{user.getLastName()}}</th>
										{% if grades[user.id]['num_correct_problems'] > 0 and grades[user.id]['num_correct_problems'] == grades[user.id]['num_problems'] %}
											<td style="color:green; font-size: 25px">{{grades[user.id]['num_correct_problems']}}/{{grades[user.id]['num_problems']}} 
											{% if grades[user.id]['num_extra_problems'] > 0 and grades[user.id]['num_extra_correct_problems'] == grades[user.id]['num_extra_problems'] %}
												{{grades[user.id]['num_correct_problems']}}/{{grades[user.id]['num_problems']}}										
											{% endif %}
											</td>
										{% elseif grades[user.id]['num_correct_problems'] != 0 %}
											<td style="color:orange; font-size: 25px"><i> {{grades[user.id]['num_correct_problems']}}/{{grades[user.id]['num_problems']}}</i></td>
										{% else %} 
											<td style="color:red; font-size: 25px">{{grades[user.id]['num_correct_problems']}}/{{grades[user.id]['num_problems']}}</td>
										{% endif %}
									</tr>
								{% endfor %}
							</table>
						{% endif %}
						</div>
					</div>
				</div>
			{% endif %}
		</div>
    </section>
</body>
{% endblock %}

{% block scripts %}
<!-- JQuery -->
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="{{ asset('js/cards.js') }}"></script>
<script src="{{ asset('js/assignment.js') }}"></script>
{% endblock %}
