{% set teaching=grader.isTeaching(app.user, problem.assignment.section) or is_granted("ROLE_SUPER") or is_granted("ROLE_ADMIN") %}


{% block head %}
	<title>Gradel {% if problem != null %} | {{problem.assignment.name}} {% endif %}</title>
	<link rel="icon" type="image/x-icon" href="{{ asset('images/logo.png') }}" />
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
	
    <link rel="stylesheet" href="{{ asset('styles/styles.css') }}" />
    <link rel="stylesheet" href="{{ asset('styles/card.css') }}" />
	
    <link rel="stylesheet" href="{{ asset('styles/submit.css') }}" />
    <link rel="stylesheet" href="{{ asset('styles/sessions.css') }}" />
	
    {# <link rel="stylesheet" href="{{ asset('styles/markdown-styles/styles.css') }}" /> #}

	<style>
		#submissionButton:hover {
			cursor:pointer;
		}
	</style>
{% endblock %}


{% block body %}

{# markdown #}
<script src="http://cdn.rawgit.com/showdownjs/showdown/1.8.6/dist/showdown.min.js"></script>

<style>
		#submissionButton:hover {
			cursor:pointer;
		}
</style>

<body>
    {{ include('template/top-nav.html.twig') }}
	{{ include('template/section-nav.html.twig') }}
	
	{% if grader.isTeaching(app.user, assignment.section) or is_granted("ROLE_SUPER") or is_granted("ROLE_ADMIN") %}
		<div class="floatingControls">
			{# add problem button #}
			<a class="floatingLink" href="{{path('problem_edit', {'sectionId': assignment.section.id, 'assignmentId': assignment.id, 'problemId': 0})}}">
				<div class="floatingButton">Create Problem</div>
			</a>
			{# edit assignment button #}
			<a class="floatingLink" href="{{path('assignment_edit', {'sectionId': assignment.section.id, 'assignmentId': assignment.id})}}">
				<div class="floatingButton">Edit Assignment</div>
			</a>
		</div>
	{% endif %}

    <section id="main">
		<div class="main_content">
			<div class="card">
				<div class="sectionHeaderContainer">
					<div class="sectionHeader">{{assignment.name}} | <a href="{{path('section', {'sectionId': assignment.section.id})}}" class="headerLink">{{assignment.section.name}}</a></div>
					<div class="sectionSubHeader">Due: {{assignment.end_time|date('m/d/Y')}}</div>
				</div>
			</div>
			<div class="card">
                    <div class="btn-close" onclick="collapseCard('Problem')">
                        <h2 style="margin: 0px">Problem<span style="float: right">
                                <i class="fa fa-angle-down"></i></span></h2>
                    </div>
                    <div id="Problem">
                        {% for problem in assignment.problems %}
                            <div class="assignmentContainer">
                                <div>
                                    <div class="assignmentHeader">
                                        <a href="{{path('problem', {'sectionId': assignment.section.id, 'assignmentId': assignment.id, 'problemId': problem.id})}}" class="assignmentLink">{{problem.name}}</a>
                                    </div>
                                    <div class="assignmentInfo">
                                        <div>Description:
                                            {{problem.description}}</div>
                                        <div>Score:
                                            {% set colorClass = 'green' %}
											{% if problem.userTestCaseInfo.numberOfCorrectTestCases == 0 %}
												{% set colorClass = 'red' %}
											{% elseif problem.userTestCaseInfo.numberOfCorrectTestCases < problem.userTestCaseInfo.numberOfTestCases %}
												{% set colorClass = 'yellow' %}
											{% endif %}
											<span class="{{ colorClass }}">{{problem.userTestCaseInfo.numberOfCorrectTestCases}}/{{problem.userTestCaseInfo.numberOfTestCases}}</span>
										</div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
		</div>
    </section>
</body>
{% endblock %}