{% block head %}
<title>Gradel</title>
{% endblock %}


{% block body %}

<body>
    {{ include('template/top-nav.html.twig') }}

    {# Left Nav #}
    <nav class="nav-left">
        <a id="insert" class="btn"><div class="btn btn-center" >Save</div></a>
        <ol>
            {% for assignment in assignments %}
                <h1>{{assignment.name}}
            {% endfor %}
        </ol>
    </nav>

    {# Main section #}
    <section id="main">
        {# Cards #}

		{{ include('template/path-nav.html.twig') }}

        <div class="card">
            <table>
                <tr>
                    <th colspan="3">
                        <label for="name">Name</label>
                        <input id="name" name="name" type="text" value="">
                    </th>
                </tr>
                <tr>
                    <th colspan="3">
                        <label for="description">Description</label>
                        <input id="description" name="description" type="text">
                    </th>
                </tr>
                <tr>
                    <th colspan="2">
                        <label for="start-date">Start Date</label>
                        <input type="text" id="start-date">

                    </th>
                    <th colspan="2">
                        <label for="end-date">End Date</label>
                        <input type="text" id="end-date">
                    </th>
                </tr>
                <tr>
                        <th colspan="2">
                            <label for="start-date">Weight</label>
                            <input id="weight" name="weight" type="text">
                        </th>
                        <th colspan="2">
                            <label for="extra-credit">Is Extra Credit</label>
                            <input type="checkbox" name="extra-credit" value="extra-credit">
                        </th>
                    </tr>

                <!-- <tr>
                    <th colspan="3">
                        <button id="insert">add</button>
                    </th>
                </tr> -->
            </table>
        </div>


        </div>
    </section>


</body>

{% endblock %}


{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles.css') }}" />
    <link rel="stylesheet" href="{{ asset('home.css') }}" />
    <link rel="stylesheet" href="{{ asset('jquery.scrollbar.css') }}" />
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
{% endblock %}


{% block scripts %}
    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{{ asset('js/cards.js') }}"></script>
		<script src="{{ asset('js/newSection.js') }}"></script>
    <script src="{{ asset('js/jquery.scrollbar.js') }}"></script>
    <script>
			$(document).ready(function() {
				$('#insert').on('click', function(){insertSection();});
				$('#student-picker').on('change', function(){addStudent();});
			});

			var studentArray = [];

			function addStudent() {
				const studentPicker = document.getElementById('student-picker');
				const value = studentPicker.value;
				const studentInput = document.getElementById('student-csv');
				studentInput.value += value + ", \n"
				studentArray = studentInput.value.split(", \n");
				studentPicker.selectedIndex = 0;
			}

			function insertSection() {
				const name = document.getElementById("name").value;
				const description = document.getElementById("description").value;

				var path = "{{path('assignment_insert', { 'name': 'name', 'sectionId': 'section_id', 'description': 'description'})}}";
				path = path.replace("name", name);
        path = path.replace("description", description)
				path = path.replace("section_id", {{sectionId}});
				window.location.replace(path);
			}

		</script>
    <script>
        jQuery(document).ready(function(){
            jQuery('.scrollbar-macosx').scrollbar();
        });
    $( function() {
        $( "#start-date" ).datepicker();
      } );
      $( function() {
        $( "#end-date" ).datepicker();
      } );
    </script>
{% endblock %}
