{% block head %}
<title>Gradel</title>
{% endblock %}


{% block body %}

<body>
    {{ include('template/top-nav.html.twig') }}

    <section id="course-container">
    </section>

    {# Left Nav #}
    <nav class="nav-left">
        <a id="insert" class="btn" href="{{path('assignment_edit', {'userId': userId, 'sectionId': sectionId, 'assignmentId': 1})}}"><div class="btn btn-center" >Save</div></a>
        <ol>
					{% for assignment in assignments %}
						<h1>{{assignment.name}}
					{% endfor %}
        </ol>
    </nav>

    {# Main section #}
    <div class="scrollbar-macosx">
        <section id="main">
            {# Cards #}
            <div class="card">
							<table>
								<tr>
									<th colspan="3">
                    <label for="name">Name</label>
										<input id="name" name="name" type="text" value="">
									</th>
                </tr>
                <tr>
                  <th colspan="3">
                    <label for="description">Description</label>
                    <input id="description" name="description" type="text">
                  </th>
								</tr>

								<!-- <tr>
									<th colspan="3">
										<button id="insert">add</button>
									</th>
								</tr> -->
							</table>
            </div>


        	</div>
        </section>
    </div>


</body>

{% endblock %}


{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles.css') }}" />
    <link rel="stylesheet" href="{{ asset('home.css') }}" />
    <link rel="stylesheet" href="{{ asset('jquery.scrollbar.css') }}" />
{% endblock %}


{% block scripts %}
    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{{ asset('js/cards.js') }}"></script>
		<script src="{{ asset('js/newSection.js') }}"></script>
    <script src="{{ asset('js/jquery.scrollbar.js') }}"></script>
    <script>
			$(document).ready(function() {
				$('#insert').on('click', function(){insertSection();});
				$('#student-picker').on('change', function(){addStudent();});
			});

			var studentArray = [];

			function addStudent() {
				const studentPicker = document.getElementById('student-picker');
				const value = studentPicker.value;
				const studentInput = document.getElementById('student-csv');
				studentInput.value += value + ", \n"
				studentArray = studentInput.value.split(", \n");
				studentPicker.selectedIndex = 0;
			}

			function insertSection() {
				const test = document.getElementById("section");
				const name = document.getElementById("name").value;
				const semester = document.getElementById("semester").value;
				const year = document.getElementById("year").value;
				const id = test[test.selectedIndex].value;

				var path = "{{path('assignment_insert', { 'courseId': 'course_id',	'userId': 'user_id', 'name': 'name', 'students': 'students', 'semester': 'semester', 'year': 'year', 'start_time': 'start_time', 'end_time': 'end_time', 'is_deleted': 'is_deleted', 'is_public': 'is_public'})}}";
				path = path.replace("course_id", id);
				path = path.replace("name", name);
				path = path.replace("students", JSON.stringify(studentArray));
				path = path.replace("semester", semester);
				path = path.replace("year", year);
				path = path.replace("name", name);
				path = path.replace("name", name);
				path = path.replace("start_time", new Date());
				path = path.replace("end_time", new Date());
				path = path.replace("is_deleted", false);
				path = path.replace("is_public", false);
				path = path.replace("user_id", {{userId}});
				window.location.replace(path);
			}

		</script
    <script>
        jQuery(document).ready(function(){
            jQuery('.scrollbar-macosx').scrollbar();
        });
    </script>
{% endblock %}
