{% block head %}
<title>Gradel</title>
{% endblock %}


{% block body %}

<body>        
    <div class="topnav" id="myTopnav">
        <a href="{{path('homepage')}}">Home</a>
        <a href="">Account</a>
    </div>

    <section id="course-container">
    </section>

    {# Left Nav #}
    <nav class="nav-left">
        <a href="{{path('section_new', {'userId': user.id})}}" class="btn"><div class="btn btn-center">New</div></a>
        <ol>
			{% for usr in usersectionroles %}			
			
				<a href="{{path('section', {'userId':usr.user.id, 'sectionId':usr.section.id})}}"><li>{{usr.section.course.name}}<br><small>{{usr.section.name}}</small></li></a>			
			
			{% endfor %}
		</ol>
    </nav>

    {# Main section #}
    <div class="scrollbar-macosx">
        <section id="main">
            {# Cards #}
            <div class="card">
				{{currTime|date('F d, Y h:i:s')}}
                <div class="btn-close" onclick="collapseCard('courseInfo')">Upcoming Assignments<span style="float: right">&#9660;</span></div>
                <div id="courseInfo" class="card-contents">
                        <ol>
							{% for asgn in assignments %}
								<a href="{{path('assignment', {'userId':user.id, 'sectionId':asgn.section.id, 'assignmentId':asgn.id})}}">
									<li>{{asgn.name}} <i>({{asgn.section.name}})</i> - <small>{{asgn.end_time|date('F d, Y h:i:s')}}</small></li>
								</a>								
							{% endfor %}
                        </ol>
                </div>
            </div>


            <div class="card">
                <div class="btn-close" onclick="collapseCard('studentInfo')">Student Info<span style="float: right">&#9660;</span></div>
                <div id="studentInfo" class="card-contents">
                        Your name is <span style="color:green">{{user.getFirstName()}} {{user.getLastName()}}</span> <br/>
						Your email address is <span style="color:green">{{user.getEmail()}}</span>
                </div>
            </div>
        </section>
    </div>


</body>

{% endblock %}


{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles.css') }}" />
    <link rel="stylesheet" href="{{ asset('home.css') }}" />
    <link rel="stylesheet" href="{{ asset('jquery.scrollbar.css') }}" />
{% endblock %}


{% block scripts %}
    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{{ asset('js/cards.js') }}"></script>
    <script src="{{ asset('js/jquery.scrollbar.js') }}"></script>
    <script>
        jQuery(document).ready(function(){
            jQuery('.scrollbar-macosx').scrollbar();
        });
    </script>
{% endblock %}