{% block stylesheets %}
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
	
    <link rel="stylesheet" href="{{ asset('styles.css') }}" />
    <link rel="stylesheet" href="{{ asset('card.css') }}" />
    <link rel="stylesheet" href="{{ asset('contest.css') }}" />
    <link rel="stylesheet" href="{{ asset('contest-hub.css') }}" />
	
	<link rel="stylesheet" href="{{ asset('font-awesome-4.7.0/css/font-awesome.min.css') }}">
	
	
	<style>
	
	.accepted{
		background: #AAE2AB no-repeat center url("{{asset('contest/check.svg')}}");
		font-size: 0.8em;
	}

	.unattempted{
		background: none;
		color: transparent;
		font-size: 0.8em;
	}

	.attempted{
		background: #F67B51 no-repeat center url("{{asset('contest/cross.svg')}}");
		font-size: 0.8em;
		color: white;
	}
	
	.unknown{
		background: #AAAAAA no-repeat center url("{{asset('contest/question.svg')}}");
		font-size: 0.8em;
	}
	
	
	</style>
	
{% endblock %}

{% block head %}

<title>Contest Hub</title>
<link rel="icon" type="image/x-icon" href="{{ asset('logo.png') }}" />
{% endblock %}


{% block body %}

<body>        
    {{ include('template/top-nav.html.twig') }}
    
	{{ include('contest/problem-nav.html.twig') }}

	
	
	<section id="main">
		
		<div class="card">

			{% if elevatedUser and not current_contest.post_contest and not current_contest.pre_contest %}
				<div id="scoreboard-button" style="position: absolute; right: 8px; top: 10px; height: 10px; line-height: 10px;"></div>
				<div id="print-teams-button" style="position: absolute; right: 8px; top: 40px; height: 10px; line-height: 10px;">Print Teams List</div>
			{% endif %}	

			<div id="contest-heading"><h1>{{current_contest.section.name}}</h1></div>
			<div id="name-heading"><h2>{{current_contest.name}}</h2></div>
			<div id="time-heading"><h3 id="time-left">-</h3></div>
			
			
			<div id="progressbar-container" class="card-contents">
				<div id="time-container">
				
					{% set showDates = current_contest.start_time|date('n/j') != current_contest.end_time|date('n/j') %}
				
					<div id="start-time">{{(showDates) ? current_contest.start_time|date('n/j') : ""}} {{current_contest.start_time|date('g:i:s A')}}</div>
					<div id="end-time">{{(showDates) ? current_contest.end_time|date('n/j') : ""}} {{current_contest.end_time|date('g:i:s A')}}</div>
				</div>
				<div id="progressbar"> </div>
				
				<!--<div id="stats-container"></div>-->
			</div>
		</div>
		
		
		<div class="parallel-cards">	
		
			{{ block('leaderboard_html', 'contest/leaderboard.twig') }}
				
			<div class="card" id="problems-card" style="flex-grow: 6; height: max-content;">
				
				<div class="btn-close">
					<h2 style="margin: 0px">Problems</h2>
					
				</div>
				
				<div id="problems-container" class="card-contents">
					<table id="problems">

					</table>
				</div>
			</div>
		
		</div>
		
		
		
		<div class="card" style="flex-grow: 8;" id="clarification-card">
			
			<div class="btn-close">
				<h2 style="margin: 0px">Clarifications
				</h2>
				
				{% if not current_contest.post_contest and not current_contest.pre_contest %}
				<div id="clarification-button" style="top: 15px; right: 15px">Ask for Clarification</div>
				{% endif %}
				
			</div>
		
			<div id="questionsCard2" class="card-contents">
				<div id="questionsCard" >
				</div>
			</div>
		</div>
		
	</section>

		
	
	{# clarification dialog #}	
	<div id="clarification-form" title="Ask for Clarification" value="0">
	  <form>
			<div> General Clarification: </div>
			<input type="text" name="question" id="question" class="text ui-widget-content ui-corner-all">
			<input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
	  </form>
	</div>
	
</body>

{% endblock %}

{% block scripts %}
    
	<!-- JQuery -->
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script src="{{ asset('js/cards.js') }}"></script>
	<script src="{{ asset('js/validation.js') }}"></script>
	
	<script src="{{ asset('js/contest.js') }}"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.5/jspdf.debug.js"></script>
	
	<script>

		$(window).unload(function() {
						
		});
		
		{{ block('leaderboard_javascript', 'contest/leaderboard.twig') }}
		
		//var freeze 
		$(document).ready( function() {
			
			/* QUESTION ASKER */
			clarificationDialog = $("#clarification-form").dialog({
				autoOpen: false,
				modal: true,
				width: "600px",
				height: "auto",
				buttons: {
					"Ask Question": function () {
						if(postClarification()){
							clarificationDialog.dialog( "close" );
						}						
					}, 
					Cancel: function() {
						clarificationDialog.dialog( "close" );
					}
				},
			  close: function() {
				  noticeMessageForm[0].reset();
			  }
			});

			clarificationDialog.find("form").off( "submit");
			noticeMessageForm = clarificationDialog.find( "form" ).on( "submit", function( event ) {				
				event.preventDefault();
				
				if(postClarification()){	
					clarificationDialog.dialog("close");
				}
			});
			
			$('#clarification-button').button().click(function() {
				clarificationDialog.dialog("open");
			});
		});


		/* SAVE A LIST OF TEAMS */
		$('#print-teams-button').button().click( function(){

			var doc = new jsPDF();

			doc.setFont('helvetica');
			doc.setFontType("bold");
			doc.text(105, 20, "{{current_contest.section.name}}", null, null, 'center');
			
			var teams = JSON.parse("{{current_contest.teams.toArray()|json_encode|e('js')}}");
			
			var height = 40;
			for(var i=0; i<teams.length; i++){
			
				var team = teams[i];

				doc.setFillColor('black');
				doc.setFontSize(15);
				doc.setFontType("bold");
				doc.text(10, height, team.name);
				height += 7;

				doc.setFontSize(12);
				doc.setFontType('bolditalic');
				doc.text(10, height, "Workstation #" + team.workstation_number);
				doc.rect(10, height+1, 190, 0);
				height += 7;

				doc.setFillColor('black');
				doc.setFontType('normal');
				
				for(var j=0; j<team.users.length; j++){					
					var user = team.users[j];
					
					if(user.full_name != user.email){
						doc.text(12, height, user.full_name + " [" + user.email + "]");
					} else {
						doc.text(12, height, "Unnamed [" + user.email + "]");
					}
					height += 7;
				}
				height += 5;
			}

			doc.save('teams.pdf');
		});
		

		/* UPDATE THE LIST OF PROBLEMS */
		function updateChecklist(checklist){

        	$('#problems').children().remove();

			for(var i=0; i<checklist.length; i++){

				problem = checklist[i];

				var trHTML = `
				
				<tr class="` + problem.submission_status + `" onclick="window.location='{{path('contest_problem', {'contestId': current_contest.section.id, 'roundId': current_contest.id, 'problemId': ''})}}` + problem.id + `'">
					<td class="name ` + ((i == checklist.length-1) ? 'last-row' : '') + `"><div>` + escapeHTML(problem.name) + `</div></td>
					<td class="penalties ` + ((i == checklist.length-1) ? 'last-row' : '') + `"><div>` + escapeHTML(problem.penattempt) + `</div></td>
					<td class="checkbox ` + ((i == checklist.length-1) ? 'last-row' : '') + `" style="text-align: right; padding-right: 25px">
					` + ((problem.submission_status == 'accepted') ? "<div style='color: green'> &#x2713; </div>" : (problem.submission_status == 'attempted') ? "<div style='color: red'> &#x2718; </div>" : "") + `
					</td>
				</tr>
				
				`;

				$('#problems').append(trHTML);
			}

			if(checklist.length == 0){
				$('#problems').append('<tr class="unattempted"> <td class="name last-row"><div> Problems are not available </div></td></tr>');
			}
		
		}
		
		/* UPDATE THE CLARIFICATION */
		function updateClarifications(clarifications){
			
			clarHTML = "";
			
			clarHTML += "<ul style='list-style: none; padding-left: 5px;'>";
		
			for(var i=clarifications.length-1; i>=0; i--){
				
				var clar = clarifications[i];
				
				if(clar.answer != null){
							
					if(clar.question != null){		
						clarHTML += "<li style='font-weight: bold'>Q: " + escapeHTML(clar.question) + "</li>";
						clarHTML += "<li style='font-style: italic'>A: " + escapeHTML(clar.answer) + "</li>";					
					} else {										
						clarHTML += "<li style='font-weight: bold; color: red;'>" + escapeHTML(clar.answer) + "</li>";				
					}
								
					clarHTML += "<hr>";
					
				} else {
				
					clarHTML += "<li style='font-weight: bold'>Q: [PENDING] " + escapeHTML(clar.question) + "</li>";
					clarHTML += "<hr>";				
				}
			}
			
			clarHTML += "</ul>";
			
			
			$('#questionsCard').html(clarHTML);
		}
			
		function postClarification(){
			
			// Create a FormData object
			var formData = new FormData();

			formData.append('contestId', {{current_contest.id}});
			
			var question = $('#clarification-form #question').val();

			if(question == ""){
				setInvalid($('#clarification-form #question'));
				return false;
			} else {
				setValid($('#clarification-form #question'));
			}
			
			formData.append('question', question);
			
			$.ajax({
				type: "POST",
				url: "{{path('judging_query')}}",
				data: formData,
				processData: false,
				contentType: false,
				async: true,
				success: function(data){
					console.log(data);
				},
				error: function(data){					
					alert(data['responseText']);
					console.log(data['responseText']);					
				}
			});
			
			
			return true;
		}
		

	</script>
	{{ include('contest/gas/contest_gas.html.twig') }}
	{{ include('contest/gas/contest_gas_hub.html.twig') }}

{% endblock %}

