{% block head %}

<title>Judging | {{contest.name}} </title>
<link rel="icon" type="image/x-icon" href="{{ asset('logo.png') }}" />
{% endblock %}


{% block body %}

<body>        
    {{ include('template/top-nav.html.twig') }}
    
	{{ include('contest/problem-nav.html.twig') }}
	
	
	<section id="main">
		
		<div class="card">
			<div id="contest-heading"><h1>{{contest.section.name}}</h1></div>
			<div id="name-heading"><h2>{{contest.name}}</h2></div>
			<div id="time-heading"><h3 id="time-left">-</h3></div>
			
			
			<div id="progressbar-container" class="card-contents">
				<div id="time-container">
				
					{% set showDates = contest.start_time|date('n/j') != contest.end_time|date('n/j') %}
				
					<div id="start-time">{{(showDates) ? contest.start_time|date('n/j') : ""}} {{contest.start_time|date('g:i:s A')}}</div>
					<div id="end-time">{{(showDates) ? contest.end_time|date('n/j') : ""}} {{contest.end_time|date('g:i:s A')}}</div>
				</div>
				<div id="progressbar"> </div>
			</div>
		</div>
		
		<div class="card">
			<div class="btn-close">
				<h2 style="margin: 0px">Your Reviews <small style="font-size: 0.7em"> <i> Review them! </i> </small> </h2>
				
			</div>
		
			<div id="queue-container" class="card-contents">
				
				
			</div>	
		</div>
		
		<div class="card">
		
			<div class="btn-close">
				<h2 style="margin: 0px">Submission Queue <small style="font-size: 0.7em"> <i> Double-click to claim </i> </small> </h2>
				
			</div>
		
			<div id="submissions-container" class="card-contents">
				
				{% for i in 20..30 %}
				
				<div class="queued submission wrong" id="{{i}}"> 
					<div class="left-side">
						<div class="title">Problem Name</div>
						<div class="name">Team Name</div>
						<div class="results">Wrong Answer</div>
					</div>
					<div class="middle-side">
						<div class="marker-container">
							
							{% for j in 1..random(10) %}
							<div class="marker correct"> &#x2713; 
								<div class="marker-hover">
								
									<div>
									Expected Output:
									<textarea disabled> Goodbye! </textarea>
									</div>
									
									<div>
									Their Output:
									<textarea disabled> Goodbye! </textarea>
									</div>
								
								</div>						
							</div>
							{% endfor %}
							<div class="marker wrong"> &#x2718; 							
								<div class="marker-hover">
								
									<div>
									Expected Output:
									<textarea disabled> Goodbye! </textarea>
									</div>
									
									<div>
									Their Output:
									<textarea disabled> Hello! </textarea>
									</div>
								
								</div>
							</div>
							
							<div class="marker"> </div>
							<div class="marker"> </div>
							<div class="marker"> </div>
							<div class="marker">

							</div>
												
						</div>
					</div>
					
					<div class="right-side">
					
						<div class="main-options">
							<div class="button formatting-button" title="Mark as Formatting Error" id="{{i}}">&#x270F;</div>
							<div class="button wrong-button" title="Mark as Incorrect" id="{{i}}">&#x2718;</div>
						</div>
						
						<div class="additional-options">
							<div class="button correct-button" title="Mark as Correct" id="{{i}}">&#x2713;</div>
							<div class="button custom-buttom" title="Return Custom Message" id="{{i}}">&#x1f589;</div>
							<div class="button delete-button" title="Delete Submission" id="{{i}}">&#x1F5D1;</div>
						</div>
										
					</div>
				</div>
				
				{% endfor %}
				
				
			</div>		
		</div>
					
	</section>
	
	
	
	
	{# custom dialog #}	
	<div id="custom-message-form" title="Custom Message" value="0">
	  <form>
		  <input type="text" name="message" id="message" class="text ui-widget-content ui-corner-all">
		 
		  <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
	  </form>
	</div>
		
	{# delete dialog #}
	<div id="delete-form" title="Delete Submission?" value="0">
	  <p>This submission will be permanently deleted. Are you sure?</p>
	</div>
	 
	{# correct dialog #}
	<div id="correct-form" title="Mark Submission Correct?" value="0">
	  <p>This submission will be marked correct. Are you sure?</p>
	</div>
	
	{# wrong answer dialog #}
	<div id="wrong-form" title="Confirm Submission Wrong?" value="0">
	  <p>This submission will be confirmed wrong answer. Are you sure?</p>
	</div>
	
	{# formatting dialog #}
	<div id="formatting-form" title="Mark Submission Wrong Formatting?" value="0">
	  <p>This submission will be marked as having wrong formatting. Are you sure?</p>
	</div>

	
</body>

{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
	
    <link rel="stylesheet" href="{{ asset('styles.css') }}" />
    <link rel="stylesheet" href="{{ asset('card.css') }}" />
    <link rel="stylesheet" href="{{ asset('contest-hub.css') }}" />
	
	<link rel="stylesheet" href="{{ asset('font-awesome-4.7.0/css/font-awesome.min.css') }}">
	
{% endblock %}


{% block scripts %}
    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script src="{{ asset('js/cards.js') }}"></script>
	
	<script>

		var time = {{"now"|date('U')}} - {{contest.start_time|date('U')}}; // current seconds into the contest
		var total = {{contest.end_time|date('U')}} - {{contest.start_time|date('U')}};
		//var freeze 
		$(document).ready( function() {
					
			$('#progressbar').progressbar({
				max: total, // total seconds in the contest
				value: time	// current seconds into the contest		
			});
						
			setInterval(loopFunction, 1000);
			loopFunction();
			
			
			$('.marker').on('mouseover', function() {			
				$(this).find('.marker-hover').show().css('display', 'flex');			
			});
			
			$('.marker').on('mouseout', function() {			
				$(this).find('.marker-hover').hide();			
			});
			
			$('.button')
				.mousedown(function() {
				
					$(this).css({
						
						'border-top': '1px solid #333333',
						'border-right': '1px solid white',
						'border-bottom': '1px solid white',
						'border-left': '1px solid #333333'						
					});
			
				})
				.mouseup(function() {
					
					$(this).css({						
						'border-top': '1px solid white',
						'border-right': '1px solid #333333',
						'border-bottom': '1px solid #333333',
						'border-left': '1px solid white'						
					});
				});

			
			/* CUSTOM FORMATTING MESSAGE */
			customMessageDialog = $("#custom-message-form").dialog({
				autoOpen: false,
				modal: true,
				buttons: {
					"Update Submission": function () {
						updateSubmission("message");						
					}, 
					Cancel: function() {
						customMessageDialog.dialog( "close" );
					}
				},
			  close: function() {
				  customMessageForm[0].reset();
			  }
			});
			customMessageForm = customMessageDialog.find( "form" ).on( "submit", function( event ) {
				event.preventDefault();
				updateSubmission("message");
			});
			
			$( ".custom-buttom" ).on( "click", function() {
				var sub_id = $(this).attr('id');
				$('#custom-message-form').val(sub_id);
				customMessageDialog.dialog("open");
			});
			
			
			/* DELETE MESSAGE */
			deleteDialog = $( "#delete-form" ).dialog({
				resizable: false,
				modal: true,
				autoOpen: false,
				width: "auto",
				height: "auto",
				buttons: {
					"Delete Submission": function() {
						updateSubmission("delete");
					},
					Cancel: function() {
						$( this ).dialog( "close" );
					}
				}
			});
			
			$( ".delete-button" ).on( "click", function() {
				var sub_id = $(this).attr('id');
				$('#delete-form').val(sub_id);
				deleteDialog.dialog("open");
			});
			
			/* CORRECT MESSAGE */
			correctDialog = $( "#correct-form" ).dialog({
				resizable: false,
				modal: true,
				autoOpen: false,
				width: "auto",
				height: "auto",
				buttons: {
					"Mark Correct": function() {
						updateSubmission("correct");
					},
					Cancel: function() {
						$( this ).dialog( "close" );
					}
				}
			});
			
			$( ".correct-button" ).on( "click", function() {
				var sub_id = $(this).attr('id');
				$('#correct-form').val(sub_id);
				correctDialog.dialog("open");
			});

			/* WRONG MESSAGE */
			wrongDialog = $( "#wrong-form" ).dialog({
				resizable: false,
				modal: true,
				autoOpen: false,
				width: "auto",
				height: "auto",
				buttons: {
					"Mark Wrong Answer": function() {
						updateSubmission("wrong");
					},
					Cancel: function() {
						$( this ).dialog( "close" );
					}
				}
			});
			
			$( ".wrong-button" ).on( "click", function() {
				var sub_id = $(this).attr('id');
				$('#wrong-form').val(sub_id);
				wrongDialog.dialog("open");
			});
			
			/* FORMATTING MESSAGE */
			formattingDialog = $( "#formatting-form" ).dialog({
				resizable: false,
				modal: true,
				autoOpen: false,
				width: "auto",
				height: "auto",
				buttons: {
					"Mark Wrong Formatting": function() {
						updateSubmission("formatting");
					},
					Cancel: function() {
						$( this ).dialog( "close" );
					}
				}
			});
			
			$( ".formatting-button" ).on( "click", function() {
				var sub_id = $(this).attr('id');
				$('#formatting-form').val(sub_id);
				formattingDialog.dialog("open");
			});
			
			
			
			updateQueue();
		});

		/* FUNCTION TO HANDLE POST TO UPDATE SUBMISSIONS */
		function updateSubmission(type){	
			
			var id;
			var formData = new FormData();
			
			formData.append('type', type);
			
			if(type == "message"){				
				id = $('#custom-message-form').val();
				message = $('#message').val();
				customMessageDialog.dialog( "close" );
				
				formData.append('message', message);
			} 
			else if(type == "delete"){
				id = $('#delete-form').val();
				deleteDialog.dialog( "close" );				
			}
			else if(type == "correct"){
				id = $('#correct-form').val();
				correctDialog.dialog( "close" );
			}
			else if(type == "wrong"){
				id = $('#wrong-form').val();
				wrongDialog.dialog( "close" );
			}
			else if(type == "formatting"){			
				id = $('#formatting-form').val();
				formattingDialog.dialog( "close" );					
			} else if(type == "claimed"){
				id = claimed_id;
				console.log(id + " AJKJ");
			} else {
				return false;
			}
			
			formData.append('submissionId', id);
			
			$.ajax({
				type: "POST",
				url: "{{path('judging_modify')}}",
				data: formData,
				processData: false,
				contentType: false,
				success: function(data){

					console.log(data);
					
					if(data['id'] != null && data['reviewed'] != null){						
						
						if(data['reviewed']){
							$('.submission#'+ data['id']).remove();
						}
						
					} else {
						alert("Error reviewing submission");						
					}
				},
				error: function(data){
					alert(data['responseText']);
					console.log(data['responseText']);
				}
			});
			
			return true;
		}
		
		/* FUNCTION TO HANDLE GETTING UPDATES FROM THE WEBSITE */
		function loopFunction(){
			
			// update the progress bar
			$( "#progressbar" ).progressbar( "option", "value", time);
			time++;
			
			// update the scoreboard
			var left = total-time;
			
			if(left <= 0){
				
				$('#time-left').text("FINISHED");
				
			} else {
				
				var hours = parseInt(left/3600);
				var minutes = parseInt((left - hours*3600)/60);
				var seconds = (left - hours*3600 - minutes*60);
				
				hours = (hours < 10) ? "0"+hours : hours;
				minutes = (minutes < 10) ? "0"+minutes : minutes;
				seconds = (seconds < 10) ? "0"+seconds : seconds;
				
				$('#time-left').text(hours+":"+minutes+":"+seconds+" left");
			}
			freeze = 0;
			// check for AJAX information
			if(time > freeze){
				console.log("Polling for updates...");
			
			}
		}
		
		
		function updateQueue(){			
			$('.submission.queued .right-side, .submission.queued .middle-side').hide();

			$('.submission.queued').dblclick( function() {
				$('#queue-container').append(this);
				$(this).removeClass('queued');
				$(this).find('.right-side, .middle-side').show();
				
				claimed_id = $(this).attr('id');
				updateSubmission("claimed");
			});			
		}
		
	</script>
{% endblock %}

