{% set elevatedUser = grader.isJudging(app.user, contest.section) or is_granted("ROLE_SUPER") or is_granted("ROLE_ADMIN") %}

{% set problem_page = (problem is not null) %}

<nav class="nav-left">	
	<ol style="padding-top: 0px; padding-bottom: 10px">
		
		<li style="text-align:center"> {{contest.section.name}} 
			
			<div><small>{{contest.section.course.name}}</small></div>
		</li>

		<li class="sidebar" style="text-align:left">
			<strong>Problems</strong>		

			<object>
				<a title="Create problem" href="{{path('contest_problem_edit', {'contestId': contest.section.id, 'roundId': contest.id})}}">
					<img class="small-icon" id="add-icon" src="{{asset('add_circle.png')}}">
				</a>
			</object>				
		</li>		
			
			
		{% for prob in contest.problems %}

			<a href="{{path("contest_problem", {'contestId': prob.assignment.section.id, 'roundId': prob.assignment.id, 'problemId': prob.id})}}">
		
		<li class="sidebar list-item" style="{{(problem == prob) ? 'background: rgb(90, 90, 90)' : ''}}">					
	
		<span class="preview">
			<div class="{% if elevatedUser %}sidebar-text{% endif %}">{{ prob.name }}</div>
			<small>
			
			{# put progress here if the student has submissions #}
			
			</small>
		</span>

		{# display edit pencil icon #}
		{% if elevatedUser %}
			<object>
				<a title="Edit problem" href="{{path('contest_problem_edit', {'contestId': prob.assignment.section.id, 'roundId': prob.assignment.id, 'problemId': prob.id})}}">
					<img class="small-icon" id="right-icon" src="{{ asset('edit.png') }}">
				</a>
			</object>
		{% endif %}
		
		</li>
		</a>
		
		{% endfor %}
		
	</ol>
	
	{% if app.request.attributes.get('_route') == "contest" %}
	{% if elevatedUser %}
	<a href="{{path('contest_judging', {'contestId': contest.section.id, 'roundId': contest.id})}}">
		<div class="btn btn-center"> Judging Hub </div>
	</a>
	{% endif %}
	{% else %}
	<a href="{{path('contest', {'contestId': contest.section.id, 'roundId': contest.id})}}">
		<div class="btn btn-center"> Contest Hub </div>
	</a>
	{% endif %}
	
	
	{% if app.request.attributes.get('_route') == "contest" %}
		{% if 'Practice' in contest.name %}
			<a href="{{path('contest', {'contestId': practice.section.id, 'roundId': practice.id})}}">
				<div class="btn btn-center btn-bottom" style=""> Switch to Actual Contest </div>
			</a>
		{% else %}
			<a href="{{path('contest', {'contestId': practice.section.id, 'roundId': practice.id})}}">
				<div class="btn btn-center btn-bottom" style=""> Switch to Practice Contest </div>
			</a>
		{% endif %}
	{% else %}
	<a href="{{path('contest', {'contestId': practice.section.id, 'roundId': practice.id})}}">
		<div class="btn btn-center btn-bottom" style=""> Switch to Actual Contest </div>
	</a>
	{% endif %}
	
	{% if elevatedUser and app.request.attributes.get('_route') == "contest" %}
	<a href="{{path('contest_edit', {'contestId': contest.section.id})}}" class="btn">
		<div class="btn btn-center btn-bottom" style="bottom: 65px; font-size: 1em;">Edit Contest</div>
	</a>
	{% endif %}
</nav>