{% block stylesheets %}	
	<link rel="stylesheet" href="{{ asset('styles/contest-problem-nav.css') }}" />
{% endblock %}

{% block body %}
	{% set elevatedUser = grader.isJudging(app.user, current_contest.section) or is_granted("ROLE_SUPER") or is_granted("ROLE_ADMIN") %}

	{% set problem_page = (problem is not null) %}

	<nav class="nav-left">	
		<ol>
			
			<a href="{{path('contest', {'contestId': current_contest.section.id, 'roundId': current_contest.id})}}">
				<li style="text-align:center"> {{current_contest.section.name}} 
				
					<div><small>{{current_contest.section.course.name}}</small></div>
					{{current_contest.section.assignment[0].end_time}}
				</li>
			</a>

			<li class="sidebar" style="text-align:left">
				<strong>Problems</strong>		
				
				{% if elevatedUser %}
				<object>
					<a title="Create problem" href="{{path('contest_problem_edit', {'contestId': current_contest.section.id, 'roundId': current_contest.id})}}">
						<img class="small-icon" id="add-icon" src="{{asset('images/add_circle.png')}}">
					</a>
				</object>			
				{% endif %}
				
			</li>		
					
			{% if contest_open %}
						
				{% for prob in current_contest.problems %}

				<a href="{{path("contest_problem", {'contestId': prob.assignment.section.id, 'roundId': prob.assignment.id, 'problemId': prob.id})}}">
				<li class="sidebar list-item" style="{{(problem == prob) ? 'background: rgb(90, 90, 90)' : ''}}">					
				
					<span class="preview">
						<div class="{% if elevatedUser %}sidebar-text{% endif %}">{{ prob.name }}</div>
						<small>
						
						{# put progress here if the student has submissions #}
						
						</small>
					</span>

					{# display edit pencil icon #}
					{% if elevatedUser %}
						<object>
							<a title="Edit problem" href="{{path('contest_problem_edit', {'contestId': prob.assignment.section.id, 'roundId': prob.assignment.id, 'problemId': prob.id})}}">
								<img class="small-icon" id="right-icon" src="{{ asset('images/edit.png') }}">
							</a>
						</object>
					{% endif %}
					
				</li>
				</a>
				
				{% else %}
				
				<li class="sidebar list-item"> No problems in this contest </li>			
				
				{% endfor %}
			
			{% else %}
			
			<li> Problems are not available right now </li>			
			
			{% endif %}
			
		</ol>
		
		{% if elevatedUser and app.request.attributes.get('_route') != "contest_judging" %}
		<a href="{{path('contest_judging', {'contestId': current_contest.section.id, 'roundId': current_contest.id})}}">
			<div class="btn btn-center"> Judging Hub </div>
		</a>
		{% endif %}
		
		{% if app.request.attributes.get('_route') == "contest" %}			
			<div onclick="showOptions()" class="btn btn-center drop">See Other Contests</div>
			<div class="dropdown">
				<div id="all-contests" class="dropdown-content">
				{% for cont in contests %}
					<a href="{{path('contest', {'contestId': cont.section.id, 'roundId': cont.id})}}">
						<div class="btn"> {{cont.name}} </div>
					</a>
				{% endfor %}
				</div>
			</div>
						
		{% elseif app.request.attributes.get('_route') != "contest" %}
			<a href="{{path('contest', {'contestId': current_contest.section.id, 'roundId': current_contest.id})}}">
				<div class="btn btn-center"> Contest Hub </div>
			</a>
		{% endif %}
		
		<div style="position: absolute; bottom: 10px; width: 100%; display: flex; flex-direction: column-reverse;">
		{% if elevatedUser %}
		<a href="{{path('contest_edit', {'contestId': current_contest.section.id})}}">
			<div class="btn btn-center">Edit Contest</div>
		</a>
		{% endif %}
		
		{% if app.request.attributes.get('_route') != "contest_scoreboard" %}
		<a href="{{path('contest_scoreboard', {'contestId': current_contest.section.id, 'roundId': current_contest.id})}}">
			<div class="btn btn-center">Scoreboard View</div>
		</a>
		{% endif %}
		
		</div>
		
		
	</nav>
{% endblock %}



{% block scripts %}
	<script>
	function showOptions() {
		document.getElementById("all-contests").classList.toggle("show");
	}

	// Close the dropdown menu if the user clicks outside of it
	window.onclick = function(event) {
		if (!event.target.matches('.drop')) {			
			var dropdowns = document.getElementsByClassName("dropdown-content");
			var i;
			for (i = 0; i < dropdowns.length; i++) {
				if ($('#all-contests').hasClass('show')) {
					$('#all-contests').removeClass('show');
				}
			}
		}
	}
	</script>
	{{ include('contest/contest_gas.html.twig') }}
{% endblock %}
