{% set elevatedUser = grader.isJudging(app.user, current_contest.section) or is_granted("ROLE_SUPER") or is_granted("ROLE_ADMIN") %}

{% block title %}
	<title>Gradel | Submission {{submission.id}}</title>
	<link rel="icon" type="image/x-icon" href="{{ asset('logo.png') }}" />
{% endblock %}


{% block stylesheets %}
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<link rel="stylesheet" href="{{ asset('font-awesome-4.7.0/css/font-awesome.min.css') }}">
	
	<link rel="stylesheet" href="{{ asset('styles.css') }}" />
	<link rel="stylesheet" href="{{ asset('card.css') }}" />
	
	<link rel="stylesheet" href="{{ asset('contest.css') }}" />
	<link rel="stylesheet" href="{{ asset('contest-hub.css') }}" />
	
	<link rel="stylesheet" href="{{ asset('sessions.css') }}" />
	
	<link rel="stylesheet" href="{{ asset('submission-results.css') }}">
	<link rel="stylesheet" href="{{ asset('contest-results.css') }}">
{% endblock %}

{% block body %}

<body>
    {{ include('template/top-nav.html.twig') }}
	
	{{ include('contest/problem-nav.html.twig') }}
	
	<section id="main">	
		<div class="card">
			<div style="display: flex; flex-direction: column; justify-content: flex-start">
				<h1 title="{{(submission.team) ? submission.team.getMemberString() : submission.user.getFullName()}}" style="font-size: 2em; margin: 0px">{{(submission.team) ? submission.team.name : submission.user.getFullName()}}</h1>
				<h2 style="margin: 0px">{{submission.problem.name}}</h2>
				
				{% if elevatedUser %}
				<div style="position: absolute; right: 45;">
					<div class="main-options">
						<div class="button formatting-button" title="Mark as Formatting Error" id="{{submission.id}}">&#x270F;</div>
						<div class="button wrong-button" title="Mark as Incorrect" id="{{submission.id}}">&#x2718;</div>
					</div>
							
					<div class="additional-options">
						<div class="button correct-button" title="Mark as Correct" id="{{submission.id}}">&#x2713;</div>
						<div class="button custom-buttom" title="Return Custom Message" id="{{submission.id}}">&#x1f589;</div>
						<div class="button delete-button" title="Delete Submission" id="{{submission.id}}">&#x1F5D1;</div>
					</div>
				</div>
				{% endif %}
				
			</div>
			
			<div id="submissionOverview" class="card-contents">
				<h3 style="margin-top: 2px; margin-bottom: 2px">
					RESULT:
					{% if submission.pending_status < 2 %}
						<i> PENDING REVIEW </i>
					{% elseif submission.isCorrect() %}						
						<span style="color:green">
							CORRECT!
							
							{% if not submission.isCorrect(true) %}
							(Overriden by Judge)
							{% endif %}
						</span>
							
					{% else %}					
						<span style="color:red">
						
						{% if submission.compiler_error %}
						COMPILER ERROR!
						{% elseif submission.exceeded_time_limit %}
						TIME LIMIT EXCEEEDED!
						{% elseif submission.runtime_error %}
						RUNTIME ERROR!
						{% else %}
						WRONG ANSWER!
						
						{% if submission.isCorrect(true) %}
						(Overriden by Judge)
						{% endif %}
						
						{% endif %}	
						
						</span>	
						
					{% endif %}
						
					{% if submission.judge_message %}
					<div> JUDGE MESSAGE: {{ submission.judge_message }} </div>
					{% endif %}
					
				</h3>				
				
				
				<div>
				{% if submission.compiler_output %}
					<h2> COMPILER OUTPUT </h2>
					<textarea disabled id='compiler-output'>{{submission.compiler_output}}</textarea>
				{% endif %}
				
				{% if not submission.compiler_error and elevatedUser %}
				
				<div class="marker-container">				
		
					{% for tc in submission.problem.testcases %}
					
					{% if loop.index0 < submission.testcaseresults|length %}
					{% set tcr = submission.testcaseresults[loop.index0] %}
					
					<div class="marker {{((tcr.is_correct) ? 'correct' : 'wrong')}}"> 
					
						{{((tcr.is_correct) ? '&#x2713;' : '&#x2718;')}}
						
						<div class="marker-hover">
						
							<div>
								Expected Output:
								<textarea disabled>{{tcr.testcase.correct_output|e}}</textarea>
							</div>
							
							<div>
								Their Output:
								<textarea disabled>{{tcr.std_output|e}}</textarea>
							</div>
						
						</div>					
					</div>
					
					{% else %}
					
					<div class="marker untested">
						&#63;
						<div class="marker-hover" id="untested">
							Untested.
						</div>
					</div>
					
					{% endif %}
		
					{% endfor %}
		
				
				</div>
				
				{% endif %}
				
				</div>
				
				<h2 style="">SUBMITTED CODE</h2>				
				
				<div style="display: flex; justify-content: space-between; margin-right: 25px;">

					<div id="loading-container" style="display:none;">
						<img id="loadingGif" style="height: 60px" src="{{asset('beoload.gif')}}" alt="Loading..."/>
						<h3 style="margin: 0px"> Resubmitting Code... </h3>
					</div>
				
					<div id="full-edit-btn" style="margin-bottom: 5px">
						Return and Review
					</div>
					
					<div id="quick-edit-btn" style="margin-bottom: 5px">
						Quick Resubmit
					</div>
				
				</div>
				
				{# the editor text area #}
				{{ block('editor_html', 'ace/sessions.twig') }}
				
				<h3 style="margin-top: 10px; margin-bottom: 0px">Submission ID: {{submission.id}}</h3>
								
				
				<div id="loading-container" style="display:none;">
					<img id="loadingGif" style="height: 60px" src="{{asset('beoload.gif')}}" alt="Loading..."/>
					<h3 style="margin: 0px"> Resubmitting Code... </h3>
				</div>
				
			</div>
		</div>
		
	</section>
	
		
	
	
	{# custom dialog #}	
	<div id="custom-message-form" title="Custom Message" value="0">
	  <form>
		  <input type="text" name="message" id="message" class="text ui-widget-content ui-corner-all">
		 
		  <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
	  </form>
	</div>
		
	{# delete dialog #}
	<div id="delete-form" title="Delete Submission?" value="0">
	  <p>This submission will be permanently deleted. Are you sure?</p>
	</div>
	 
	{# correct dialog #}
	<div id="correct-form" title="Mark Submission Correct?" value="0">
	  <p>This submission will be marked correct. Are you sure?</p>
	</div>
	
	{# wrong answer dialog #}
	<div id="wrong-form" title="Confirm Submission Wrong?" value="0">
	  <p>This submission will be confirmed wrong answer. Are you sure?</p>
	</div>
	
	{# formatting dialog #}
	<div id="formatting-form" title="Mark Submission Wrong Formatting?" value="0">
	  <p>This submission will be marked as having wrong formatting. Are you sure?</p>
	</div>
	
</body>
	
{% endblock %}

{% block javascripts %}
    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	
	<script src="{{ asset('src-noconflict/ace.js') }}" type="text/javascript" charset="utf-8"></script>	
	
	<script src="{{ asset('js/unicode_return.js') }}" type="text/javascript" charset="utf-8"></script>	
	
	<script>


	{# template for multiple sessions #}
	{{ block('editor_javascript', 'ace/sessions.twig') }}

	$( document ).tooltip({
		track: true,
		content: function(callback) {  
			callback($(this).prop('title').replace(/\\n/g, '<br />')); 
		}
	});
	
	$(document).ready( function() {
	
		{% if submission.compiler_output %}
		
		var a = $('#compiler-output').html();
		document.getElementById("compiler-output").rows = a.split(/\r\n|\r|\n/).length;
		
		{% endif %}
		
		var editor = ace.edit("editor");
		editor.setTheme("ace/theme/xcode");
		editor.getSession().setMode("ace/mode/" + "{{ace_mode}}");
		
		
		$('.marker').off('mouseover');
		$('.marker').on('mouseover', function() {			
			$(this).find('.marker-hover').show().css('display', 'flex');			
		});
		
		$('.marker').off('mouseout');
		$('.marker').on('mouseout', function() {			
			$(this).find('.marker-hover').hide();			
		});
		
		$('.marker .marker-hover textarea').each(function(){			
			$(this).text(addReturnKey($(this).text()));			
		});
		
		
		// quick edit button
		$('#quick-edit-btn').button().click( function() {
			quickSubmit();		
		});
		
		$('#quick-edit-btn').button('disable');
		
		editor.getSession().on('change', function() {
			$('#quick-edit-btn').button('enable');
			$('#edit-note').show();
		});
						
		$('#full-edit-btn').button().click( function() {
			window.location = "{{path('contest_problem', {'contestId': submission.problem.assignment.section.id, 'roundId': submission.problem.assignment.id, 'problemId': submission.problem.id, 'submissionId': submission.id} )}}";
		});
		

		{# editor sessions twig #}
		{{ block('editor_onready', 'ace/sessions.twig') }}
	});
	
	
	$('.button')
		.mousedown(function() {
		
			$(this).css({
				
				'border-top': '1px solid #333333',
				'border-right': '1px solid white',
				'border-bottom': '1px solid white',
				'border-left': '1px solid #333333'						
			});
	
		})
		.mouseup(function() {
			
			$(this).css({						
				'border-top': '1px solid white',
				'border-right': '1px solid #333333',
				'border-bottom': '1px solid #333333',
				'border-left': '1px solid white'						
			});
		});
		
	/* CUSTOM FORMATTING MESSAGE */
	customMessageDialog = $("#custom-message-form").dialog({
		autoOpen: false,
		modal: true,
		buttons: {
			"Update Submission": function () {
				updateSubmission("message");						
			}, 
			Cancel: function() {
				customMessageDialog.dialog( "close" );
			}
		},
	  close: function() {
		  customMessageForm[0].reset();
	  }
	});
	
	customMessageForm = customMessageDialog.find( "form" ).on( "submit", function( event ) {
		event.preventDefault();
		updateSubmission("message");
	});
	
	$( ".custom-buttom" ).on( "click", function() {
		var sub_id = $(this).attr('id');
		$('#custom-message-form').val(sub_id);
		customMessageDialog.dialog("open");
	});
	
	
	/* DELETE MESSAGE */
	deleteDialog = $( "#delete-form" ).dialog({
		resizable: false,
		modal: true,
		autoOpen: false,
		width: "auto",
		height: "auto",
		buttons: {
			"Delete Submission": function() {
				updateSubmission("delete");
			},
			Cancel: function() {
				$( this ).dialog( "close" );
			}
		}
	});
	
	$( ".delete-button" ).on( "click", function() {
		var sub_id = $(this).attr('id');
		$('#delete-form').val(sub_id);
		deleteDialog.dialog("open");
	});
	
	/* CORRECT MESSAGE */
	correctDialog = $( "#correct-form" ).dialog({
		resizable: false,
		modal: true,
		autoOpen: false,
		width: "auto",
		height: "auto",
		buttons: {
			"Mark Correct": function() {
				updateSubmission("correct");
			},
			Cancel: function() {
				$( this ).dialog( "close" );
			}
		}
	});
	
	$( ".correct-button" ).on( "click", function() {
		var sub_id = $(this).attr('id');
		$('#correct-form').val(sub_id);
		correctDialog.dialog("open");
	});

	/* WRONG MESSAGE */
	wrongDialog = $( "#wrong-form" ).dialog({
		resizable: false,
		modal: true,
		autoOpen: false,
		width: "auto",
		height: "auto",
		buttons: {
			"Mark Wrong Answer": function() {
				updateSubmission("wrong");
			},
			Cancel: function() {
				$( this ).dialog( "close" );
			}
		}
	});
	
	$( ".wrong-button" ).on( "click", function() {
		var sub_id = $(this).attr('id');
		$('#wrong-form').val(sub_id);
		wrongDialog.dialog("open");
	});
	
	/* FORMATTING MESSAGE */
	formattingDialog = $( "#formatting-form" ).dialog({
		resizable: false,
		modal: true,
		autoOpen: false,
		width: "auto",
		height: "auto",
		buttons: {
			"Mark Wrong Formatting": function() {
				updateSubmission("formatting");
			},
			Cancel: function() {
				$( this ).dialog( "close" );
			}
		}
	});
	
	$( ".formatting-button" ).on( "click", function() {
		var sub_id = $(this).attr('id');
		$('#formatting-form').val(sub_id);
		formattingDialog.dialog("open");
	});
	
	
	/* FUNCTION TO HANDLE POST TO UPDATE SUBMISSIONS */
	function updateSubmission(type){	
		
		var id;
		var formData = new FormData();
		
		formData.append('contestId', {{current_contest.id}});
		formData.append('override', true);
		formData.append('type', type);
		
		if(type == "message"){				
			id = $('#custom-message-form').val();
			message = $('#message').val();
			customMessageDialog.dialog( "close" );
			
			formData.append('message', message);
		} 
		else if(type == "delete"){
			id = $('#delete-form').val();
			deleteDialog.dialog( "close" );				
		}
		else if(type == "correct"){
			id = $('#correct-form').val();
			correctDialog.dialog( "close" );
		}
		else if(type == "wrong"){
			id = $('#wrong-form').val();
			wrongDialog.dialog( "close" );
		}
		else if(type == "formatting"){			
			id = $('#formatting-form').val();
			formattingDialog.dialog( "close" );					
		}
		else if(type == "claimed"){
			id = claimed_id;
		}
		else if(type == "unclaimed"){
			id = claimed_id;			
		}else {
			return false;
		}
		
		formData.append('submissionId', id);
		
		submissionModifyAJAX = $.ajax({
			type: "POST",
			url: "{{path('judging_modify')}}",
			data: formData,
			processData: false,
			contentType: false,
			success: function(data){

				console.log(data);
				
				if(data['reviewed'] != null){						

					window.location = "{{path('contest_judging', {'contestId': current_contest.section.id, 'roundId': current_contest.id})}}";
					
				} else {
					alert("Error reviewing submission");						
				}
			},
			error: function(data){
				alert(data['responseText']);
				console.log(data['responseText']);
			}
		});
		
		return true;
	}
	
	function quickSubmit(){
		
		$('#quick-edit-btn').hide();
		$('#full-edit-btn').hide();
		
		$('#loading-container').show();
	
		// Create a FormData object
		var formData = new FormData();
		
		var ACE = [];
		{{ block('editor_storecontentsinace', 'ace/sessions.twig') }}		
		formData.append('ACE', JSON.stringify(ACE));
		
		formData.append('problem_id', {{submission.problem.id}});
		formData.append('language', "{{submission.language.id}}");
		formData.append('main_class', "{{submission.main_class_name}}");
		formData.append('package_name', "{{submission.package_name}}");
		
		$.ajax({
			type: "POST",
			url: "{{path('temp_trial_submit')}}",
			data: formData,
			processData: false,
			contentType: false,
			success: function(data){

				console.log(data);
				window.location = data["redirect_url"];
			},
			error: function(data){
				alert(data['responseText']);
				console.log(data['responseText']);
			},
			done: function(){
				$('#loading-container').hide();
				$('#quick-edit-btn').show();
				$('#full-edit-btn').show();
			}
		});
		
	}
	
	</script>
	{{ include('contest/contest_gas.html.twig') }}


{% endblock %}