{% block stylesheets %}
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
	
    <link rel="stylesheet" href="{{ asset('styles.css') }}" />
    <link rel="stylesheet" href="{{ asset('card.css') }}" />
    <link rel="stylesheet" href="{{ asset('contest.css') }}" />
    <link rel="stylesheet" href="{{ asset('contest-hub.css') }}" />
	
	<link rel="stylesheet" href="{{ asset('font-awesome-4.7.0/css/font-awesome.min.css') }}">
	
	
	<style>
	
	.accepted{
		background: #AAE2AB no-repeat center url("{{asset('contest/check.svg')}}");
		font-size: 0.8em;
	}

	.unattempted{
		background: none;
		color: transparent;
		font-size: 0.8em;
	}

	.attempted{
		background: #F67B51 no-repeat center url("{{asset('contest/cross.svg')}}");
		font-size: 0.8em;
		color: white;
	}
	
	.unknown{
		background: #AAAAAA no-repeat center url("{{asset('contest/question.svg')}}");
		font-size: 0.8em;
	}
	
	
	</style>
	
{% endblock %}

{% block head %}

<title>Contest Scoreboard</title>
<link rel="icon" type="image/x-icon" href="{{ asset('logo.png') }}" />
{% endblock %}


{% block body %}

<body>        
    {{ include('template/top-nav.html.twig') }}
	
	<section id="main" style="width: 100%">
		
		<div class="card" style="text-align: center;">		
		
			<div id="contest-heading" style="display:inline-block; width: 100%">
				<h1 style=" margin: 0;">{{current_contest.section.name}}</h1> 
				<a style="position: absolute; top: 25px; left: 8px; height:46px; width:46px" title="Back to Contest" href="{{path('contest', {'contestId': current_contest.section.id, 'roundId': current_contest.id})}}">
					<img style="z-index: 10; height:30px; width: 30px;" src="{{ asset('back arrow.png') }}" >
				</a>
				
			{% if elevatedUser %}
				<div id="scoreboard-button" style="position: absolute; right: 8px; top: 10px; height: 10px; line-height: 10px;"></div>
			{% endif %}
			
			</div>
			
			<div id="name-heading"><h2>{{current_contest.name}}</h2></div>
			<div id="time-heading"><h3 id="time-left">-</h3></div>
			
			
			<div id="progressbar-container" class="card-contents">
				
				<div id="time-container">
				
					{% set showDates = current_contest.start_time|date('n/j') != current_contest.end_time|date('n/j') %}
				
					<div id="start-time">{{(showDates) ? current_contest.start_time|date('n/j') : ""}} {{current_contest.start_time|date('g:i:s A')}}</div>
					<div id="end-time">{{(showDates) ? current_contest.end_time|date('n/j') : ""}} {{current_contest.end_time|date('g:i:s A')}}</div>
				</div>
				<div id="progressbar"> </div>
				
				<!--<div id="stats-container"></div>-->
			</div>
		</div>
		
		
		{{ block('leaderboard_html', 'contest/leaderboard.twig') }}
		
	</section>

</body>

{% endblock %}


{% block scripts %}
    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script src="{{ asset('js/cards.js') }}"></script>
	
	<script src="{{ asset('js/contest.js') }}"></script>
	
	<script>
				
		var hideFreezeButtonInterval;
		var scrollPageInterval;
	
		{{ block('leaderboard_javascript', 'contest/leaderboard.twig') }}

		$(document).ready( function() {	
			
			$('#scoreboard-button').animate({
					opacity: 0.00,
			}, 0);
		
			$(window).mousemove(function() {
				
				$('#main').stop();
				
				$('#scoreboard-button').animate({
					opacity: 1.00,
				}, 0);
				
				clearInterval(hideFreezeButtonInterval);
				hideFreezeButtonInterval = setInterval(hideFreezeButton, 2000);	

				clearInterval(scrollPageInterval);
				scrollPageInterval = setInterval(scrollPage, 25000);						
			});	
		});


		function scrollPage(){
			$('#main').animate({
				scrollTop: $('#leaderboard-card').offset().top+$('#leaderboard-card').height()-$(window).height()+50,
			}, 18000);
			
			$('#main').animate({
				scrollTop: 0,
			}, 3000);
		}
			
		function hideFreezeButton(){
			
			clearInterval(hideFreezeButtonInterval);
			
			$('#scoreboard-button').animate({
					opacity: 0.00,
			}, 1000);
		}

	</script>
	{{ include('contest/gas/contest_gas.html.twig') }}
	{{ include('contest/gas/contest_gas_hub.html.twig') }}
{% endblock %}

