{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('styles/styles.css') }}" />
	<link rel="stylesheet" href="{{ asset('styles/index.css') }}" />

	<link rel="stylesheet" href="{{ asset('font-awesome-4.7.0/css/font-awesome.min.css') }}">
{% endblock %}


{% block head %}
<title>Gradel Home</title>
<link rel="icon" type="image/x-icon" href="{{ asset('images/logo.png') }}" title="Gradel: when you're here, you're coding."/>
{% endblock %}

{% block body %}
<body>    
    {{ include('template/top-nav.html.twig') }}
	{{ include('template/section-nav.html.twig') }}
	
    {# Main section #}
    <section id="main">
		<div class="main_content">
			{# Cards #}
			<div class="sections-container">
				{% if usersectionroles|length > 0 %}	
					{# list of all the sections being taken #}
					{% if sections_taking|length > 0 %}
						{% for section in sections_taking %}
							<div class="section-container">
								<div class="section-title">
									<a href="{{path('section', {'sectionId':section.id})}}">{{section.course.code}}</a>
								</div>
								{% set oldDate = '' %}
								{% for asgn in section.assignments %}
									{% set newDate = asgn.end_time|date('m/d/Y') %}
									{% set oldDate = newDate %}
									<div class="section-card-content">
										Next Assignment: <a href="{{path('assignment', {'sectionId':asgn.section.id, 'assignmentId':asgn.id})}}">{{asgn.name}}</a>
									</div>
								{% endfor %}				
							</div>
						{% endfor %}
					{% endif %}

					{# list of all the sections being taught #}
					{% if sections_teaching|length > 0 %}
						{% for section in sections_teaching %}
							<div class="section-container">
								<div class="section-title">
									<a href="{{path('section', {'sectionId':section.id})}}">{{section.course.code}}</a>
								</div>
								{% set oldDate = '' %}
								{% for asgn in section.assignments %}
									{% set newDate = asgn.end_time|date('m/d/Y') %}
									{% set oldDate = newDate %}
									<div class="section-card-content">
										Next Assignment: <a href="{{path('assignment', {'sectionId':asgn.section.id, 'assignmentId':asgn.id})}}">{{asgn.name}}</a>
									</div>
								{% endfor %}				
							</div>
						{% endfor %}
					{% endif %}
				{% endif %}
			</div>
			{% if is_granted("ROLE_SUPER") or is_granted("ROLE_ADMIN") %}
				{# new section button #}
				<div class="floatingControls">
					<a class="floatingLink" title="Create Section" href={{path('section_edit')}}>
						<div class="floatingButton">Create Section</div>
					</a>
				</div>
			{% endif %}
		</div>
    </section>
</body>
{% endblock %}

{% block scripts %}
<!-- JQuery -->
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script src="{{ asset('js/floating-control.js') }}"></script>
{% endblock %}