{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('styles.css') }}" />
	<link rel="stylesheet" href="{{ asset('card.css') }}" />

	<link rel="stylesheet" href="{{ asset('font-awesome-4.7.0/css/font-awesome.min.css') }}">
{% endblock %}


{% block head %}
<title>Gradel Home</title>
<link rel="icon" type="image/x-icon" href="{{ asset('logo.png') }}" title="Gradel: when you're here, you're coding."/>
{% endblock %}

{% block body %}
<body>    
    {{ include('template/top-nav.html.twig') }}
	{{ include('template/section-nav.html.twig') }}
	{{ include('template/path-nav.html.twig') }}
	{{ include('contest/contest_gas.html.twig') }}
	
    {# Main section #}
    <section id="main">
        {# Cards #}
		
        <div class="card">
            <div class="btn-close" onclick="collapseCard('courseInfo')">
				<h2 style="margin: 0px">Upcoming Assignments
					<span style="float: right"><i class="fa fa-angle-down"></i></span>
				</h2>
			</div>
            <div id="courseInfo" class="card-contents">
                <div>
					{% set oldDate = '' %}
					
					{% for asgn in assignments %}
					
						{% set newDate = asgn.end_time|date('m/d/Y') %}
						
						{% if newDate != oldDate %}
							<h4 style="background: grey; color: white; padding: 5px"> {{asgn.end_time|date('l, F d')}} </h4>
						{% endif %}
						
						{% set oldDate = newDate %}
						
						<div style="margin-left: 20px">
							<small>{{asgn.section.name}}</small>
							
							<a href="{{path('assignment', {'sectionId':asgn.section.id, 'assignmentId':asgn.id})}}">
								{{asgn.name}}
							</a>		
							
						</div>
					{% else %}
					{% if sections_teaching|length > 0 %}
						You have no upcoming assignments for your students to complete!
					{% else %}
						You have no upcoming assignments to complete!
					{% endif %}
					
						
					{% endfor %}
				</div>
            </div>
        </div>

		{% if sections_taking|length > 0 or not sections_teaching|length > 0 %}
        <div class="card">
            <div class="btn-close" onclick="collapseCard('gradeReport')"><h2 style="margin: 0px">Your Student Report<span style="float: right"><i class="fa fa-angle-down"></i></span></h2></div>
            <div id="gradeReport" class="card-contents">
                <div>
				
					{% if sections_taking|length == 0 %}
						
						You do not have any classes to do well in!
					
					{% else %}
				
						<i>Proverbs 12:24 - "Diligent hands will rule, but laziness ends in forced labor."</i>
						<ul>
						{% for section in sections_taking %}
						
							{% if grades[section.id]['percentage_adj'] < 0 %}
								{% set grade = 'no grades to display yet' %}
							{% else %}
								{% set grade = (grades[section.id]['percentage_adj']*100)|number_format(1, '.') ~ '%' %}
							{% endif %}
						
							{{section.course.name}} - {{grade}} <br/> 
							
						{% endfor %}
						<ul/>
					
					{% endif %}
					
                </div>
            </div>
        </div>
		{% endif %}
		
		{% if sections_teaching|length > 0 %}
        <div class="card">
            <div class="btn-close" onclick="collapseCard('teachReport')"><h2 style="margin: 0px">Teacher Report<span style="float: right"><i class="fa fa-angle-down"></i></span></h2></div>
            <div id="teachReport" class="card-contents">
                <div>
				
					{% if sections_teaching|length == 0 %}
						
						You do not have any classes to do well in!
					
					{% else %}
				
						<i>Proverbs 11:25 - "A generous person will prosper; whoever refreshes others will be refreshed."</i>
						<ul>
						{% for section in sections_teaching %}
						
							{{section.course.name}} <small><i>{{section.name}}</i></small><br/>
						
						{% endfor %}						
						<ul/>
					
					{% endif %}
					
                </div>
            </div>
        </div>
		{% endif %}
        
        <div class="card">
            <div class="btn-close" onclick="collapseCard('studentInfo')"><h2 style="margin: 0px">User Information (Debug Info)<span style="float: right"><i class="fa fa-angle-down"></i></span></h2></div>
            <div id="studentInfo" class="card-contents">
                <div>
                    Your name is <span style="color:green">{{user.getFirstName()}} {{user.getLastName()}}</span> <br/>
                    Your email address is <span style="color:green">{{user.getEmail()}}</span> <br/>
					Your roles are <span style="color:green">[{{user.getRoles()|join(', ')}}]</span> <br/>
                </div>
            </div>
        </div>
    </section>
</body>
{% endblock %}

{% block scripts %}
<!-- JQuery -->
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="{{ asset('js/cards.js') }}"></script>

{# this needs to be in the section-nav.html.twig
<script>

	var past_hidden = true;
	var past_sections_button = document.getElementById('past_sections_button');
	past_sections_button.addEventListener("click", togglePastSections);
	var past_list = document.getElementById('past_list');		
	
	function togglePastSections() {
		
		if(past_hidden){
		
			past_sections_button.innerHTML = "&#9650; Hide Past Sections ";
			past_list.style.display = "block";		
		} else {		
		
			past_sections_button.innerHTML = "&#9660; Load Past Sections ";
			past_list.style.display = "none";	
		}
		
		past_hidden = !past_hidden;
		
	}

</script>#}
{% endblock %}