{% extends 'base.html.twig' %}

{% block title %}
	Gradel | Submission {{submission.id}}
{% endblock %}

{% block body %}

{% if grader is not defined %}

The grader was not passed from the controller.

{% else %}

{% set grades = grader.getProblemGrade(app.user, submission.problem) %}

<body>
	{{ include('template/top-nav.html.twig') }}
	
	{# left panel with the problem links #}
	{{ include('template/problem-nav.html.twig') }}
	
	{{ include('template/path-nav.html.twig') }}

	<section id="main">
	
		<div class="card">
			<h2 style="margin: 0px">{{submission.problem.name}}</h2>
			<div id="submissionOverview" class="card-contents">
				<h3 style="margin-top: 2px; margin-bottom: 2px">
					RESULT: 
					{% if submission.isCorrect() %}						
						<span style="color:green">CORRECT!</span>
						
					{% else %}					
						<span style="color:red">
						{% if submission.compiler_error %}
						COMPILER ERROR!
						{% elseif submission.exceeded_time_limit %}
						TIME LIMIT EXCEEEDED!
						<br/>
						
						{% if submission.testcaseresults|length > 0 %}
							{% for tcr in submission.testcaseresults %}
								Runtime for input {{tcr.testcase.seq_num}}) {{tcr.execution_time/1000}}s
								<br/>
							{% endfor %}
						{% else %}
							Wall clock limit exceeded <br/>
						{% endif %}
						
						{% elseif submission.runtime_error %}
						RUNTIME ERROR!
						{% else %}
						WRONG ANSWER!
						{% endif %}
						</span>
						
					{% endif %}
				</h3>				
				
				

				<div>
				{% if submission.questionable_behavior %}
					POSSIBLE MALICIOUS BEHAVIOR DETECTED
				{% endif %}
				
				{% if submission.compiler_output %}
					<h2> COMPILER OUTPUT </h2>
					<textarea disabled id='compiler-output'>{{submission.compiler_output}}</textarea>
				{% endif %}
				
				</div>
					
				<!--span style="word-wrap: break-word"> {{feedback|json_encode}} </span-->
				
				{% if feedback.display_markers and not submission.compiler_error and not submission.questionable_behavior and submission.testcaseresults|length > 0%}
				<div id="feedback-holder">
					<div id="testcase-markers-container">
						<h3>TESTCASES:</h3>				
						
							{% if feedback.output|length > 0 %}
							<div id="testcase-markers">
								<ul>
									{% set failed = false %}
									{% for tcr in submission.testcaseresults %}						
									
										{% if not failed or not feedback.stop_on_first_fail %}
										{% if not tcr.testcase.is_extra_credit or feedback.extra_testcases_display %}
										
										{% if tcr.is_correct %}
											{% set classname = 'correct'%}
										{% else %}
											{% set classname = 'incorrect'%}
										{% endif %}
										
										<li id="{{classname}}"> <a href="#testcase-tab-{{tcr.id}}">
											{% if tcr.is_correct %}
												<span style="color:green; font-size: 20px;"> &#x2713;</span> 				
											{% else %}
												{% set failed = true %}
												<span style="color:red; font-size: 20px;"> &#x2718;</span>
											{% endif %}
										</a></li>	
										
										{% endif %}
										{% endif %}
									
									{% endfor %}
								</ul>
								
								{% for tcr in submission.testcaseresults %}
								
									{% if not tcr.runtime_error %}
										{% if not tcr.testcase.is_extra_credit or feedback.extra_testcases_display %}
										
										<div id="testcase-tab-{{tcr.id}}">
											<div class="testcase-data">
												{% if feedback.input[tcr.testcase.seq_num] != '' %}
												<div id="testcase-input">
													<div class="testcase-data-heading">Input:</div>
													<textarea disabled>{{feedback.input[tcr.testcase.seq_num]}}</textarea>
												</div>	
												{% endif %}
												
												
												
												<div id="testcase-outputexp">
													<div class="testcase-data-heading">Expected Output:</div>
													<textarea disabled>{{feedback.output[tcr.testcase.seq_num]}}</textarea>
												</div>
												
												<div id="testcase-outputyrs">
													<div class="testcase-data-heading">Your Output:</div>
													<textarea disabled>{{submission.testcaseresults[loop.index0].std_output}}</textarea>
												</div>
											</div>
										</div>
										
										{% endif %}
									{% else %}
									
										<div id="testcase-tab-{{tcr.id}}">
											<div class="testcase-data">
												<div id="testcase-outputexp" style="width: 100%">
													<div class="testcase-data-heading">Runtime Output:</div>
													<textarea disabled>{{feedback.runtime[tcr.testcase.seq_num]}}</textarea>
												</div>
											
											</div>
										</div>								
									
									{% endif %}
								
								{% endfor %}
						
							</div>	
							{% else %}
							<div id="testcase-markers-no-out">
								{% for tcr in submission.testcaseresults %}						
									
									{% if not tcr.testcase.is_extra_credit or feedback.extra_testcases_display %}
									
									{% if tcr.is_correct %}
										<span style="color:green; font-size: 20px;"> &#x2713;</span> 				
									{% else %}
										<span style="color:red; font-size: 20px;"> &#x2718;</span>
									{% endif %}
									
									{% endif %}
								
								{% endfor %}						
							
							</div>		
							{% endif %}
					</div>
					
					{% if feedback.response|length > 0 %}
					<div id="feedback"> 
						<h3> TIPS: </h3>
						<ul>
						{% for response in feedback.response %}
							<li>{{response}}</li>
						{% endfor %}
					
					{% endif %}
						</ul>
					</div>
				</div>
				
				{% endif %}
				
				<h2 style="">SUBMITTED CODE</h2>
				<a href="{{path('assignment', {'sectionId': submission.problem.assignment.section.id, 'assignmentId': submission.problem.assignment.id, 'problemId': submission.problem.id} )}}">
					Edit and resubmit
				</a>
				
<div id="editor">{% if submission.filename|split('.')|last != 'zip' %}
{{ submission.deblobinateSubmittedFile()|nl2br }}{% else %}
Submission was a ZIP file{% endif %}</div>
				
				<h3 style="margin-top: 10px; margin-bottom: 0px">Submission ID: {{submission.id}}</h3>
			</div>
		</div>
		
	</section>
	
	</body>
	
{% endif %}

	
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<link rel="stylesheet" href="{{ asset('font-awesome-4.7.0/css/font-awesome.min.css') }}">
	
	<link rel="stylesheet" href="{{ asset('styles.css') }}" />
	<link rel="stylesheet" href="{{ asset('card.css') }}" />
	
	<link rel="stylesheet" href="{{ asset('submission-results.css') }}">

{% endblock %}

{% block javascripts %}
    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script src="{{ asset('src-noconflict/ace.js') }}" type="text/javascript" charset="utf-8"></script>	
	
	<script>
	
	$(document).ready( function() {
	
		$('#testcase-markers').tabs();

		{% if submission.compiler_output %}
		
		var a = $('#compiler-output').html();
		document.getElementById("compiler-output").rows = a.split(/\r\n|\r|\n/).length;
		
		{% endif %}
		
		var editor = ace.edit("editor");
		editor.setTheme("ace/theme/xcode");	
		editor.setReadOnly(true);
	});
	
	
	</script>

{% endblock %}