{% block title %}
	<title>Gradel | Submission {{submission.id}}</title>
	<link rel="icon" type="image/x-icon" href="{{ asset('logo.png') }}" />
{% endblock %}


{% block stylesheets %}
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<link rel="stylesheet" href="{{ asset('jquery.highlighttextarea.css') }}">
	<link rel="stylesheet" href="{{ asset('font-awesome-4.7.0/css/font-awesome.min.css') }}">
	
	<link rel="stylesheet" href="{{ asset('styles.css') }}" />
	<link rel="stylesheet" href="{{ asset('card.css') }}" />
	
	<link rel="stylesheet" href="{{ asset('sessions.css') }}" />
	
	<link rel="stylesheet" href="{{ asset('submission-results.css') }}">
{% endblock %}



{% block body %}

{% set grades = grader.getProblemGrade(app.user, submission.problem) %}

<body>
	{{ include('template/top-nav.html.twig') }}
	
	{# left panel with the problem links #}
	{{ include('template/problem-nav.html.twig') }}
	
	{{ include('template/path-nav.html.twig') }}

	<section id="main">
	
		<div class="card">
			<div style="display: flex; flex-direction: row; justify-content: space-between">
				<h2 style="margin: 0px">{{submission.problem.name}}</h2>
				
				{% if is_granted("ROLE_SUPER") or grader.isTeaching(app.user, submission.problem.assignment.section) %}
				<a title="Delete Submission" href="{{path('result_delete', {'submission_id': submission.id})}}">
					<img src="{{ asset('trash.png') }}">
				</a>
				{% endif %}
			</div>
			
			<div id="submissionOverview" class="card-contents">
				<h3 style="margin-top: 2px; margin-bottom: 2px">
					RESULT: 
										
					{% if submission.isCorrect() %}						
						<span style="color:green">CORRECT!</span>
						
					{% else %}					
						<span style="color:red">
						{% if submission.compiler_error %}
						COMPILER ERROR!
						{% elseif submission.exceeded_time_limit %}
						TIME LIMIT EXCEEEDED!
						<br/>
						
						{% if submission.testcaseresults|length > 0 %}
							{% for tcr in submission.testcaseresults %}
								Runtime for input {{tcr.testcase.seq_num}}) {{tcr.execution_time/1000}}s
								<br/>
							{% endfor %}
						{% else %}
							Wall clock limit exceeded <br/>
						{% endif %}
						
						{% elseif submission.runtime_error %}
						RUNTIME ERROR!
						{% else %}
						WRONG ANSWER!
						{% endif %}
						</span>
						
					{% endif %}
				</h3>				
				
				

				<div>
				{% if submission.questionable_behavior %}
					POSSIBLE MALICIOUS BEHAVIOR DETECTED
				{% endif %}
				
				{% if submission.compiler_output %}
					<h2> COMPILER OUTPUT </h2>
					<textarea disabled id='compiler-output'>{{submission.compiler_output}}</textarea>
				{% endif %}
				</div>
									
				<div id="feedback-holder">
					{% if feedback.display_markers and not submission.compiler_error and not submission.questionable_behavior and submission.testcaseresults|length > 0%}
					<div id="testcase-markers-container">
						<h3 style="margin-bottom: 4px">TESTCASES:</h3>				
							{% if feedback.show_output and submission.testcaseresults|length > 0 %}
							<small> <i> Note that this is resizable </i> </small>
							<div id="testcase-markers" onresize="resized()">							
								<ul>
									{% set failed = false %}
									{% for tcr in submission.testcaseresults %}						
									
										{% if not failed or not feedback.stop_on_first_fail %}
										{% if not tcr.testcase.is_extra_credit or feedback.extra_testcases_display %}
										
										{% if tcr.is_correct %}
											{% set classname = 'correct'%}
										{% else %}
											{% set classname = 'incorrect'%}
										{% endif %}
										
										<li id="{{classname}}"> <a href="#testcase-tab-{{tcr.id}}">
											{% if tcr.is_correct %}
												<span style="color:green; font-size: 20px;"> &#x2713;</span> 				
											{% else %}
												{% set failed = true %}
												<span style="color:red; font-size: 20px;"> &#x2718;</span>
											{% endif %}
										</a></li>	
										
										{% endif %}
										{% endif %}
									
									{% endfor %}
								</ul>
								
								{% set failed = false %}
								
								{% for tcr in submission.testcaseresults %}
								
									{% if not failed or not feedback.stop_on_first_fail %}
									{% if not tcr.testcase.is_extra_credit or feedback.extra_testcases_display %}
									
									{% if not tcr.is_correct %}
										{% set failed = true %}
									{% endif %}
									
									<div id="testcase-tab-{{tcr.id}}">
										<div class="testcase-data">
											{% if feedback.show_input %}
											<div id="testcase-input">
											
												<div style="height: 100%">
												{% if tcr.testcase.input %}
												
												<div {{(tcr.testcase.command_line_input) ? "style='height:50%'" : ""}}>
													<div class="testcase-data-heading">Input:</div>
													<textarea {{(tcr.testcase.command_line_input) ? "id='input-textarea'" : "" }} disabled>{{tcr.testcase.input}}</textarea>
												</div>
												{% endif %}
												
												{% if tcr.testcase.command_line_input %}
												<div {{(tcr.testcase.input) ? "style='height:50%'" : ""}}>
													<div class="testcase-data-heading">Command-Line Arguments:</div>
													<textarea  {{(tcr.testcase.input) ? "id='command-line-textarea'" : "" }} disabled>{{tcr.testcase.command_line_input}}</textarea>
												</div>
												{% endif %}
												</div>
												
											</div>
											{% endif %}
											
											
											{% if tcr.testcase.correct_output and feedback.show_output %}
											<div id="testcase-outputexp" {{(feedback.show_input) ? "" : "style='width:50%'"}}>
												<div class="testcase-data-heading">Expected Output:</div>
												<textarea disabled>{{tcr.testcase.correct_output}}</textarea>
											</div>
											{% endif %}
											
											
											<div id="testcase-outputyrs" {{(feedback.show_input) ? "" : "style='width:50%'"}}>
											{% if not tcr.runtime_error %}
											
												<div class="testcase-data-heading">Your Standard Output:</div>
												<textarea id="{{tcr.id}}" disabled>{{tcr.std_output}}</textarea>
												
											{% else %}
											
												<div class="testcase-data-heading">Your Runtime Output:</div>
												<textarea disabled>{{tcr.runtime_output}}</textarea>													
												
											{% endif %}
											</div>
										</div>
									</div>
									
									{% endif %}
									{% endif %}
								
								{% endfor %}
						
							</div>
							<i style="color: red"><small>Note that expected output may contain regex patterns that could match a variety of strings.</small></i>							
							{% else %}
							<div id="testcase-markers-no-out">
								{% for tcr in submission.testcaseresults %}						
									
									{% if not tcr.testcase.is_extra_credit or feedback.extra_testcases_display %}
									
									{% if tcr.is_correct %}
										<span style="color: green; font-size: 20px;"> &#x2713;</span> 				
									{% else %}
										<span style="color:red; font-size: 20px;"> &#x2718;</span>
									{% endif %}
									
									{% endif %}
								
								{% endfor %}						
							
							</div>		
							{% endif %}
					</div>
					{% endif %}
					
					{% if feedback.response|length > 0 %}
					<div id="feedback"> 
						<h3> TIPS: </h3>
						<ul id="tips-list">
						
						</ul>
					</div>
					{% endif %}
				</div>
				
				<h2 style="">SUBMITTED CODE</h2>
				
				<div style="display: flex; justify-content: space-between; margin-right: 25px;">

					<div id="loading-container" style="display:none;">
						<img id="loadingGif" style="height: 60px" src="{{asset('beoload.gif')}}" alt="Loading..."/>
						<h3 style="margin: 0px"> Resubmitting Code... </h3>
					</div>
				
					<div id="full-edit-btn" style="margin-bottom: 5px">
						Return and Review
					</div>
					
					<div id="quick-edit-btn" style="margin-bottom: 5px">
						Quick Resubmit
					</div>
				
				</div>
				
				
				<div id='edit-note' style='display: none'> <small style="color: red; font-style: italics"> Note that editing and resubmitting this code will override your saved code on the problem page </small> </div>

				{# the editor text area #}
				{{ block('editor_html', 'ace/sessions.twig') }}
				
				<h3 style="margin-top: 10px; margin-bottom: 0px">Submission ID: {{submission.id}}</h3>
				
				
				<div id="loading-container" style="display:none;">
					<img id="loadingGif" style="height: 60px" src="{{asset('beoload.gif')}}" alt="Loading..."/>
					<h3 style="margin: 0px"> Resubmitting Code... </h3>
				</div>
				
			</div>
		</div>
		
	</section>
	
	</body>
	
{% endblock %}

{% block javascripts %}
    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	
	<script src="{{ asset('js/jquery.highlighttextarea.js') }}" type="text/javascript" charset="utf-8"></script>
	<script src="{{ asset('src-noconflict/ace.js') }}" type="text/javascript" charset="utf-8"></script>	
	
	<script src="{{ asset('js/cards.js') }}" type="text/javascript" charset="utf-8"></script>
	<script src="{{ asset('js/unicode_return.js') }}" type="text/javascript" charset="utf-8"></script>
	
	<script>
	
	{# template for multiple sessions #}
	{{ block('editor_javascript', 'ace/sessions.twig') }}
	
	var feedback = JSON.parse("{{feedback.response|json_encode|e('js')}}");
	
	$(document).ready( function() {
	
		{% if feedback.display_markers %}
		$('#testcase-markers').tabs({
			
			activate: function(event, ui) {
			
				var seq_num = 1+$(this).tabs("option", "active");				
				$('#tips-list').html("<li>" + escapeHTML(feedback[seq_num]) + "</li>");
			}			
		});
		
		var maxWidth = $('.card').width() - 10;
		var maxHeight = 650;
		
		$('#testcase-markers').resizable({
			handles: "s, e, se",
			maxHeight: maxHeight,
			maxWidth: maxWidth,
			minHeight: 250,
			minWidth: 400,
			alsoResize: "#testcase-markers-container"
		});
		
		$('#testcase-markers').css('height', 400);
		// $('#testcase-markers').css('width', maxWidth);
		
		$('#tips-list').html("<li>" + escapeHTML(feedback[1]) + "<li>");
		
		{% else %}
		
			{% for resp in feedback.response %}
			$('#tips-list').append("<li>" + "{{resp|e('js')}}" + "</li>");
			{% endfor %}
		
		{% endif %}
		
		
		{% if submission.compiler_output %}
		
		var a = $('#compiler-output').html();
		document.getElementById("compiler-output").rows = a.split(/\r\n|\r|\n/).length;
		
		{% endif %}
		
		
		$('.testcase-data textarea').each(function () {			
			$(this).html(addReturnKey($(this).html()));			
		});
		
		// add highlighting for wrong text 
		$('#testcase-outputyrs textarea').highlightWithinTextarea({
			highlight: false
		});
		
		
		// quick edit button
		$('#quick-edit-btn').button().click( function() {
			quickSubmit();		
		});
		
		$('#quick-edit-btn').button('disable');
								
		$('#full-edit-btn').button().click( function() {
			window.location = "{{path('assignment', {'sectionId': submission.problem.assignment.section.id, 'assignmentId': submission.problem.assignment.id, 'problemId': submission.problem.id, 'submissionId': submission.id} )}}";
		});
		 
		
		{% for highlights in feedback.highlights %}
		
		
			{% if highlights.ranges|length == 1 and highlights.ranges[0].index == -1 %}
				
				var txt = $('#{{highlights['id']}}').text();
				
				$('#{{highlights['id']}}').text(txt+" ");
				
				$('#{{highlights['id']}}').highlightWithinTextarea({
					highlight: [txt.length, txt.length+1]
				});
			
			{% else %}
			
				var ranges = [];
				
				{% for range in highlights.ranges %}
				ranges.push([{{range.index}}, {{range.indexEnd}}]);
				{% endfor %}
			
				$('#{{highlights['id']}}').highlightWithinTextarea({
					highlight: ranges
				});
			
			{% endif %}
		
		{% endfor %}
		
		
		{# editor sessions twig #}
		{{ block('editor_onready', 'ace/sessions.twig') }}
	});	
	
	function resized() {
		//console.log("you changed the size!!");
		var width = $("#testcase-markers").width();
		var containerWidth = $("#feedback-holder").width();

		console.log(containerWidth/(.75));

		
		if(width > containerWidth/1.25) { // drop the tips down when the width is big
			$('#feedback-holder').css('display', 'block');
			$('#testcase-markers-container').css('width', '100%');
			$('#feedback').css('width', '100%');
		} else if (width < containerWidth/1.25) {	// move them back
			$('#feedback-holder').css('display', 'flex');
			$('#testcase-markers-container').css('width', 'none');
			$('#feedback').css('width', 'none');
		}
	}

	function quickSubmit(){
		
		$('#quick-edit-btn').hide();
		$('#full-edit-btn').hide();
		
		$('#loading-container').show();
	
		// Create a FormData object
		var formData = new FormData();
		
		var ACE = [];
		{{ block('editor_storecontentsinace', 'ace/sessions.twig') }}		
		formData.append('ACE', JSON.stringify(ACE));
		
		formData.append('problem_id', {{submission.problem.id}});
		formData.append('language', "{{submission.language.id}}");
		formData.append('main_class', "{{submission.main_class_name}}");
		formData.append('package_name', "{{submission.package_name}}");
		
		$.ajax({
			type: "POST",
			url: "{{path('temp_trial_submit')}}",
			data: formData,
			processData: false,
			contentType: false,
			success: function(data){

				console.log(data);
				window.location = data["redirect_url"];
			},
			error: function(data){
				alert(data['responseText']);
				console.log(data['responseText']);
			},
			done: function(){
				$('#loading-container').hide();
				$('#quick-edit-btn').show();
				$('#full-edit-btn').show();
			}
		});
		
	}
	
	
	</script>

{% endblock %}