{% extends 'base.html.twig' %}

{% block title %}
	Submission {{submission.id}} Result
{% endblock %}

{% block body %}

<body>
	{{ include('template/top-nav.html.twig') }}

	<nav class="nav-left">
        <ol style="padding-bottom: 10px">
		  <li style="padding-top: 0px; padding-bottom: 30px"> {{submission.problem.assignment.name}} 
			<div><small>Due on {{submission.problem.assignment.end_time|date('F d')}} {{submission.problem.assignment.end_time|date('\\a\\t  h:i:s A')}} </small></div>
			</li>
			
			{% if submission.problem.assignment.problems|length == 0 %}
			
				<li> There are no problems for this assignment </li>
				
			{% else %}
			
			  {% for prob in submission.problem.assignment.problems %}
					<a href="{{path("assignment", {'userId': app.user.id, 'sectionId': prob.assignment.section.id, 'assignmentId': prob.assignment.id, 'problemId': prob.id})}}">
						<li>
							{{ prob.name }}
							{#<div><small> {{(user_subs[prob.id]*100)|number_format('2', '.')}}% </small></div>#}
						</li>
					</a>
			  {% endfor %}
			  
		  {% endif %}
		  
        </ol>
    </nav>
	
	<section id="main">

		{{ include('template/path-nav.html.twig') }}
	
		<div class="card">
			<h2 style="margin: 0px">{{submission.problem.name}}</h2>
				<div id="courseInfo" class="card-contents">
				<h2>SUBMISSION ID: {{submission.id}}</h2>
				<h3>RESULT: 
					{% if submission.percentage == 1 %}
						<span style="color:green">CORRECT!</span>
					{% else %}
						<span style="color:red">
						{% if submission.compiler_error %}
						COMPILER ERROR!
						{% elseif submission.exceeded_time_limit %}
						TIME LIMIT EXCEEEDED!
						<br/>
						
						{% if submission.testcaseresults|length > 0 %}
							{% for tcr in submission.testcaseresults %}
								Runtime for input {{tcr.testcase.seq_num}}) {{tcr.execution_time/1000}}s
								<br/>
							{% endfor %}
						{% else %}
							Wall clock limit exceeded <br/>
						{% endif %}
						
						{% elseif submission.runtime_error %}
						RUNTIME ERROR!
						{% else %}
						WRONG ANSWER!
						{% endif %}
						</span>
					{% endif %}
				</h3>

				<div id="status">
				{% if submission.questionable_behavior %}
					POSSIBLE MALICIOUS BEHAVIOR DETECTED
				{% endif %}
				
				{% if submission.compiler_error %}
					<h2> COMPILER OUTPUT </h2>
					<hr>
					{{compiler_output}}			
					<hr>
				{% elseif submission.runtime_error %}
					<h2> RUNTIME OUTPUT </h2>
					<hr>
					{% for tc in testcases_output %}
						{{tc.runtime_output}}<br/>			
						<hr>			
					{% endfor %}
				{% endif %}
				
				{% if submission_file != "" %}	
						<h3> SUBMITTED CODE </h3>
						<h4> {{submission.filename}} </h4>
						<hr>
<div id="editor">{{submission_file|nl2br}}</div>
						<hr>
				{% endif %}
			</div>
		</div>
	
	</section>
	
	</body>
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('styles.css') }}" />
<link rel="stylesheet" href="{{ asset('submit.css') }}" />
<link rel="stylesheet" href="{{ asset('home.css') }}" />

{% endblock %}

{% block javascripts %}
    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script src="{{ asset('src-noconflict/ace.js') }}" type="text/javascript" charset="utf-8"></script>

	<script>
		var editor = ace.edit("editor");
		editor.setTheme("ace/theme/xcode");
		editor.getSession().setMode("ace/mode/c_cpp");
	</script>

{% endblock %}