{% block head %}
<title>Gradel | Project {{assignment_id}}</title>
{% endblock %}

{% block body %}

<body>

    {{ include('template/top-nav.html.twig') }}

    <p>{{upload_message}}</p>
        
</body>

{% endblock %}


{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles.css') }}" />
    <link rel="stylesheet" href="{{ asset('submit.css') }}" />
{% endblock %}

{% block scripts %}
    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
{% endblock %}