{% block head %}
<title>Gradel | {{problem.assignment.name}}</title>
{% endblock %}

{% block body %}

<body>
    <div class="topnav" id="myTopnav">
        <a href="{{path('homepage')}}">Home</a>
    </div>

    <nav class="problems">
        <ul>
          {% for prob in problem.assignment.problems %}
            <li>
				<a href="{{path("assignment", {'userId': app.user.id, 'sectionId': prob.assignment.section.id, 'assignmentId': prob.assignment.id, 'problemId': prob.id})}}">{{ prob.name }}</a>
            </li>
          {% endfor %}
        </ul>
    </nav>

    <section id="problemSpec">
       
		<h1>{{problem.name}}</h1>
        <p>{{problemDescription}}</p>
        <div id="editor">function foo(items) {
            var x = "All this is syntax highlighted";
            return x;
        }</div>

        <script src="{{ asset('src-noconflict/ace.js') }}" type="text/javascript" charset="utf-8"></script>
        <script>
            var editor = ace.edit("editor");
            editor.setTheme("ace/theme/xcode");
            editor.getSession().setMode("ace/mode/javascript");
        </script>

        <form action="{{path('upload', {'assignment_id': problem.assignment.id, 'problem_id': problem.id}) }}" method="post" enctype="multipart/form-data">
            Select file to upload:
            <input type="file" name="fileToUpload" id="fileToUpload">
            <input type="submit" value="Upload File" name="submit">
        </form>

        <p>{{upload_message}}</p>

    </section>

</body>

{% endblock %}


{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles.css') }}" />
    <link rel="stylesheet" href="{{ asset('submit.css') }}" />
{% endblock %}

{% block scripts %}
    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
{% endblock %}
