
{% set elevatedUser = grader.isTeaching(app.user, section) or is_granted("ROLE_SUPER") or is_granted("ROLE_ADMIN") %}

<nav class="nav-left">

	{# assignments list #}
	<ol style="padding-top: 0px; padding-bottom: 10px">
		
		<li style="text-align:center"> {{section.name}} 
			
			<div><small>{{section.course.name}}</small></div>
		</li>

		<li class="sidebar" style="text-align:left">
			<strong>Assignments</strong>
			{% if elevatedUser %}
				<object>
					<a title="Create assignment" href={{path('assignment_edit', {'sectionId': section.id})}}>
						<img class="small-icon" id="add-icon" src="{{ asset('add_circle.png') }}">
					</a>
				</object>
			{% endif %}
		</li>
		
		{# past and present assignments #}
		{% for assig in assignments %}

			{% if assig.start_time|date('U') < "now"|date('U')  %}

					<a href={{path('assignment', {'sectionId': assig.section.id, "assignmentId": assig.id})}}>
					
					<li class="sidebar" style="padding-left: 15px">					
				
					<span class="preview">
						<div class="{% if elevatedUser %}sidebar-text{% endif %}">{{ assig.name }}</div>
						<small>
							{% if assig.end_time|date('U') > "now"|date('U') %}

								{{assig.end_time|date('M. d - h:i A')}}

							{% elseif assig.cutoff_time|date('U') > "now"|date('U') %}

								<i style="color: #FF6969"><strong>{{assig.cutoff_time|date('M. d - h:i A')}}</strong></i>

							{% else %}

								<i style="color: #FF6969"><strong>{{assig.cutoff_time|date('M. d - h:i A')}}</strong></i>

							{% endif %}

							{% if app.user in section_takers and (grades[prob.id]['percentage_adj'] > 0  or assig.end_time|date('U') < "now"|date('U')) %}
								<br/>{{grades[app.user.id][assig.id]['num_correct_problems']}}/{{grades[app.user.id][assig.id]['num_problems']}} - {{(grades[app.user.id][assig.id]['percentage_adj']*100)|number_format(1,'.')}}%
							{% endif %}
						</small>
					</span>

					{# display edit icon #}
					{% if elevatedUser %}
						<object>
							<a title="Delete assignment" href="{{path('assignment_delete', {'sectionId': assig.section.id, 'assignmentId': assig.id})}}">
								<img class="small-icon" id="right-icon" src="{{ asset('whitetrash.png') }}">
							</a>
						</object>
						<object>
							<a title="Edit assignment" href="{{path('assignment_edit', {'sectionId': assig.section.id, 'assignmentId': assig.id})}}">
								<img class="small-icon" src="{{ asset('edit.png') }}">
							</a>

						</object>
					{% endif %}
					
					</li>
					
				{#{% if assig.cutoff_time|date('U') > "now"|date('U') %}#}
					</a>
				{#{% endif %}#}

			{% endif %}

		{% else %}

			<li> No Assignments Found </li>

		{% endfor %}
		</ol>
		
		{# future assignments - not open yet #}
		<ol>
		{% for assig in assignments %}

			{% if assig.start_time|date('U') > "now"|date("U") %}
				{% if elevatedUser %}
				<a href={{path('assignment', {'sectionId': assig.section.id, "assignmentId": assig.id})}}>					
				{% endif %}
				
				<li class="sidebar unopened" style="padding-left: 15px">					
					<span class="preview">
						<div class="{% if elevatedUser %}sidebar-text{% endif %}">{{ assig.name }}</div>
						<small style="width: 100%">
							<i>{{assig.start_time|date('M. d - h:i A')}}</i>
						</small>
						
						{% if elevatedUser %}
						<object>
							<a title="Delete assignment" href="{{path('assignment_delete', {'sectionId': assig.section.id, 'assignmentId': assig.id})}}">
								<img class="small-icon" id="right-icon" src="{{ asset('whitetrash.png') }}">
							</a>
						</object>
						<object>
							<a title="Edit assignment" href="{{path('assignment_edit', {'sectionId': assig.section.id, 'assignmentId': assig.id})}}">
								<img class="small-icon" src="{{ asset('edit.png') }}">
							</a>

						</object>
						{% endif %}
						
					</span>
				</li>
				
				{% if elevatedUser %}
				</a>					
				{% endif %}
				
			{% endif %}

		{% endfor %}
		</ol>

		{% if is_granted("ROLE_SUPER") %}
			<a href="{{path('section_edit', {'sectionId': section.id})}}" class="btn">
				<div class="btn btn-center">Edit Section</div>
			</a>
		{% endif %}
		

		
</nav>
