{% if courses is defined and deleted_courses is defined%}

{# Left Nav For the Course List (On the Courses Page) #}
<nav class="nav-left">
	
	<a href="{{path('course_edit')}}" class="btn">
		<div class="btn btn-center">+ Course</div>
	</a>

	<ol style="padding-top: 0px">
		
		<li><strong> Courses </strong></li>
		
		{% for course in courses %}	
		
			<a href="{{path('course_edit', {'courseId':course.id})}}">
				<li class="sidebar" style="padding-left: 15px">
					<span class="preview">
						<div class="sidebar-text"> {{course.name}} </div>
					</span>	
					
					<object>
						<a title="Delete Course" href="{{path('course_delete', {'courseId': course.id})}}">
							<img class="small-icon" id="right-icon" src="{{ asset('whitetrash.png') }}">
						</a>
					</object>
				</li>
			</a>	
			
		{% endfor %}
		
		
	</ol>
	
	<div class="btn btn-center" id="past_courses_button" style="margin-top: 10px; margin-bottom: 0px">&#9660; Show Deleted </div>
	
	{# list of all the deleted courses #}
	<ol id="past_list" style="padding-bottom: 10px; display: none">
		{% for course in deleted_courses %}
			<a href="{{path('course_edit', {'courseId':course.id})}}">
				<li class="sidebar" style="padding-left: 15px">
					<span class="preview">{{course.name}}</span>	
					<object>
						<a title="Open Course" href="{{path('course_delete', {'courseId': course.id})}}">
							<img class="small-icon" style="right: -1" id="right-icon" src="{{ asset('whitetrash.png') }}">
						</a>
					</object>
				</li>
			</a>
		{% else %}
			<li style="padding-left: 15px"> No deleted courses </li>
		{% endfor %}
	</ol>
	
</nav>


{% endif %}