<div class="pathnav" id="myPathNav">
	
	<a href="{{path('homepage')}}"> {{app.user.getFirstName()}}'s Overview&nbsp;</a>
	
	{% if section is defined %}
		>&nbsp;<a href="{{path('section', {'userId': app.user.id, 'sectionId': section.id})}}" >&nbsp;{{section.name}}&nbsp;</a>
	{% endif %}
	
	{% if assignment is defined %}
		>&nbsp;<a href="{{path('assignment', {'userId': app.user.id, 'sectionId': section.id, 'assignmentId': assignment.id})}}" >&nbsp;{{assignment.name}}&nbsp;</a>
	{% endif %}
	
</div>

