{# make sure that the grader entity is defined before doing all of this stuff #}
{% set grades = grader.getAllProblemGrades(app.user, problem.assignment) %}


<nav class="nav-left">

	{% if app.user in section_teachers or is_granted("ROLE_SUPER") %}
		<a href="{{path('problem_new', {"sectionId": section.id, 'assignmentId': assignment.id})}}" class="btn">
			<div class="btn btn-center">+ Problem</div>
		</a>
		<a href="{{path('assignment_delete', {'sectionId': section.id, 'assignmentId': assignment.id})}}" class="btn">
			<div class="btn btn-delete btn-center">Delete Assignment</div>
		</a>
	{% endif %}

	{% if edit %}
		<a id="insert" class="btn"><div class="btn btn-center" href="">Save</div></a>
	{% endif %}
	
	
	<ol style="padding-bottom: 10px">
		{# overview of when the assignment is due #}		
		<li style="padding-top: 0px;"> {{problem.assignment.name}} 
			
			<div><small>
			{% if problem.assignment.start_time|date('U') > "now"|date('U') %}
			
				Opens: {{problem.assignment.start_time|date('M d \\a\\t  h:i A')}}
			
			{% elseif problem.assignment.end_time|date('U') > "now"|date('U') %}
			
				Due: {{problem.assignment.end_time|date('M d \\a\\t  h:i A')}}
			
			{% elseif problem.assignment.cutoff_time|date('U') > "now"|date('U') %}
				Due: {{problem.assignment.end_time|date('M d \\a\\t  h:i A')}} </br>
				<i>Closes: {{problem.assignment.cutoff_time|date('M d \\a\\t  h:i A')}}</i>
				
			
			{% else %}
			
				<i>Closed: {{problem.assignment.cutoff_time|date('M d \\a\\t  h:i A')}}</i>
			
			{% endif %}
			</small></div>
		</li>
		<li text-align="center">
			<strong>Problems:</strong>
		</li>
		
		{# problem list #}
		{% for prob in problem.assignment.problems %}

			{% if prob.id != problem.id or result_page %}
			
					{% if prob.assignment.start_time|date('U') > "now"|date('U') and not is_granted("ROLE_ADMIN") %}
						<li class="sidebar" id="unopened">
					{% else %}
						<li class="sidebar">
						<a href="{{path("assignment", {'sectionId': prob.assignment.section.id, 'assignmentId': prob.assignment.id, 'problemId': prob.id})}}">
					{% endif %}
					
					{{ prob.name }}&nbsp;
					{% if usersectionrole.role.role_name == 'Takes' %}
						<br/><small>{{grades[prob.id]['passed_testcases']+grades[prob.id]['passed_extra_testcases']}}/{{grades[prob.id]['total_testcases']}} - {{(grades[prob.id]['percentage_adj']*100)|number_format(1,'.')}}%</small>
					{% endif %}
				
				{% if prob.id == problem.id %}
					<div class="selectbar" style="margin: 0px; padding: 0px; position: absolute; right:0; top:0; height:100%; width:5px; background-color: #78ba62;" ></div>
				{% endif %}
				
			{% else %}
				<li class="sidebar" style="background: #5a5a5a">
						{{ prob.name }}&nbsp;
						
						{% if usersectionrole.role.role_name == 'Takes' %}
							<br/><small>{{grades[prob.id]['passed_testcases']+grades[prob.id]['passed_extra_testcases']}}/{{grades[prob.id]['total_testcases']}} - {{(grades[prob.id]['percentage_adj']*100)|number_format(1,'.')}}%</small>
						{% endif %}
				<div class="selectbar" style="margin: 0px; padding: 0px; position: absolute; right:0; top:0; height:100%; width:5px; background-color: #78ba62;" ></div>

			{% endif %}

				{# display edit icon #}
				{% if app.user in section_teachers or is_granted("ROLE_SUPER") %}
					<object>
						<a title="Delete Problem" href="{{path('problem_delete', {'sectionId': prob.assignment.section.id, 'assignmentId': prob.assignment.id, 'problemId': prob.id})}}">
							<img class="small-icon" id="right-icon" src="{{ asset('whitetrash.png') }}">
						</a>
					</object>
					<object>
						<a title="Edit Problem" href="{{path('problem_edit', {'sectionId': prob.assignment.section.id, 'assignmentId': prob.assignment.id, 'problemId': prob.id})}}">
							<img class="small-icon" src="{{ asset('edit.png') }}">
						</a>
						
					</object>
				{% endif %}	
				
				</li>
				
				{% if prob.id != problem.id or result_page %}
				</a>
				{% endif %}
			
		{% else %}
			<li> There are no problems for this assignment </li>
		{% endfor %}
	  
	</ol>
</nav>
