{# make sure that the grader entity is defined before doing all of this stuff #}
{% set grades = grader.getAllProblemGrades(app.user, assignment) %}

{% set elevatedUser = grader.isTeaching(app.user, assignment.section) or is_granted("ROLE_SUPER") or is_granted("ROLE_ADMIN") %}

<nav class="nav-left">

	<ol style="padding-top: 0px; padding-bottom: 10px">
		{# overview of when the assignment is due #}		
		<li style="text-align:center">{{assignment.name}} 
			
			<div><small>
			{% if assignment.start_time|date('U') > "now"|date('U') %}
			
				Opens: {{assignment.start_time|date('M. d \\a\\t  h:i A')}}
			
			{% elseif assignment.end_time|date('U') > "now"|date('U') %}
			
				Due: {{assignment.end_time|date('M. d \\a\\t  h:i A')}}
			
			{% elseif assignment.cutoff_time|date('U') > "now"|date('U') %}
				Due: {{assignment.end_time|date('M. d \\a\\t  h:i A')}} </br>
				<i style="color: #FF6969"><strong>Closes: {{assignment.cutoff_time|date('M. d \\a\\t  h:i A')}}</strong></i>
							
			{% else %}
			
				<i style="color: #FF6969"><strong>Closed: {{assignment.cutoff_time|date('M. d \\a\\t  h:i A')}}</strong></i>
			
			{% endif %}
			</small></div></li>
		
		<li class="sidebar" style="text-align:left">
			<strong>Problems</strong>
			{% if elevatedUser %}
				<object>
					<a title="Create problem" href={{path('problem_edit', {"sectionId": section.id, 'assignmentId': assignment.id})}}>
						<img class="small-icon" id="add-icon" src="{{ asset('images/add_circle.png') }}">
					</a>
				</object>
			{% endif %}
		</li>
		
		{# problem list #}
		{% for prob in problem.assignment.problems %}

			{% if prob.id != problem.id or result_page%}
			
				<a href="{{path("assignment", {'sectionId': prob.assignment.section.id, 'assignmentId': prob.assignment.id, 'problemId': prob.id})}}">
			
				<li class="sidebar list-item" style="{%if prob.id == problem.id %}background: #5a5a5a; {%endif%}">			
					<div class="{% if elevatedUser %}sidebar-text{% endif %}">{{ prob.name }}&nbsp;</div>
					
					{% if usersectionrole.role.role_name == 'Takes'%}
						<small>
							{{grades[prob.id]['passed_testcases']+grades[prob.id]['passed_extra_testcases']}}/{{grades[prob.id]['total_testcases']}}
							- 
							{{(grades[prob.id]['percentage_adj']*100)|number_format(1,'.')}}%
						</small>
					{% endif %}
					
					{% if prob.id == problem.id %}
						<div class="selectbar"></div>
					{% endif %}
				
			{% else %}
			
				<li class="sidebar list-item" style="background: #5a5a5a">
					<div class="{% if elevatedUser %}sidebar-text{% endif %}">{{ prob.name }}&nbsp;</div>
						{% if usersectionrole.role.role_name == 'Takes'%}
							<small>
								{{grades[prob.id]['passed_testcases']+grades[prob.id]['passed_extra_testcases']}}/{{grades[prob.id]['total_testcases']}}
								-
								{{(grades[prob.id]['percentage_adj']*100)|number_format(1,'.')}}%
							</small>
						{% endif %}
				
					<div class="selectbar"></div>
				
			{% endif %}

			{# display edit icon #}
			{% if elevatedUser %}
				
				<object>
					<a title="Edit Problem" href="{{path('problem_edit', {'sectionId': prob.assignment.section.id, 'assignmentId': prob.assignment.id, 'problemId': prob.id})}}">
						<img class="small-icon" id="right-icon" src="{{ asset('images/edit.png') }}">
					</a>
					
				</object>
			{% endif %}	
			
			</li>
			
			{% if prob.id != problem.id or result_page %}
			</a>
			{% endif %}
			
		{% else %}
			<li class="sidebar list-item"> There are no problems for this assignment </li>
		{% endfor %}
	  
	</ol>
	
	
	{% if elevatedUser %}
    
		<a href="{{path('assignment_edit', {'sectionId': section.id, 'assignmentId': assignment.id})}}" class="btn">
			<div class="btn btn-center">Edit Assignment</div>
		</a>
	{% endif %}
	
</nav>
