{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/section-nav.css') }}" />
{% endblock %}

{# Left Nav For the Section List (On the homepage) #}
<nav class="nav-left">
	<div class="large-link">
		<a href="{{path('homepage')}}">Home</a>
	</div>
	<div id="SideNavContent"></div>
	<div id="PastLink" class="large-link">
		<a href="{{path('homepage')}}">Past</a>
	</div>

	<div id="SideNavData" data-path="{{path('sidenav_data')}}"
						  data-white-chevron="{{ asset('images/white_chevron.png') }}"
	style="display:none;"></div>
</nav>

{% block scripts %}
	<script src="{{ asset('js/section-nav.js') }}"></script>
	<script src="{{ asset('js/helpers.js') }}"></script>
{% endblock %}