{% if usersectionroles is defined and grades is defined and sections_taking is defined and sections_teaching is defined%}

{# Left Nav For the Section List (On the homepage) #}
<nav class="nav-left">
	
	{% if is_granted("ROLE_SUPER") %}
		<a class="btn">
			<div class="btn btn-center">+ Course</div>
		</a>
	{% endif %}
	
	{% if is_granted("ROLE_ADMIN") or is_granted("ROLE_SUPER") %}
		<a href="{{path('section_modify')}}" class="btn">
			<div class="btn btn-center">+ Section</div>
		</a>
	{% endif %}
	
	{% if usersectionroles|length == 0 %}
		<ol>
			<li> You aren't part of any sections! </li>
		</ol>			
	
	{% else %}
	
		{# list of all the sections being taken #}
		{% if sections_taking|length > 0 %}
		<ol style="padding-bottom: 10px">
			
			{% if sections_teaching|length > 0%}
				<li style="margin: 0px; padding-bottom: 5px"> TAKING: </li> 
			{% endif %}
			
			{% for section in sections_taking %}	
			
				<a href="{{path('section', {'sectionId':section.id})}}">
					<li class="sidebar">
						<span class="preview">{{section.course.name}}
						
							<small>
							<br/>{{section.name}}
							
							{% if grades[section.id]['percentage_adj'] > 0 %}
							
								<br/>{{(grades[section.id]['percentage_adj']*100)|number_format(1, '.') ~ '%'}}
								
							{% endif %}
							
							</small>
						</span>	
					
					{% if app.user in section_teachers or is_granted("ROLE_SUPER") %}
						<object>
							<a title="Edit Section" href="{{path('section_edit', {'sectionId': section.id})}}">
								<img class="small-icon" id="right-icon" src="{{ asset('edit.png') }}">
							</a>
							
						</object>
					{% endif %}	
					
					</li>
				</a>	
			{% endfor %}
		</ol>
		{% endif %}
		
		{# list of all the sections being taught #}
		{% if sections_teaching|length > 0 %}
		<ol style="padding-bottom: 10px">
			{% if sections_taking|length > 0%} <li style="margin: 0px; padding-bottom: 5px"> TEACHING: </li> {% endif %}
			{% for section in sections_teaching %}	
			
				<a href="{{path('section', {'sectionId':section.id})}}">
					<li>
						<span class="preview">{{section.course.name}}
						
							<small>
							<br/>{{section.name}}
							</small>
						</span>	
					
						<object>
							<a title="Edit {{section.name}}" id="edit-icon" href="{{path('section_edit', {'sectionId': section.id})}}">
								<svg xmlns="http://www.w3.org/2000/svg" fill="#ffffff" height="15" viewBox="0 0 24 24" width="15">
									<path d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.39-.39-1.02-.39-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z"/>
									<path d="M0 0h24v24H0z"  fill="none"/>
								</svg>
							</a>							
						</object>					
					</li>
				</a>	
			{% endfor %}
		</ol>
		{% endif %}
	{% endif %}
	
	<div class="btn btn-center" id="past_sections_button">&#9660; Load Past Sections </div>
	
	{# list of all the old sections #}
	<ol id="past_list" style="padding-bottom: 10px; display: none">
		
	</ol>
	
</nav>


{% endif %}