{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/section-nav.css') }}" />
{% endblock %}

{# Left Nav For the Section List (On the homepage) #}
<nav class="nav-left">
	<div class="large-link">
		<a id="HomeLink" href="{{path('homepage')}}">Home</a>
		<span id="ChosenSemester"></span>
	</div>
	<div id="SideNavContent"></div>
	<div id="PastLink" class="large-link">
        <img id="PastChevron" class="nav-chevron" onclick="chevronClick(this, 'past')" src="{{asset('images/white_chevron.png')}}" />
		<span id="PastText" onclick="chevronClick(document.getElementById('PastChevron'), 'past')">Other Terms</span>
	</div>
	<div class="past pastDropdownContainer">
		<label for="Terms">Term: </label>
		<select id="Terms" onchange="changeSelectedTerm(this)">
		</select>
	</div>

	<div id="SideNavData" data-path="{{path('sidenav_data')}}"
						  data-semesters-path="{{ path('sidenav_semester') }}"
						  data-white-chevron="{{ asset('images/white_chevron.png') }}"
	style="display:none;"></div>
</nav>

{% block scripts %}
	<script src="{{ asset('js/section-nav.js') }}"></script>
	<script src="{{ asset('js/helpers.js') }}"></script>
{% endblock %}