<div class="topnav" id="myTopnav">

	{% if app.request.attributes.get('_route') != "contest_scoreboard" %}

		{# logout button #}
		<a href="{{path('user_logout')}}" class="navbuttons">Logout</a>

		{# useful links for contest #}
		{% if "contest" in app.request.attributes.get('_route') %}
		<div id="doc-button" class="navbuttons"> Documentation
		
		</div>
		
		
		<div id="doc-links" style="display: none">
			<a href="https://docs.oracle.com/javase/7/docs/api/" class="navbuttons"> Java </a>
			<a href="http://www.cplusplus.com/doc/tutorial/" class="navbuttons"> C++ </a>		
		</div>
	
		
		{% endif %}
		
		
		{# admin button #}
		{% if is_granted("ROLE_SUPER") or is_granted("ROLE_ADMIN")%}
			<a href="{{path('courses')}}" class="navbuttons">Courses</a>
		{% endif %}


		{# development user changer #}
		{% if not is_granted('ROLE_PREVIOUS_ADMIN') and is_granted('ROLE_SUPER') and user_impersonators|length > 0 %}

			<div class="navbuttons" style="display: flex; flex-direction: row; align-items: center; color: #f2f2f2; font-size:17px; float: right; padding-right:25px">
				Impersonate:&nbsp;
				<select id="impersonateSelect" onchange="setImpersonate()" style="padding: 6px 12px">
					<option value="-">None</option>

					{% for user in user_impersonators %}
						{% if "section" in app.request.attributes.get('_route') %}
							<option value="{{ path(app.request.attributes.get('_route'), {'_switch_user': user.getEmail(), 'sectionId': section.id}) }}">
							
						{% elseif "assignment" in app.request.attributes.get('_route') %}
							<option value="{{ path(app.request.attributes.get('_route'), {'_switch_user': user.getEmail(), 'sectionId': section.id, 'assignmentId': assignment.id}) }}">
					    {% elseif "result" in app.request.attributes.get('_route') %}
							<option value="{{ path(app.request.attributes.get('_route'), {'_switch_user': user.getEmail(), 'sectionId': section.id, 'assignmentId': assignment.id, 'problemId': problem.id, 'submission_id': submission.id}) }}">
						{% elseif "problem" in app.request.attributes.get('_route') %}
							<option value="{{ path(app.request.attributes.get('_route'), {'_switch_user': user.getEmail(), 'sectionId': section.id, 'assignmentId': assignment.id, 'problemId': problem.id}) }}">
						{% else %}
							<option value="{{ path('homepage', {'_switch_user': user.getEmail()}) }}">
						{% endif %}
							
							
						{{user.getFirstName()}} {{user.getLastName()}}</option>
					{% endfor %}
				</select>
			</div>

		{% endif %}

		{% if is_granted('ROLE_PREVIOUS_ADMIN') %}
			<a href="{{ path('section', {'_switch_user': '_exit', 'sectionId': section.id}) }}" class="navbuttons">Exit Impersonation</a>
		{% endif %}
	
	{% else %}
	
		
	{% endif %}
	
	{# logo #}
    <a href="{{path('homepage')}}" id="logo"><img src="{{asset('logo.png')}}" title= "Gradel, Gradel, Gradel, we made it out of code!" id="logo" alt="Gradel"></a>
	<a href="{{path('homepage')}}" id="logoword"><img src="{{asset('gradel.png')}}" title= "Gradel, Gradel, Gradel, we made it out of code!" id="logoword" alt="Gradel"></a>
</div>


<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script>
	// Script to redirect to the selected user
	function setImpersonate(){
		var sel = document.getElementById("impersonateSelect");

		if(sel.options[sel.selectedIndex].value != "-"){
			window.location = sel.options[sel.selectedIndex].value;
		} else{
			console.log("NO");
		}
	}	

	{% if "contest" in app.request.attributes.get('_route') %}
	
	$('#doc-links').hide();
	
	$('#doc-links').css('left', $('#doc-button').offset().left);
			
	$(window).click(function(event) {		
		
		if(event.target.id != "doc-button" && event.target.id != "doc-links"){
			$('#doc-links').hide();
		}
	});
	
	$('#doc-button').click( function() {
			
		if($('#doc-links').is(':hidden')){
			$('#doc-links').show();
			
		} else {
			$('#doc-links').hide();
		}
	
	});
	
	{% endif %}
	
</script>
